<style>

  .formEquipments .update-image span.txtUploadImages {
    visibility: hidden;
  }

  .formEquipments .update-image:hover span.txtUploadImages {
    visibility: visible;
  }
</style>
<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new Equipment' : 'Edit Equipment' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class=" k-form formEquipments">
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-4 col-sm-12 update-image">
        <img id="userImage" class="userimage" src="{{base64ImgFile}}"/>
        <span class="txtUploadImages"><i class="fa fa-camera"></i> Update Photo</span>
        <input type="file" id="uploadEqupImg" class="filebutton" value='choose' size="3" (change)="onFileChange($event)"
               #fileInput>
      </div>
      <div class="col-md-8 col-sm-12">
        <label class="k-form-field">
          <span>
            Equipment Name
            <span class="k-required">*</span>
          </span>
          <input type="text" class="k-textbox" formControlName="name"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.name.valid || editForm.controls.name.untouched">
            Equipment Name is required
          </p>
        </label>
        <label class="k-form-field">
          <span>Serial No</span>
          <input type="text" class="k-textbox" formControlName="serialNo"/>
        </label>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-12 col-sm-12">
        <label class="k-form-field">
          <span>Description</span>
          <input type="text" class="k-textbox" formControlName="description"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.description.valid || editForm.controls.description.untouched">
            Description is required
          </p>
        </label>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Model</span>
          <input type="text" class="k-textbox" formControlName="modelNumber"/>
        </label>
        <label class="k-form-field">
          <span>Equipment Types</span>
          <kendo-dropdownlist formControlName="equipmentTypeId" [data]="fileteredEquiomentList" [textField]="'text'"
                              [valueField]="'value'"
                              [defaultItem]="{'text':'','value':''}" [valuePrimitive]="true" class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="equipmentListHandleFilter($event)">
          </kendo-dropdownlist>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Location</span>
          <input type="text" maxlength="50" class="k-textbox" formControlName="location"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.location.valid || editForm.controls.location.untouched">
            Location is required
          </p>
        </label>
        <label class="k-form-field">
          <span>Manufacturer</span>
          <kendo-dropdownlist formControlName="manufacturerId" [data]="filtermanufacturerIdList" [textField]="'text'"
                              [valueField]="'value'"
                              [defaultItem]="{'text':'','value':''}" [valuePrimitive]="true" class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="ManufacturerIdListHandleFilter($event)">
          </kendo-dropdownlist>
        </label>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Process</span>
          <span class="k-label span-process-name"> {{processName}}</span>
          <button (click)="openProcess()" [ngClass]="{'btn-select-process':processName != undefined}" class="k-button">
            Select
          </button>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>

<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="close(false)" [minWidth]="250" [width]="450">

    <kendo-dialog-actions>
      <button kendoButton (click)="close(true)" primary="true">Close</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

<div class="example-wrapper">

  <kendo-dialog title="Processes" *ngIf="processDialog" (close)="closeOprocessDialog()" [minWidth]="500" [width]="900">
    <div class="col-md-12">
      <div class="row">
        <div style="padding-right: 15px; padding-bottom: 40px">
          <div class="pull-right">
            <input type="search" class="form-control input-sm" [(ngModel)]="processsearchtext"
                   (keyup)="onprocessSearchKeyup()" placeholder="">
          </div>
          <div class="pull-right search-text-width">
            <label>Search:</label>
          </div>
        </div>
      </div>
      <div class="row">
        <kendo-grid [data]="processgridView" [pageSize]="processpageSize" [skip]="processskip" [pageable]="true"
                    [sortable]="{ mode: 'single' }"
                    (pageChange)="processpageChange($event)" [sort]="processsort"
                    (sortChange)="processsortChange($event)" scrollable="none">

          <ng-template kendoGridToolbarTemplate>
            <button (click)="deSelectProcess()" class="k-button k-primary">
              <i class="fa fa-times"></i>&nbsp; No Process
            </button>
          </ng-template>

          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-info></kendo-pager-info>
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
          </ng-template>
          <kendo-grid-column field="processId" title="ProcessId"></kendo-grid-column>
          <kendo-grid-column field="processName" title="Process Name"></kendo-grid-column>
          <kendo-grid-column field="processTypeName" title="Process Type"></kendo-grid-column>
          <kendo-grid-column field="location" title="Location"></kendo-grid-column>
          <kendo-grid-command-column title="" width="40">
            <ng-template kendoGridCellTemplate let-dataItem>
              <button (click)="selectProcess(dataItem)" class="btn btn-xs btn-success"> Select</button>
            </ng-template>
          </kendo-grid-command-column>
        </kendo-grid>
      </div>
    </div>
  </kendo-dialog>
</div>
