<section class="content-header">
  <grid-header (siteSelectionChange)="siteSelectionChange($event)" [pageName]="'Equipment'" [link]="'https://mss-help.drawform.com/articles/equipment-maintenance/equipment/overview/'">
  </grid-header>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">

        <div class="box-footer">
        </div>
        <div kendoDialogContainer></div>
        <div class="col-md-12 table-responsive" id="divEquipmentList">
          <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
            <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
            <span>&nbsp; Loading..</span>
          </div>
          <div *ngIf="loading == false">
            <div class="row">
              <div class="col-xs-12 col-lg-8 col-sm-10 search-text pull-right">
                <div class="col-sm-8 col-md-9 col-xs-12">
                  <div style="float: right !important">
                    <label class="col-md-5 pull-left" style="font-weight: bold; margin-top: 5px;">Equipment Type </label>
                    <div class="col-md-7 pull-left">
                      <kendo-dropdownlist [defaultItem]="defaultEquipmentItem" name="eqipmentTypeId" [(ngModel)]="eqipmentTypeId" [ngModelOptions]="{standalone: true}"
                                          [data]="fileteredEquiomentList" [textField]="'text'" [valueField]="'value'" [valuePrimitive]="true" class="kendoControlWidth pull-left"
                                          [filterable]="true" (selectionChange)="onEquipmentTypeSelectionChange($event)" (filterChange)="equipmentTypeHandleFilter($event)">
                      </kendo-dropdownlist>
                      <div *ngIf="equipmentSaving == true" style="margin-top: 6px; width: 10px; float: left;">
                        <a style="margin-left: 10px;">Updating...</a>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="pull-right col-md-3 col-sm-4 col-xs-12">
                  <div class="funkyradio">
                    <div class="funkyradio-info">
                      <input type="checkbox" name="checkbox" id="chkshowActive" checked="checked">
                      <label for="chkshowActive" (click)="showActive()">Show Active Only</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xs-12">
                <kendo-grid [data]="gridView" [filterable]="true" [filter]="state.filter" [pageSize]="pageSize" [skip]="skip" [pageable]="true"
                            [sortable]="{ mode: 'single' }" (pageChange)="pageChange($event)" (dataStateChange)="dataStateChange($event)"
                            (add)="addHandler($event)" (edit)="editHandler($event)" (cancel)="cancelHandler($event)" (save)="saveHandler($event)"
                            [sort]="sort" (sortChange)="sortChange($event)" (search)="saveHandler($event)" (remove)="removeHandler($event)"
                            scrollable="none" [class.gridLoaderDiv]="gridLoading">

                  <ng-template kendoGridToolbarTemplate>
                    <div *ngIf="gridLoading == true" class="Gridloader"></div>
                    <button kendoGridAddCommand class="k-button k-primary">
                      <i class="fa fa-plus"></i>&nbsp; Add New
                    </button>
                  </ng-template>

                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                  </ng-template>

                  <kendo-grid-command-column title="" width="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)" (itemClick)="onAction($event,dataItem)">
                        <i class="fa fa-pencil-square-o"></i>
                      </kendo-splitbutton>
                    </ng-template>
                  </kendo-grid-command-column>

                  <kendo-grid-column field="name" title="Name">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="serialNo" title="Serial Number">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="modelNumber" title="Model No">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="processName" title="Process">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="location" title="Location">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="manufacturerName" title="Manufacturer">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="equipmentTypeName" title="EquipmentType">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="createdByName" title="Created By">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="createdDateTime" title="Creation Date" filter="date">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.createdDateTime!=null">{{ dataItem.createdDateTime | date:"mediumDate" }}</div>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="active" title="Active" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.active">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.active">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
                <kendo-grid-equipment-form [model]="editDataItem" [isNew]="isNew" (save)="saveHandler($event)" (cancel)="cancelHandler()">
                </kendo-grid-equipment-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="close(false)" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="close(false)">No</button>
      <button kendoButton (click)="close(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
<div class="example-wrapper">

  <kendo-dialog title="Equipment Image" *ngIf="openedimage" (close)="closeImage(false)" [minWidth]="250" [width]="450">
    <div class="text-center">
      <div *ngIf="imageUrl != null">
        <img class="text-center" src="{{imageUrl}}" alt=" " style="max-width: 400px; max-height: 200px;" />
      </div>
      <div *ngIf="imageUrl == null">
        <span>No image found!</span>
      </div>
    </div>
    <kendo-dialog-actions>
      <div class="col-lg-12 pull-right">
        <button class="pull-right" kendoButton (click)="closeImage(true)" primary="true">Close</button>
      </div>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

<div class="example-wrapper">

  <kendo-dialog title="Link Compatible Parts : {{equipmentName}}" *ngIf="linkDialog" (close)="closeDialog()" [minWidth]="500"
                [width]="900">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-5 pull-right" style="padding-right: 33px;">
          <button class="pull-right btn" (click)="closeDialog()">Close</button>
          <button class="pull-right btn btn-success " (click)="saveEquipments()" style="margin-right: 5px;">Save</button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="padding-bottom: 10px;">
          <fieldset class="m-fieldset">
            <legend class="m-legend">Compatible Parts</legend>
            <div>
              <kendo-multiselect [(ngModel)]="linkedEquipments" [textField]="'partName'" [valueField]="'partId'">

              </kendo-multiselect>
            </div>
          </fieldset>
          <span *ngIf="eqvalid" class="text-danger">Already exists</span>
        </div>
        <div class="col-lg-8">
          <fieldset class="m-fieldset">
            <legend class="m-legend">Link Parts</legend>
            <div class="row">
              <div style="padding-right: 15px; padding-bottom: 40px">
                <div class="pull-right">
                  <input type="search" class="form-control input-sm" [(ngModel)]="eqsearchtext" (keyup)="oneqSearchKeyup()" placeholder="">
                </div>
                <div class="pull-right search-text-width">
                  <label>Search:</label>
                </div>
              </div>
            </div>
            <div id="divEquipmentList" class="minheight">
              <div *ngIf="linkgridLoading == true" class="Gridloader"></div>
              <kendo-grid [data]="eqgridView" [pageSize]="eqpageSize" [skip]="eqskip" [pageable]="true" [sortable]="{ mode: 'single' }"
                          (pageChange)="eqpageChange($event)" [sort]="eqsort" (sortChange)="eqsortChange($event)" scrollable="none" [class.gridLoaderDiv]="linkgridLoading">

                <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                  <kendo-pager-info></kendo-pager-info>
                  <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                  <kendo-pager-next-buttons></kendo-pager-next-buttons>
                  <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                </ng-template>

                <kendo-grid-column field="partName" title="Name"> </kendo-grid-column>
                <kendo-grid-command-column title="" width="40">
                  <ng-template kendoGridCellTemplate let-dataItem>
                    <button (click)="linkPart(dataItem)" class="btn btn-xs btn-success"> Link</button>
                  </ng-template>
                </kendo-grid-command-column>
              </kendo-grid>
            </div>
          </fieldset>
        </div>
      </div>
    </div>




  </kendo-dialog>
</div>

<div class="example-wrapper">

  <kendo-dialog title="Related Orders" *ngIf="orderDialog" (close)="closeOrderDialog()" [minWidth]="500" [width]="900">
    <div class="col-md-12">
      <div class="row">
        <div style="padding-right: 15px; padding-bottom: 40px">
          <div class="pull-right">
            <input type="search" class="form-control input-sm" [(ngModel)]="ordersearchtext" (keyup)="onorderSearchKeyup()" placeholder="">
          </div>
          <div class="pull-right search-text-width">
            <label>Search:</label>
          </div>
        </div>
      </div>
      <div class="row">
        <kendo-grid [data]="ordergridView" [pageSize]="orderpageSize" [skip]="orderskip" [pageable]="true" [sortable]="{ mode: 'single' }"
                    (pageChange)="orderpageChange($event)" [sort]="ordersort" (sortChange)="ordersortChange($event)" scrollable="none">

          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-info></kendo-pager-info>
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
          </ng-template>
          <kendo-grid-column field="orderTypeName" title="OrderType"> </kendo-grid-column>
          <kendo-grid-column field="priorityDescription" title="Priority"> </kendo-grid-column>
          <kendo-grid-column field="dueDate" title="DueDate">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div *ngIf="dataItem.dueDate!=null">{{ dataItem.dueDate | date:"mediumDate" }}</div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="description" title="Description"> </kendo-grid-column>
          <kendo-grid-column field="createdByName" title="Created By"> </kendo-grid-column>
          <kendo-grid-column field="createdDateTime" title="Creation Date">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div *ngIf="dataItem.createdDateTime!=null">{{ dataItem.createdDateTime | date:"mediumDate" }}</div>
            </ng-template>
          </kendo-grid-column>
          <kendo-grid-column field="active" title="Active">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div *ngIf="dataItem.active">
                <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
              </div>
              <div *ngIf="!dataItem.active">
                <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
              </div>
            </ng-template>
          </kendo-grid-column>
        </kendo-grid>
      </div>
    </div>
  </kendo-dialog>
</div>
