<section class="content-header">
  <h3 class=""> Manage Role </h3>
</section>

<section class="content">

  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">

        <div class="box-footer"></div>
        <div class="col-md-12 table-responsive" id="divManufacturerList">
          <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
            <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
            <span>&nbsp; Loading..</span>
          </div>
          <div *ngIf="loading == false">
            <div class="row">
              <div class="col-lg-12 search-text">
                <div class="pull-right">
                  <div class="funkyradio">
                    <div class="funkyradio-info">
                      <input type="checkbox" name="checkbox" id="chkshowWorkspaceTeamActive" checked="checked">
                      <label for="chkshowActive" (click)="showActive()">Show Active Only</label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-12">
                <kendo-grid [data]="gridView"
                            [filterable]="true"
                            [filter]="state.filter"
                            [pageSize]="pageSize"
                            [skip]="skip"
                            [pageable]="true"
                            [sortable]="{ mode: 'single' }"
                            (pageChange)="pageChange($event)"
                            (dataStateChange)="dataStateChange($event)"
                            (add)="addHandler($event)"
                            (edit)="editHandler($event)"
                            (cancel)="cancelHandler($event)"
                            (save)="saveHandler($event)"
                            [sort]="sort"
                            (sortChange)="sortChange($event)"
                            (search)="saveHandler($event)"
                            (remove)="removeHandler($event)"
                            scrollable="none"
                            [class.gridLoaderDiv]="gridLoading">

                  <ng-template kendoGridToolbarTemplate>
                    <div *ngIf="gridLoading == true" class="Gridloader"></div>
                    <button class="k-button k-primary" (click)="addNewRole()"><i class="fa fa-plus"></i>&nbsp; Add New
                    </button>
                  </ng-template>

                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                  </ng-template>
                  <kendo-grid-command-column title="" width="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)"
                                         (itemClick)="onAction($event,dataItem)">
                        <i class="fa fa-pencil-square-o"></i>
                      </kendo-splitbutton>
                    </ng-template>
                  </kendo-grid-command-column>

                  <kendo-grid-column field="roleName" title="Worksapce Role Name">
                  </kendo-grid-column>

                  <kendo-grid-column field="canCreateWorkspaces" title="Can Create Work spaces" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.canCreateWorkspaces">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.canCreateWorkspaces">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>

                  <kendo-grid-column field="globalWorkspaceViewing" title="Global Workspace Viewing"
                                     [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.globalWorkspaceViewing">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.globalWorkspaceViewing">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="globalWorkspaceAdmin" title="Global Workspace Admin" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.globalWorkspaceAdmin">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.globalWorkspaceAdmin">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="active" title="Active" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.active">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.active">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="close(false)" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="close(false)">No</button>
      <button kendoButton (click)="close(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

<kendo-dialog *ngIf="addRoleFlag" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ addRoleFlag ? 'Add New Role' : 'Edit Role' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="roleForm" class="k-form">
    <div class=" row">
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <span>Role Name  <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="roleName"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="roleForm.controls.roleName.valid || roleForm.controls.roleName.untouched">
            Role Name is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <input type="checkbox" id="GlobalWorkspaceViewing" formControlName="globalWorkspaceViewing"
                 class="k-checkbox">
          <label class="k-checkbox-label" for="GlobalWorkspaceViewing">&nbsp; Global Workspace Viewing</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="GlobalWorkspaceAdmin" formControlName="globalWorkspaceAdmin" class="k-checkbox">
          <label class="k-checkbox-label" for="GlobalWorkspaceAdmin">&nbsp; Global Workspace Admin</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="CanCreateWorkspaces" formControlName="canCreateWorkspaces" class="k-checkbox">
          <label class="k-checkbox-label" for="CanCreateWorkspaces">&nbsp; Can Create Workspaces</label>
        </label>
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="closeAddRoleForm()">Cancel</button>
    <button class="k-button k-primary" [disabled]="!roleForm.valid" (click)="saveRoleData()">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
