<section class="content-header">
  <grid-header (siteSelectionChange)="siteSelectionChange($event)"
               [pageName]="'Part'"
               [link]="'https://mss-help.drawform.com/articles/equipment-maintenance/master-data/parts/'">
  </grid-header>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">
        <div class="box-footer">
        </div>
        <div class="col-md-12 table-responsive" id="divPartList">
          <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
            <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
            <span>&nbsp; Loading..</span>
          </div>
          <div *ngIf="loading == false">
            <div class="row">
              <div class="col-xs-12 search-text">
                <div class="pull-right">
                  <div class="funkyradio">
                    <div class="funkyradio-info">
                      <input type="checkbox" name="checkbox" id="chkshowActive" checked="checked">
                      <label for="chkshowActive" (click)="showActive()">Show Active Only</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <kendo-grid [data]="gridView"
                            [filterable]="true"
                            [filter]="state.filter"
                            [pageSize]="pageSize"
                            [skip]="skip"
                            [pageable]="true"
                            [sortable]="{ mode: 'single' }"
                            (pageChange)="pageChange($event)"
                            (dataStateChange)="dataStateChange($event)"
                            (add)="addHandler($event)"
                            (edit)="editHandler($event)"
                            (cancel)="cancelHandler($event)"
                            (save)="saveHandler($event)"
                            [sort]="sort"
                            (sortChange)="sortChange($event)"
                            (search)="saveHandler($event)"
                            (remove)="removeHandler($event)"
                            scrollable="none"
                            [class.gridLoaderDiv]="gridLoading">

                  <ng-template kendoGridToolbarTemplate>
                    <div *ngIf="gridLoading == true" class="Gridloader"></div>
                    <button kendoGridAddCommand class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp; Add New
                    </button>
                  </ng-template>

                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                  </ng-template>

                  <kendo-grid-command-column title="" width="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)"
                                         (itemClick)="onAction($event,dataItem)">
                        <i class="fa fa-pencil-square-o"></i>
                      </kendo-splitbutton>
                    </ng-template>
                  </kendo-grid-command-column>

                  <kendo-grid-column field="partName" title="Part Name">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="partQuantity" title="PartQuantity" filter="numeric"></kendo-grid-column>
                  <kendo-grid-column field="partReOrderLevel" title="PartReOrderLevel"
                                     filter="numeric"></kendo-grid-column>
                  <kendo-grid-column field="createdByName" title="Created By">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="createdDateTime" title="Creation Date" filter="date">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.createdDateTime!=null">{{ dataItem.createdDateTime | date:"mediumDate" }}
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="isStockItem" title="Stock" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.isStockItem">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.isStockItem">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="active" title="Active" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.active">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.active">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
                <kendo-grid-part-form [model]="editDataItem" [isNew]="isNew"
                                      (save)="saveHandler($event)"
                                      (cancel)="cancelHandler()">
                </kendo-grid-part-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="example-wrapper">
  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="close(false)" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="close(false)">No</button>
      <button kendoButton (click)="close(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

<div class="example-wrapper">

  <kendo-dialog title="Link Compatible Equipments : {{partName}}" *ngIf="linkDialog" (close)="closeDialog()"
                [minWidth]="500" [width]="900">
    <div class="col-md-12">

      <div class="row">
        <div class="col-md-4 col-sm-12" style="padding-bottom: 10px;">
          <div style="padding-bottom: 10px;">
            <fieldset class="m-fieldset">
              <legend class="m-legend">Compatible Equipments</legend>
              <div>
                <kendo-multiselect [(ngModel)]="linkedEquipments"
                                   [textField]="'name'"
                                   [valueField]="'equipmentId'">
                </kendo-multiselect>
              </div>
            </fieldset>
            <span *ngIf="eqvalid" class="text-danger">Already exists</span>
          </div>
        </div>
        <div class="col-md-8 col-sm-12">
          <fieldset class="m-fieldset">
            <legend class="m-legend">Link Equipments</legend>
            <div class="row">
              <div style="padding-right: 15px;">
                <div class="pull-right searchdiv" style="margin-bottom: 8px;">
                  <input type="search" class="form-control input-sm" [(ngModel)]="eqsearchtext"
                         (keyup)="oneqSearchKeyup()" placeholder="Search Keyword">
                </div>
                <div class="pull-right search-text-width">
                  <label>Search</label>
                </div>
              </div>
            </div>
          </fieldset>
          <div id="divEquipmentList" class="minheight">
            <div *ngIf="linkgridLoading == true" class="Gridloader"></div>
            <kendo-grid [data]="eqgridView"
                        [pageSize]="eqpageSize"
                        [skip]="eqskip"
                        [pageable]="true"
                        [sortable]="{ mode: 'single' }"
                        (pageChange)="eqpageChange($event)"
                        [sort]="eqsort"
                        (sortChange)="eqsortChange($event)"
                        scrollable="none"
                        [class.gridLoaderDiv]="linkgridLoading">

              <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                <kendo-pager-info></kendo-pager-info>
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
              </ng-template>

              <kendo-grid-column field="name" title="Name"></kendo-grid-column>
              <kendo-grid-command-column title="" width="40">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <button (click)="linkEquipment(dataItem)" class="btn btn-xs btn-success"> Link</button>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>
          </div>
        </div>

      </div>
    </div>
    <kendo-dialog-actions>
      <button kendoButton (click)="closeDialog()">Close</button>
      <button kendoButton (click)="saveEquipments()" primary="true">Save</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
