﻿<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new Part' : 'Edit Part' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-12">
        <label class="k-form-field">
          <span>Part Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="partName"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.partName.valid || editForm.controls.partName.untouched">
            Part Name is required
          </p>
        </label>
        <label class="k-form-field">
          <span>ReOrder Level</span>
          <input type="number" class="k-textbox" formControlName="partReOrderLevel"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.partReOrderLevel.valid || editForm.controls.partReOrderLevel.untouched">
            ReOrder Level is required
          </p>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="StockItem" formControlName="isStockItem" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="StockItem">&nbsp; Stock Item</label>
        </label>
        <label class="k-form-field">
          <span>Part Quantity</span>
          <input type="number" class="k-textbox" formControlName="partQuantity"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.partQuantity.valid || editForm.controls.partQuantity.untouched">
            Part Quantity is required
          </p>
        </label>
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>