.template {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.dropdown-img {
    display: inline-block;
    background: #333;
    color: #fff;
    border-radius: 50%;
    margin: 8px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.dot {
    display: inline-block;
    background: green;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    width: 10px;
    height: 10px;
    text-align: center;
}

.bg-lightgrey {
    background: lightgrey;
}

.width-20 {
    width: 20px;
}

.height-20 {
    height: 20px;
}

.projecttaskdetailspopup .k-overlay {
    opacity: 0.4;
}

/*.circle:before {
  content: ' \25CF';
  font-size: 20px;
}*/
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.color-border-active {
    padding: 2px;
    border: 2px solid #8d919a;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    float: left;
    margin-right: 5px;
}

.color-transparent {
    border-color: transparent !important;
}

i.fa-bcircle {
    display: inline-block;
    border-radius: 50px;
    box-shadow: 0px 0px 2px #888;
    padding: 8px 8px;
}

.projecttaskdetailspopup .k-window {
    /*width: 600px;
    height: 700px;*/
    z-index: 999999;
}
