<div class="table-responsive">
  <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
    <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
    <span>&nbsp; Loading..</span>
  </div>
  <div *ngIf="loading == false">
    <kendo-grid [data]="gridView"
                [sortable]="false"
                [pageable]="false"
                [filterable]="false"
                (dataStateChange)="dataStateChange($event)">

      <ng-template kendoGridToolbarTemplate>
        <div *ngIf="gridLoading == true" class="Gridloader"></div>
        <button style="float: left;" kendoGridAddCommand class="k-button k-primary" (click)="onDocumentOpen()"><i
            class="fa fa-plus"></i>&nbsp; Add New
        </button>
      </ng-template>

      <kendo-grid-command-column title="" width="100">
        <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
          <kendo-splitbutton [data]="actionData(dataItem)" (buttonClick)="onAction($event,dataItem)"
                             (itemClick)="onAction($event,dataItem)">
            <i class="fa fa-external-link"></i>
          </kendo-splitbutton>
        </ng-template>
      </kendo-grid-command-column>
      <kendo-grid-column field="fileName" title="File Name">
      </kendo-grid-column>
      <kendo-grid-column field="modified" title="Modified Date" filter="date">
        <ng-template kendoGridCellTemplate let-dataItem>
          <div *ngIf="dataItem.modified!=null">{{ dataItem.modified | date:"mediumDate" }}</div>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="editor" title="Modified By">
        <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
          <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
            <kendo-filter-contains-operator></kendo-filter-contains-operator>
            <kendo-filter-eq-operator></kendo-filter-eq-operator>
            <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
            <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
          </kendo-grid-string-filter-cell>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>


<kendo-dialog title="Please Confirm" *ngIf="isDeleteOpenConfirmation" (close)="unlinkComfirmation(false)"
              [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center;">Are you sure you want to unlink?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="unlinkComfirmation(false)">No</button>
    <button kendoButton (click)="unlinkComfirmation(true)" primary="true">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog title="Please Confirm" *ngIf="isPublishConfirmation" (close)="onPublishComfirmation(false,true)"
              [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center;">Are you sure you want to publish?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="onPublishComfirmation(false)">Reject</button>
    <button kendoButton (click)="onPublishComfirmation(true)" primary="true">Approve</button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-linkedDocument-form [isDocumentOpen]="isOpenDocument"
                           [(model)]="paramUploadDocumentDTO"
                           [moduleType]="moduleType"
                           [objectType]="objectType"
                           [objectId]="objectId"
                           (cancel)="onCancelLinkedDocumentForm()"></kendo-linkedDocument-form>
