<style>
  .projecttaskCompletepopup .k-window {
    width: 600px !important;
    height: 700px !important;
    z-index: 999999 !important;
  }
</style>
<kendo-dialog *ngIf="isCompleteTask" class="taskcompletedDialog" [minWidth]="250" [width]="450" [height]="250">
  <kendo-dialog-titlebar>
    Task Complete
  </kendo-dialog-titlebar>
  <p style="margin: 30px; text-align: center;">
    <kendo-dropdownlist [(ngModel)]="taskWorkFlowResult"
                        [data]="taskWorkFlowOption" class="kendoControlWidth" required>
    </kendo-dropdownlist>
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="completeTaskAction(false)">Cancel</button>
    <button kendoButton (click)="completeTaskAction(true)" primary="true">Complete</button>
  </kendo-dialog-actions>
</kendo-dialog>
