<style>
  .txtErrorMessgr {
    font-size: 12px;
    float: right;
    position: relative;
    bottom: 4px;
    right: 4px;
  }

  .boxUserLists {
    position: absolute;
    width: 100%;
    z-index: 9999;
    border: 1px solid #ddd;
    background: #fff;
    padding: 2px;
    top: 48px;
  }

  .boxUserLists span.txt {
    color: #fff;
    font-size: 18px;
  }

  .boxUserLists span i.fa {
    color: #fff;
    cursor: pointer;
  }

  .boxUserLists .boxHeaders {
    padding: 6px;
    border-bottom: 1px solid #ddd;
    display: flow-root;
    background: #5bb2e4;
  }

  .PopupinCheckList {
    position: absolute;
    top: 3px;
    right: 6px;
  }

  .PopupinCheckList span i {
    color: #666;
    padding: 8px 10px;
    z-index: 99999;
  }

  .PopupinCheckList span i:hover {
    background: #3c8dbc;
    cursor: pointer;
    color: #fff;
  }

  .PopupinCheckList .UlPopupinCheckList {
    background: #fff;
    min-width: 140px;
    padding: 0;
    z-index: 9999;
    position: absolute;
    top: 30px;
    right: 0;
    margin: 0;
    border: 1px solid #ddd;
    display: none;
  }

  .PopupinCheckList:hover .UlPopupinCheckList {
    display: block !important;
  }

  .PopupinCheckList .UlPopupinCheckList li {
    list-style: none;
  }

  .PopupinCheckList .UlPopupinCheckList li a {
    text-decoration: none;
    display: block;
    padding: 8px 16px;
    border: 1px solid #ddd;
    border-width: 0px 0 1px 0;
  }

  .PopupinCheckList .UlPopupinCheckList li a:hover {
    background: #4f98c2;
    color: #fff;
  }

  .deleteBtn:hover {
    background: red !important;
    color: #fff !important;
  }

  .btnNewCreateDtask {
    background: #fff;
    border: 1px solid #ddd;
    padding: 3.4px 12px;
    border-radius: 3px;
    color: #0770bb;
  }

  .btnNewCreateDtask:hover {
    background: #3c8dbc;
    color: #fff;
  }

  .taskplusdropdown .subbtnTask span a:hover {
    background: orangered;
    color: #fff;
  }
</style>
<div style="position: relative">
  <span class="loaderTasklist" *ngIf="!isDataLoaded"><i class="fa fa-refresh fa-spin" style="font-size:25px"></i></span>
  <kendo-projects-task-detail [selectedProject]="project"
                              [openDetailViewer]="isTaskDetailOpen"
                              (onCheckListUpdateFlag)="checkListUpdateFlag($event)"
                              (closeDetailViewer)="onCLoseRaskDetailClose()"
                              [userModeInfo]="userPermissionModel"
                              [(model)]="projectTaskDto"
                              [projectUserAssignedToList]="projectUserAssignedToListDto"
                              [projectTagList]="projectTagListDto"></kendo-projects-task-detail>
  <div class="tastlistboxMain">
    <div class="tastlistbox">
      <div class="inputBoxList">
        <input type="text" class="taskinput" [disabled]="!checkUserPermission('add')"
               (keydown)="updateTaskListNameHandler($event,$event.target.value)"
               value="{{projectTaskListDto.projectTaskListName}}"/>
        <span class="taskedit"><i class="fa fa-pencil"></i></span>
      </div>
      <div *ngIf="checkUserPermission('add')">
        <div class="taskplusbox">
          <span class="taskPlus" (click)="addTaskToggale(projectTaskListDto.projectTaskListId)"><i
              class="fa fa-plus"></i></span>
          <form novalidate [formGroup]="taskForm">
            <ul class="dropdown-menu taskplusdropdown" *ngIf="isAddTaskShow">
              <li>
                <textarea [focus]="projectTaskNameFocus" (keydown.enter)="addNewTaskkeyPress($event)"
                          formControlName="projectTaskName" class="plusTexrare" placeholder="Create a new Task"
                          rows="2"></textarea>
                <p class="k-tooltip k-tooltip-validation txtErrorMessgr"
                   [hidden]="taskForm.controls.projectTaskName.valid || taskForm.controls.projectTaskName.untouched">
                  Task Name is required!
                </p>
              </li>
              <li class="subIconlist">
                <span (click)="newTaskAdd('user')"><i class="fa fa-user-plus"></i></span>
                <span (click)="newTaskAdd('tag')"><i class="fa fa-tag"></i></span>
                <span (click)="newTaskAdd('dueDate')"><i class="k-icon k-i-calendar"></i></span>
              </li>

              <li *ngIf="newFunctionalities === 'user'">
                <!--// for user-->
                <div class="boxUserLists">
                  <div class="boxHeaders"><span class="pull-left txt">Assigned to</span><span class="pull-right"
                                                                                              (click)="newTaskAdd('')"><i
                      class="fa fa-times"></i></span></div>
                  <kendo-multiselect [data]="selectListDto" formControlName="assignedTo"
                                     (filterChange)="userHandleFilter($event)"
                                     [filterable]="true"
                                     [textField]="'text'" [valueField]="'value'">
                    <ng-template kendoMultiSelectTagTemplate let-dataItem>
                    <span class="template">
                      <img class="template" onError="this.src = 'assets/img/no_avatar.png'"
                           src="{{dataItem.userAvatar}}"/>
                    </span>
                      <span>{{ dataItem.text }}</span>
                    </ng-template>
                    <ng-template kendoMultiSelectItemTemplate let-dataItem>

                    <span>
                      <img class="dropdown-img" onError="this.src = 'assets/img/no_avatar.png'"
                           src="{{dataItem.userAvatar}}"/>

                    </span>
                      <span>{{ dataItem.text }}</span>
                    </ng-template>
                  </kendo-multiselect>
                </div>
              </li>

              <li *ngIf="newFunctionalities === 'tag'">
                <!--For Tag-->
                <div class="boxUserLists">
                  <div class="boxHeaders"><span class="pull-left txt">Tags</span><span class="pull-right"
                                                                                       (click)="newTaskAdd('')"><i
                      class="fa fa-times"></i></span></div>
                  <kendo-multiselect [data]="selectedprojectTagListDto"
                                     formControlName="tags"
                                     (filterChange)="tagHandleFilter($event)"
                                     [filterable]="true"
                                     [textField]="'tagName'" [valueField]="'workspaceTagMasterId'">
                    <ng-template kendoMultiSelectTagTemplate let-dataItem>
                      <span class="label label-primary" [ngStyle]="{'background-color':  dataItem.tagColor }">{{ dataItem.tagName }}</span>
                    </ng-template>
                    <ng-template kendoMultiSelectItemTemplate let-dataItem>
                      <span class="label label-primary" [ngStyle]="{'background-color':  dataItem.tagColor }">{{ dataItem.tagName }}</span>
                    </ng-template>
                  </kendo-multiselect>
                </div>
              </li>

              <li *ngIf="newFunctionalities ==='dueDate'">
                <!--For DueDate-->
                <div class="boxUserLists">
                  <div class="boxHeaders"><span class="pull-left txt">Due Date</span><span class="pull-right"
                                                                                           (click)="newTaskAdd('')"><i
                      class="fa fa-times"></i></span></div>
                  <kendo-datepicker formControlName="dueDate"></kendo-datepicker>
                </div>
              </li>
              <li class="subbtnTask pull-right">
                <span><a href="javascript:void(0)" (click)="closeTaskForm()">Cancel</a></span>
                <span><button href="javascript:void(0)" [disabled]="!taskForm.valid" class="btnNewCreateDtask disabled"
                              (click)="AddNewTask()">Create</button></span>
              </li>
            </ul>
          </form>
        </div>
        <div class="taskmorebox">
          <span class="taskmore dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></span>
          <ul class="dropdown-menu taskmoredropdown">
            <li><a href="javascript:void(0)" (click)="deleteTasklisthandler(projectTaskListDto)" class="deleteTaskList">Delete
              Tasklist</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <span class="activePanelbottm" *ngIf="project.useTaskPoints"><i class="fa fa-thumbs-up"></i>  <span>{{projectTaskListDto.numTasksWithPoints}} tasks with points</span><span
      class="pull-right"><i>{{projectTaskListDto.numActivePoints + projectTaskListDto.numCompletedPoints}} points</i></span></span>
  <span class="activePanelbottm"><i class="fa fa-clock-o"></i>  <span>{{projectTaskListDto.numTasksWithTimeSpent}} tasks with time spent</span><span
      class="pull-right"><i>{{getHoursMins(projectTaskListDto.numMinutesSpent)}}</i></span></span>

  <!--<div style="float: right">
    <span style="float: right" class="k-icon k-i-circle"></span>
  </div>-->

  <kendo-sortable [(data)]="unCompleteTaskData"
                  zone="innerZone"
                  class="kendoSortableSub"
                  [itemStyle]="{'border': '0px', 'opacity':'1', 'cursor': 'move'}"
                  emptyText="Currently no task"
                  [emptyItemStyle]="{'height': '30px', 'border': '1px dashed #ddd','padding':'5px','color':'#3c8dbc'}"
                  [activeItemStyle]="{'border': '1px solid #ddd', 'opacity':'0.7'}"
                  (dragEnd)="onTaskDragEnd(unCompleteTaskData, $event)"
                  (dataAdd)="onTaskAdd(unCompleteTaskData, $event)"
                  (dataRemove)="onTaskRemove(unCompleteTaskData, $event)"
                  (dragOver)="onTaskDragOver(unCompleteTaskData, $event)"
                  (dragStart)="onTaskDragStart(unCompleteTaskData, $event)">
    <ng-template let-item="item">

      <!--<div class="k-form">
        <div id="mainTask" class="k-form-field projectMainTasks">
          <input type="checkbox" id="{{'cbProjTask_'+ item.projectTaskId}}" class="k-checkbox" [ngModel]="item.active" [checked]="item.active" (change)="completedTaskHandler($event, !item.active, item)" />
          <label class="k-checkbox-label" for="{{'cbProjTask_'+ item.projectTaskId}}">{{item.projectTaskName}}</label>
          <app-projectTaskCheckList [taskInfo]="item" [userModeInfo]="userPermissionModel"></app-projectTaskCheckList>
        </div>

      </div>-->
      <div id="mainTask" class="projectMainTasks" *ngIf="checkIsRestrictedUser(item)">

        <div id="{{'taskclass_'+ item.projectTaskId}}" draggable="true" class="taskclassmain"
             [ngStyle]="{'border-color':  item.labelColor }">
          <span class="checkboxMain">
            <input id="{{'taskcompleted'+ item.projectTaskId}}" class="check" type="checkbox" [(ngModel)]="item.active"
                   (change)="completedTaskHandler($event, !item.active, item)"/>
            <span class="checkmark"></span>
          </span>
          <label (click)="toggleClass(item.projectTaskId,item)" id="{{'mainTaskupLable_'+ item.projectTaskId}}"
                 style="border: none; position: relative;">
            <span class="label-text taskNametop"
                  context-menu="whateverEventHandler($event)">{{item.projectTaskName}}</span>
            <div *ngIf="project.useTaskPoints" style="position: absolute; top: 7px;right: 30px;">
              <div [innerHTML]="addDotsToPoints(item.points)">
              </div>
            </div>
            <!--here-->

          </label>
          <div class="PopupinCheckList">
            <span><i class="fa fa-ellipsis-v"></i></span>
            <ul class="UlPopupinCheckList">
              <li><a href="javascript:void(0)" (click)="duplicateTaskhandler(item)">Duplicate task</a></li>
              <li><a href="javascript:void(0)" (click)="movetoTophandlerhandler(item)"
                     *ngIf="item.taskListSortOrder != 0">Move to top</a></li>
              <li><a href="javascript:void(0)" (click)="movetoBottomTaskhandler(item)"
                     *ngIf="item.taskListSortOrder != unCompleteTaskData.length">Move to bottom</a></li>
              <li><a href="javascript:void(0)" class="deleteBtn" (click)="deleteTaskhandler(item)">Delete</a></li>
            </ul>
          </div>
          <app-projectTaskCheckList [taskInfo]="item"
                                    [userModeInfo]="userPermissionModel"
                                    [isView]="true"></app-projectTaskCheckList>
        </div>
      </div>
    </ng-template>
  </kendo-sortable>
  <div *ngIf="allCompletedTaskListFlag" class="completedTask">
    <div class="completeTaskTitle">
      <span>Completed Task</span>
    </div>
    <div *ngFor="let item of activeData">
      <div id="{{'taskclass_'+ item.projectTaskId}}" draggable="true" class="taskclassmain completedTaskbtm"
           [ngStyle]="{'border-color':  item.labelColor }">
        <span class="checkboxMain">

          <input id="{{'mainTaskup_'+ item.projectTaskId}}" class="check" type="checkbox" [(ngModel)]="item.active"
                 (change)="completedTaskHandler($event, !item.active, item)"/>
          <span class="checkmark"></span>
        </span>
        <input class="check" type="checkbox"/>
        <label (click)="toggleClass(item.projectTaskId,item)" id="{{'mainTaskupLable_'+ item.projectTaskId}}"
               style="border: none;">
          <span class="label-text taskNametop">{{item.projectTaskName}}</span>
          <div *ngIf="project.useTaskPoints" style="position: absolute; top: 7px;right: 30px;">
            <div [innerHTML]="addDotsToPoints(item.points)">
            </div>
          </div>
        </label>
        <div class="PopupinCheckList">
          <span><i class="fa fa-ellipsis-v"></i></span>
          <ul class="UlPopupinCheckList">
            <li><a href="javascript:void(0)" (click)="deleteTaskhandler(item)">Delete</a></li>
          </ul>
        </div>
        <app-projectTaskCheckList [taskInfo]="item" [userModeInfo]="userPermissionModel"
                                  [isView]="true"></app-projectTaskCheckList>
      </div>
    </div>
  </div>

  <span class="activePanelbottm"
        *ngIf="!allCompletedTaskListFlag"><span>{{unCompleteTaskData.length}} Active Task</span><span class="pull-right"
                                                                                                      (click)="completedTaskList()"><a>{{numTaskCompletedCounter}} Completed Task</a></span></span>
  <span class="activePanelbottm" *ngIf="allCompletedTaskListFlag"><span>{{unCompleteTaskData.length}} Active Task</span><span
      class="pull-right" (click)="completedTaskList()"><a>Hide completed tasks</a></span></span>


  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="deleteTask(false)" [minWidth]="250" [width]="450"
                [height]="250">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="deleteTask(false)">No</button>
      <button kendoButton (click)="deleteTask(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
  <app-projectTaskCompleted [projectTask]="projecTaskDTO" [isOpen]="isCompleteTask"
                            (onApprrovedOrRejected)="completeTaskAction($event)"></app-projectTaskCompleted>

</div>
