
.userimage {
    height: 125px;
    width: 115px;
}

.update-image span {
    height: 49px;
    width: 140px;
    background-color: black;
    color: white;
    padding: 8px 6px;
    position: relative;
    z-index: 20;
    top: -25px;
    opacity: 0.3;
    cursor: pointer;
}

.update-image .filebutton {
    filter: alpha(opacity=10);
    margin-top: -43px;
    opacity: 0;
    position: relative;
    z-index: 50;
    cursor: pointer;
    margin-left: -87px;
}

.m-fieldset {
    padding: .35em .625em .75em;
    margin: 0 2px;
    border: 1px solid #c0c0c0;
}

.m-legend {
    margin-bottom: 7px;
    border: none;
    width: auto
}

.padding-right {
    padding-right: 10px;
}

.span-process-name {
    width: auto;
    float: left;
}

.btn-select-process {
    float: right;
}

div.minheight {
    min-height: 445px;
}

.kendoControlWidth {
    width: 180px !important;
}
