body {
    background: none !important;
}

.notificationPanel {
    background: #ececec;
}

.notificationMain {
    padding: 35px 0 0 0;
    background: #ececec;
}

.notificationMain .timeBox {
    background: #215c86;
    color: #fff;
    width: 55px;
    height: 55px;
    padding: 6px;
    float: left;
    text-align: center;
    font-size: 14px;
}

.notificationMain .timeBox p {
    margin: 0 0 2px !important;
}

.notificationMain .titles h2 {
    color: #222;
    position: relative;
    left: 30px;
    font-size: 21px;
}

.notificationMain .rightMenu ul {
    padding: 0px;
    margin: 22px 0 0 0px;
}

.notificationMain .rightMenu ul li {
    list-style: none;
    display: inline-block;
}

.notificationMain .rightMenu ul li a {
    text-decoration: none;
    color: #222 !important;
    padding: 0 6px;
    border-right: 1px solid #999;
    font-size: 12px;
}

/*================== Pannel content ================*/
.boxPanel {
    background: #fff;
    padding-bottom: 10px;
}

.PanelContent {
    background: #fff;
    margin: 35px 0 0 0;
    padding: 10px 0;
}

.PanelContent .timeBox {
    color: #444;
    padding: 10px;
    float: left;
    text-align: center;
    font-size: 14px;
}

.PanelContent .timeBox p {
    margin: 0 0 2px !important;
    font-size: 12px;
    color: #676f75;
}

.PanelContent .rightMenu ul {
    padding: 0px;
    margin: 12px 0 0 0px;
}

.PanelContent .rightMenu ul li {
    list-style: none;
    display: inline-block;
}

.PanelContent .rightMenu ul li a {
    text-decoration: none;
    color: #84a2b5 !important;
    padding: 0 6px;
    font-size: 12px;
}

/*details Table*/

.detailTable {
    background: #fff7ea;
    border-bottom: 1px solid #ddd;
    margin: 0px !important;
    padding: 6px;
}

.detailTable .txt p {
    margin: 0px;
    font-size: 14px;
    display: inline-block;
    position: relative;
    color: #676f75;
}

.detailTable .imgBox p {
    left: 16px;
    position: relative;
    top: 2px;
}

.detailTable .txt span {
    margin: 0px;
    font-size: 12px;
    color: #676f75;
}

.detailTable .txt img {
    margin: 0px;
    padding: 0;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    right: 0;
    top: 1px;
    border: 1px solid #676f75;
}
