<div class="boxPanel" *ngIf="pinnedNotification.length > 0 && showHide">
  <div class="row PanelContent">
    <div class="col-sm-6">
      <div class="timeBox">
        <p>Pinned</p>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="rightMenu">
        <ul class="pull-right">
          <li>
            <a (click)="markAsAllReadNotification(pinnedNotification)" style="cursor: pointer">Mark all as read</a>
            <span><i class="fa fa-circle" style="font-size: 9px;"></i></span>
            <a (click)="clearAllNotification(pinnedNotification)" style="cursor: pointer">Clear all</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row detailTable" *ngFor="let notification of pinnedNotification;let idx = index"
       [ngClass]="{ 'notification-isRead': notification.isRead }">
    <div class="col-sm-4">
      <div class="txt imgBox text-left">
        <div class="pull-left" *ngIf="notification.notificationUserAvatar">
          <img src="{{notification.notificationUserAvatar}}" (error)="updateUrl(notification)"/>
        </div>
        <div class="pull-left" *ngIf="!notification.notificationUserAvatar">
          <img src="assets/img/no_avatar.png"/>
        </div>
        <p style="margin-top: 8px;">{{notification.createdByName}} </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="txt text-left">
        <a href="javascript:void(0);" (click)="navigateToPage(notification)">
          <p>{{notification.DisplayNotificationText}}</p><br/>
          <span><i class="fa fa-folder-open">{{notification.parentObjectDisplay}}</i></span>
        </a>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="txt text-right">
        <p>{{notification.createdDateTime | date:'MMMM d,h:mm a'}}</p>
        <span class="newUpdateBtn">
          <i (click)="exclusionOptions(notification,idx, item)" class="fa fa-envelope fa-6 transfom-section"
             aria-hidden="true" title="Notification Options"></i>
          <i (click)="markAsReadNotification(notification,true)" class="fa fa-long-arrow-down fa-6 transfom-section"
             aria-hidden="true" title="Mark As Read"></i>
          <i (click)="pinNotification(notification,idx,notification.orderByDate)"
             class="restoreIcon pinUpdateBtn fa fa-thumb-tack" aria-hidden="true" title="Unpin"></i>
          <i (click)="clearNotification(notification,idx,notification.orderByDate)" class="deleteIcon fa fa-times"
             aria-hidden="true"></i>
        </span>
      </div>
    </div>
  </div>

</div>
