<style>
  .popupBoxList .k-window-content {
    margin: 0 auto !important;
  }

  .popupBoxList .k-window {
    min-width: 300px !important;
  }
</style>
<h3 class="col-md-3 pull-left" style="margin: 0;"> {{page}} </h3>

<div>
  <div class="pull-right">
    <div *ngIf="workspaceSaving == true" style="margin-top: 6px;" class="pull-left">
      <a style="margin-right: 20px;">Updating... </a>
    </div>
    <label class="pull-left" style="font-weight: bold; margin-top: 5px;">Workspace : </label>
    <kendo-dropdownlist
        name="workspaceIdDropdown"
        [(ngModel)]="selectedWorkspaceId"
        [ngModelOptions]="{standalone: true}"
        [data]="workspaceList"
        [textField]="'text'"
        [valueField]="'value'"
        required
        [valuePrimitive]="true"
        class="kendoControlWidth pull-left"
        [filterable]="true"
        (selectionChange)="onWorkspaceSelectionChange($event)"
        (filterChange)="workspaceHandleFilter($event)">
    </kendo-dropdownlist>

  </div>
</div>

<div class="clearfix"></div>


<kendo-dialog title="Select current workspace" *ngIf="isWorkspanceNotSeletected" [minheight]="500" class="popupBoxList">
  <kendo-dropdownlist
      name="workspaceIdDropdown"
      [(ngModel)]="selectedWorkspaceId"
      [ngModelOptions]="{standalone: true}"
      [data]="workspaceList"
      [textField]="'text'"
      [valueField]="'value'"
      required
      [valuePrimitive]="true"
      class="kendoControlWidth pull-left"
      [filterable]="true"
      (selectionChange)="onWorkspaceSelectionChange($event)"
      (filterChange)="workspaceHandleFilter($event)">
  </kendo-dropdownlist>
</kendo-dialog>

<kendo-grid-workspace-form [model]="workspacedetails" [isNew]="isNew"
                           (cancel)="cancelHandler($event)">
</kendo-grid-workspace-form>

<kendo-dialog title="UnAuthorized" *ngIf="isCreatWorkspanceAuth" (close)="closeAuthForm()" [minheight]="500">
  <label class="k-label">You doesn't have rights to create new workspace.</label>
</kendo-dialog>
