.kendoItemStyle {
    float: left;
    display: inline-block;
    width: 350px;
    min-width: 350px;
    max-width: 350px;
    background-color: #fff;
    margin: 4px;
    cursor: move;
    opacity: 1;
    /*z-index: 99;*/
    height: fit-content;
}

.kendoSortableSub {
    border: solid #eee;
    position: relative;
    border-width: 0px 1px;
}

.active {
    cursor: move !important;
    opacity: 1 !important;
    /*z-index: 99999999;*/
}

.empty {
    display: none !important;
}

.projecttasklistpopupDeleteConfirm .k-window {
    width: 250px !important;
    height: 250px !important;
}

.projecttasklistpopup .k-window {
    width: 100%;
    height: 100vh;

}

.projecttasklistpopup .k-window-content {
    overflow: unset !important;
    padding: 0 !important;
}

/*.projecttasklistpopup .k-window {
  height: 100vh !important;
}*/
/*TaskList Top Header*/
.tastlistbox {
    background: #3c8dbc;
    padding: 3px 0px;
    position: relative;
}

.tastlistbox .taskinput {
    padding: 4px 8px;
    border-radius: 3px;
    border: none;
    background: #3c8dbc;
    color: #fff;
    font-weight: bold;
    position: relative;
    left: 7px;
    margin: 4px 0 5px 0;
}

.tastlistbox .taskinput:hover {
    border: none;
    background: #246184;
    color: #fff;
    cursor: pointer;
    display: block
}

.inputBoxList {
    position: relative;
    display: inline-flex;
}

.inputBoxList:hover .taskedit {
    display: block !important;
}

.tastlistbox .taskedit {
    color: #ddd;
    position: absolute;
    top: 9px;
    right: 0;
    display: none;
    font-size: 11px;
}

.tastlistbox .taskinput:focus {
    border: none;
    background: #fff;
    color: #000;
    cursor: text;
}

.taskmorebox {
    position: relative;
}

.tastlistbox .taskmore {
    position: absolute;
    color: #FFF;
    right: 8px;
    top: -38px;
    cursor: pointer;
    padding: 11px 15px;
}

.tastlistbox .taskmore:hover {
    background: #0468a2;
}

.taskPlus {
    position: absolute;
    color: #FFF;
    right: 35px;
    cursor: pointer;
    top: 0px;
    padding: 11px 12px;
}

.taskPlus:hover {
    background: #0468a2;
}

.taskmoredropdown {
    display: none;
    width: 100px;
    left: unset !important;
    right: 1px;
    margin: 0px;
    padding: 0px;
    background: #eee;
    border: none;
    top: 4px;
    border-radius: 0 !important;
}

.taskmoredropdown li a {
    background: #fff;
    border-bottom: 1px solid #ddd;
    padding: 10px !important;
}

.taskmoredropdown .deleteTaskList {
    color: #e95e51;
}

.taskmoredropdown .deleteTaskList:hover {
    background: #e95e51;
    color: #fff;
}

.tastlistbox .taskmorebox:hover .taskmoredropdown {
    display: block;
}

/*.taskplusbox:hover .taskplusdropdown {
  display: block !important;
}*/

.taskplusdropdown {
    display: block;
    width: 100%;
    margin: 0px 0 0px;
    padding: 0px;
    background: #fff;
    border: none;
    box-shadow: none !important;
    border-radius: 0 !important;
    position: relative !important;
    z-index: 200 !important;
    border: 5px solid #89b6d0;
    border-top: none;
}

.taskplusdropdown a {
    padding: 7px 20px !important;
    border-bottom: 1px solid #eee;
}

.taskplusdropdown .plusTexrare {
    width: 100%;
    border: none;
    padding: 4px 10px;
    vertical-align: middle;
    background: #f9f9f9;
    resize: vertical;
}

.taskplusdropdown .subIconlist {
    padding: 10px;
}

.taskplusdropdown .subIconlist span {
    padding: 0 10px;
    color: #999;
    cursor: pointer;
}

.taskplusdropdown .subIconlist span:hover {
    color: #333;
}

.taskplusdropdown .subbtnTask {
    position: relative;
    right: 6px;
    margin: 6px 0;
}

.taskplusdropdown .subbtnTask span a {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 3px;
    padding: 3px 15px !important;
}

.tastlistboxMain .tasklistul li {
    text-decoration: none;
    display: block;
}

.tastlistboxMain .tasklistul .pointPanel {
    padding: 3px 6px 2px;
    background: #3b7292;
    color: #ddd;
    display: inline-block;
    width: 100%;
    font-size: 12px;
}

.activePanelbottm {
    padding: 3px 10px 3px;
    background: #4f98c2;
    color: #ddd;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    display: block;
}

.activePanelbottm a {
    color: #f1ffff;
}

.activePanelbottm a:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

/*Task Add Button*/

.AddtaskBtn {
    border: none;
    background: #27b6ba;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    top: 5px;
    height: 45px;
    width: 200px;
    margin: 0 35px 0 4px;
}

.AddtaskBtn:hover {
    background: #3c8dbc;
}

.AddTaskInputBox {
    background: #27b6ba;
    padding: 8px;
    position: relative;
    top: 4px;
    display: block;
    margin-right: 80px;
}

.AddTaskInputBox input {
    background: #27b6ba;
    padding: 5px 8px 4px 8px;
    color: #fff;
    border: none;
    border-radius: 4px;
    opacity: 1;
    font-weight: bold;
    cursor: pointer;
}

.AddTaskInputBox input::placeholder {
    color: #fff;
}

.AddTaskInputBox input:focus::placeholder {
    color: #444;
}

.AddTaskInputBox input:focus {
    opacity: 1;
    background: #fff;
    padding: 5px 8px 4px 8px;
    color: #000;
    border: none;
    border-radius: 4px;
    opacity: 1;
    font-weight: bold;
    text-align: left;
    cursor: auto;
}

.AddTaskInputBox input:focus ~ .AddtaskInputClose {
    opacity: 1;
    background: #dc3545;
    transform: rotate(0deg)
}

.AddtaskInputClose {
    position: absolute;
    top: 12px;
    right: 17px;
    padding: 1px 4px;
    background: transparent;
    border-radius: 59px;
    width: 20px;
    height: 20px;
    color: #fff;
    cursor: pointer;
    opacity: 1;
    transform: rotate(45deg)
}

.taskclass label {
    margin: 0px;
    background: #fff;
    color: #323742;
    overflow: hidden;
    padding: 10px;
    width: 100%;
    display: block;
    border: 1px solid #eee;
}

.taskclass label:hover {
    background: #f5f5f5;
}

.taskclass label:hover {
    color: green;
}

.taskclass label input.check:checked + .label-text {
    color: #000 !important;
    font-weight: bold;
}

.kendoSortable {
    display: inline-flex !important;
}

.subtaskss {
    padding: 0px 10px 0px 10px;
    border-bottom: 3px double #d4d4d4;
}

.mainTaskup {
    color: #fff !important;
    background: #27b6ba !important;
}

.taskclass {
    background: #fff;
    position: relative;
    color: #fff !important;
}

.taskclass input {
    border: none;
    padding: 6px 10px;
    background: #fff;
    width: 100%;
    margin: 0px;
    border: double #dcdcdc;
    border-width: 0px 0 0 3px;
}

.txtAddnewCheckList {
    padding: 5px 5px 5px 45px !important;
    width: 100%;
    margin: 0px;
    background: #fff !important;
    border: 1px solid #e2e2e2 !important;
    color: #444;
}

.txtAddnewCheckList:focus {
    padding: 5px 5px 5px 45px !important;
    width: 100%;
    margin: 0px;
    background: #fff !important;
    border: 1px solid #e2e2e2 !important;
}

.taskclass input:hover {
    background: none;
}

.taskclass input:focus {
    background: #fff
}

.taskclassmain {
    border-left: 5px solid #eaeaea;
    position: relative;
}

.taskclassmain label {
    margin: 0px;
    background: #fff;
    color: #323742;
    overflow: visible;
    padding: 8px 0 8px 36px;
    width: 100%;
    display: block;
}

.taskclassmain .check {
    margin: 4px 4px 0 0;
    position: absolute;
    top: 7px;
    left: 12px;
    background: white !important;
    width: 19px;
    height: 15px;
}

.checklistSub {
    top: 11px !important;
}

.taskclassmain label:hover {
    background: #f5f5f5;
}

.checkListDelete {
    position: absolute;
    top: 2px;
    right: 0px;
    padding: 10px;
    cursor: pointer;
    color: #ff8e8e;
}

/*========= cHECKbOX =====================*/

.checkboxMain {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxMain input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 999999999;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 10px;
    left: 12px;
    height: 15px;
    width: 15px;
    background-color: #ddd;
    z-index: 99;
}

/* On mouse-over, add a grey background color */
.checkboxMain:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxMain input:checked ~ .checkmark {
    background-color: #3c8dbc;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxMain input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxMain .checkmark:after {
    left: 5px;
    top: 0px;
    width: 6px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg) scale(0.7);
}

.taskNametop {
}

.checkboxMainBtm {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxMainBtm input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 999999999 !important;
    top: 9px !important;
    width: 19px;
    height: 16px;
    left: 6px !important;
}

/* Create a custom checkbox */
.checkmarkBtm {
    position: absolute;
    top: 13px;
    left: 7px;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkboxMainBtm:hover input ~ .checkmarkBtm {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkboxMainBtm input:checked ~ .checkmarkBtm {
    background-color: #27b6ba;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmarkBtm:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxMainBtm input:checked ~ .checkmarkBtm:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxMainBtm .checkmarkBtm:after {
    left: 5px;
    top: 0px;
    width: 6px;
    height: 15px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg) scale(0.7);
}

.subtaskListtxt {
    padding: 3px 0px 3px 30px !important;
}

.seeAllitemTask a {
    width: 100%;
    background: #ffffff;
    color: #3d92c3;
    text-align: center;
    padding: 5px;
    font-size: 12px;
    line-height: 1;
    border-bottom: 1px solid #e6e8ec;
    box-shadow: 0 0 2px #ddd;
    display: block;
}

.formAddnewTask {
    position: relative;
    overflow: hidden;
}

.formAddnewTask .btnAddtaskList {
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    padding: 5px 9px;
    color: #3c8dbc;
    font-size: 14px;
    border: 1px solid #dcdcdc;
    border-right: double #dcdcdc;
    cursor: default;
}

.formAddnewTask p {
    color: #d51923;
    padding: 2px;
    margin: 0px;
    position: relative;
    right: 0;
    background: #fff;
    width: 100%;
    font-size: 12px;
}

.formAddnewTask p span {
    text-align: center;
    position: relative;
    left: 33px;
}

.completedTask {
    background: #eee;
    padding: 0px;
}

.completedTask .completeTaskTitle {
    width: 100%;
    padding: 10px 15px;
}

.completedTask .completeTaskTitle span {
    color: #464c59;
    font-size: 14px;
    font-weight: bold;
}

.completedTaskbtm label {
    background: none !important;
}

.loaderTasklist {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    opacity: 0.4;
    width: 100%;
    height: 100%;
    background: #fff;
}

.loaderTasklist i {
    color: #3c8dbc;
    position: absolute;
    top: 56%;
    left: 45%;
    transform: translate(-50%, -50%);
}

/*POPUP TASKLIST*/

.popupTaskList .taskclass input {
    padding: 8px 10px !important;
}

.popupTaskList .checkboxMainBtm input {
    top: 13px !important;
}

.popupTaskList .checkmarkBtm {
    top: 13px !important;
    left: 9px !important;
    z-index: 99999;
}

.popupTaskList .txtAddnewCheckList {
    padding: 10px 45px !important;
}

.popupTaskList .txtAddnewCheckList:focus {
    padding: 10px 45px !important;
}

.popupTaskList .formAddnewTask .btnAddtaskList {
    padding: 10px !important;
}

.popupTaskList .subtaskListtxt input {
    width: 94%;
    background: #fff;
    padding: 4px 10px !important;
}

.popupTaskList .subtaskListtxt {
    padding: 7px 0px 7px 30px !important;
    position: relative;
}

.popupTaskList .subtaskListtxt:hover {
    background: #fff !important;
}

.popupTaskList .subtaskListtxt input:hover {
    background: #e6e8ec;
    cursor: pointer;
    border-radius: 6px 6px;
}

.popupTaskList .subtaskListtxt input:focus {
    background: #fff;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    border-radius: 0px;
    outline: none !important;
}

.popupTaskList .subtaskListtxt span {
    position: absolute;
    top: 10px;
    right: 38px;
    display: none;
}

.subInputHover:hover .subtaskListtxt span, .subInputHover:focus .subtaskListtxt span {
    display: block !important;
}

.popupTaskList .checkListDelete {
    top: 0px;
}

/*Popup Top Tabbar*/
.projecttaskdetailspopup ul.k-reset.k-tabstrip-items {
    background: #fff;
    border: 1px solid #fff;
}

.projecttaskdetailspopup ul.k-reset li.k-item {
    width: 33%;
    text-align: center;
    border: none;
    border-bottom: 2px solid #fafafa;
}

.projecttaskdetailspopup ul.k-reset.k-tabstrip-items li.k-item span {
    padding: 12px !important;
    display: block !important;
}

.projecttaskdetailspopup ul.k-reset.k-tabstrip-items li span:hover {
    background: #fafafa;
}

.projecttaskdetailspopup .k-tabstrip ul.k-reset.k-tabstrip-items .k-item.k-state-active {
    border-bottom: 2px solid #27b6ba !important;
}

.projecttaskdetailspopup .k-tabstrip div.k-content {
    background: #fafafa;
    padding-top: 12px;
}

.projecttaskdetailspopup kendo-tabstrip button.k-button {
    padding: 4px 18px;
    float: right;
    border-radius: 0px;
    border: none;
}

.projecttaskdetailspopup kendo-tabstrip textarea.form-control {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color: #222;
}

.projecttaskdetailspopup kendo-tabstrip textarea.form-control::placeholder {
    font-weight: bold;
    color: #27b6ba;
    opacity: 1;
}

.projecttaskdetailspopup kendo-tabstrip textarea.form-control:hover {
    background: #eee;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

.projecttaskdetailspopup kendo-tabstrip span.textareaBox {
    position: relative;
    padding: 0;
    display: flex;
    font-weight: normal;
    width: 85%;
}

.projecttaskdetailspopup kendo-tabstrip .textareaBox i.fa {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

.projecttaskdetailspopup kendo-tabstrip span.textareaBox:hover i.fa {
    display: block !important;
}

.projecttaskdetailspopup .hrCustom {
    height: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    display: block;
    unicode-bidi: isolate;
    box-sizing: content-box;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
}

.projecttaskdetailspopup kendo-tabstrip ul.list-group li.list-group-item {
    border: none;
    background: transparent;
    border-bottom: 1px solid #eee;
}

input {
    outline: none;
}

.projecttaskdetailspopup .colorInputBox {
    display: inline-block;
}

.projecttaskdetailspopup .colorInputBox input {
    width: 24px;
    height: 24px;
    border-radius: 50px;
    border: 1px solid #eee;
    cursor: pointer;
    margin: 0 5px;
    border: 2px solid transparent;
    opacity: 0.4;
}

.projecttaskdetailspopup .colorInputBox input.active {
    opacity: 1 !important;
    border: 2px solid #fff;
    box-shadow: 0 0 3px #000;
}

.projecttaskdetailspopup .colorInputBox input:hover {
    border: 2px solid #666;
    opacity: 1;
    transform: scale(1.1);
}

.projecttaskdetailspopup kendo-tabstrip ul.list-group li label {
    position: relative;
    top: 6px;
}

.popupTaskDetailTags span.template {
    display: inline-block !important;
    background: #3c8dbc;
    color: #fff;
    border-radius: 50px;
    padding: 4px;
    width: 24px;
    height: 24px;
    font-size: 12px;
}

.popupTaskDetailTags span.template:hover {
    background: #3c8dbc;
}

.popupTaskDetailTags span.k-select {
    background: none;
    color: red;
}

/*Spend Time*/

.projecttaskdetailspopup .spendTimeBoxul {
    padding: 10px;
    border: 0px solid #c2c2c2;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 0px;
    left: 14px;
    width: 100%;
}

.projecttaskdetailspopup .spendTimeBoxul li {
    list-style: none;
}

.projecttaskdetailspopup .spendTimeBoxul .recordTime {
    width: 100%;
    list-style: none;
    position: relative;
    cursor: pointer;
}

.txtRecordes {
    font-weight: bold;
    color: #656565;
    position: relative;
    top: 6px;
}

.projecttaskdetailspopup .spendTimeBoxul .recordTime span {
    position: absolute;
    top: 6px;
    right: 4px;
    color: #444;
}

/*Timepeaker*/

.projecttaskdetailspopup .spendTimeBoxul .timeSet kendo-timepicker .k-dateinput-wrap input {
    font-size: 24px;
    margin: 0 15px;
}

.projecttaskdetailspopup .spendTimeBoxul .btntimeSet {
    margin: 6px 0;
}

.projecttaskdetailspopup .spendTimeBoxul .btntimeSet a {
    background: #62c276;
    color: #fff;
    text-align: center;
    text-decoration: none;
    display: block;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.projecttaskdetailspopup .btnAddTimePeakers {
    background: #dcdcdc;
}

.projecttaskdetailspopup .btnAddTimePeakers i.fa {
    font-size: 18px;
    display: block;
    padding: 8px 10px;
    cursor: pointer;
}

.projecttaskdetailspopup .btnAddTimePeakers i.fa:hover {
    background: #3c8dbc;
    color: #fff;
}

.projecttaskdetailspopup .btnSetTimePeakers {
    background: #e2e2e2;
    padding: 8px 10px;
    border-radius: 8px;
    margin: 0 8px;
}

.btnProjectSetting {
    background: #1d5e82;
    border-radius: 0px;
    border: 1px solid #8bc1e1;
}

.btnListofTask {
    padding: 6px 0;
}

.btnListofTask .label {
    line-height: 1.3 !important;
    padding: 2px 11px;
    border-radius: 8px;
    margin: 1px;
    display: -webkit-inline-box !important;
}

.imgTaskListBox {
    float: right;
    position: relative;
    bottom: 6px;
}

.imgTaskListBox img {
    width: 28px;
    height: 28px;
    border-radius: 50px;
    border: 1px solid #999;
    padding: 2px;
}

.txtColorRed {
    color: red !important;
}

.txtColorblue {
    color: #3c8dbc !important;
}

.txtColorBlack {
    color: #000000 !important;
}

.txtColorhide {
    display: none
}
