<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
  <div class="EQM_logo">EQM</div>
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar left-sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <!--<shared-nav-menu></shared-nav-menu>-->

      <li routerLinkActive="link-active active">
        <a [routerLink]="['/eqmaintenance/notifications']" (click)="this.treeViewActive=false">
          <i class="fa fa-calendar"></i> <span>Notification</span>
        </a>
      </li>

      <li>
        <a href="javascript:void(0);">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>
      <li class="treeview" [class.active]="treeViewActive">
        <a href="javascript:void(0);">
          <i class="fa fa-table"></i> <span style="top: 5px">Master Data</span>
        </a>
        <ul class="treeview-menu">
          <li routerLinkActive="link-active active"><a [routerLink]="['/eqmaintenance/manufacturer']"
                                                       (click)="activeMenu('manufacturer')"><i
              class="fa fa-circle-o"></i> Manufacturer</a></li>
          <li routerLinkActive="link-active active"><a [routerLink]="['/eqmaintenance/part']"
                                                       (click)="activeMenu('part')"><i class="fa fa-circle-o"></i> Part</a>
          </li>
          <li routerLinkActive="link-active active"><a [routerLink]="['/eqmaintenance/scheduletype']"
                                                       (click)="activeMenu('scheduletype')"><i
              class="fa fa-circle-o"></i> Schedule Type</a></li>
          <li routerLinkActive="link-active active"><a [routerLink]="['/eqmaintenance/ordertype']"
                                                       (click)="activeMenu('ordertype')"><i class="fa fa-circle-o"></i>
            Order Type</a></li>
          <!--<li routerLinkActive="link-active active"><a [[routerLink]]="['/workcenter']"><i class="fa fa-circle-o"></i> Work Center</a></li>-->
          <li routerLinkActive="link-active active"><a [routerLink]="['/eqmaintenance/failure-type']"
                                                       (click)="activeMenu('failure-type')"><i
              class="fa fa-circle-o"></i> Failure Type</a></li>
          <li routerLinkActive="link-active active"><a [routerLink]="['/eqmaintenance/priority']"
                                                       (click)="activeMenu('priority')"><i class="fa fa-circle-o"></i>
            Priority</a></li>
          <li routerLinkActive="link-active active"><a [routerLink]="['/eqmaintenance/pmreason']"
                                                       (click)="activeMenu('pmreason')"><i class="fa fa-circle-o"></i>
            PM Inactive</a></li>
          <li routerLinkActive="link-active active"><a [routerLink]="['/eqmaintenance/status']"
                                                       (click)="activeMenu('status')"><i class="fa fa-circle-o"></i>
            Status</a></li>

        </ul>
      </li>
      <li routerLinkActive="link-active active"><a [routerLink]="['/eqmaintenance/equipment']"
                                                   (click)="this.treeViewActive=false"><i
          class="fa fa-minus-square"></i><span> Equipment</span></a></li>
      <li routerLinkActive="link-active active">
        <a [routerLink]="['/eqmaintenance/pmschedule']" (click)="this.treeViewActive=false">
          <i class="fa fa-calendar"></i> <span>PM Schedules</span>
        </a>
      </li>
      <li routerLinkActive="link-active active">
        <a [routerLink]="['/eqmaintenance/orders']" (click)="this.treeViewActive=false">
          <i class="fa fa-first-order"></i> <span>Orders</span>
        </a>
      </li>
    </ul>

  </section>
  <!-- /.sidebar -->
</aside>

<!--<div class='main-nav'>
  <div class='navbar navbar-inverse'>
      <div class='navbar-header'>
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' [[routerLink]]="['/home']">WebApplicationBasic</a>
      </div>
      <div class='clearfix'></div>
      <div class='navbar-collapse collapse'>
          <ul class='nav navbar-nav'>
              <li [[routerLink]Active]="['link-active']">
                  <a [[routerLink]]="['/home']">
                      <span class='glyphicon glyphicon-home'></span> Home
                  </a>
              </li>
              <li [[routerLink]Active]="['link-active']">
                  <a [[routerLink]]="['/counter']">
                      <span class='glyphicon glyphicon-education'></span> Counter
                  </a>
              </li>
              <li [[routerLink]Active]="['link-active']">
                  <a [[routerLink]]="['/fetch-data']">
                      <span class='glyphicon glyphicon-th-list'></span> Fetch data
                  </a>
              </li>
          </ul>
      </div>
  </div>
</div>-->
