<section class="content-header">
  <grid-header-tool (siteSelectionChange)="siteSelectionChange($event)" [pageName]="'Update Prints'">
  </grid-header-tool>
</section>


<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">
        <div class="box-footer">
        </div>
        <div class="col-md-12 table-responsive" id="divManufacturerList">
          <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
            <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
            <span>&nbsp; Loading..</span>
          </div>

          <div *ngIf="loading == false">
            <div class="pull-right">
              <div class="funkyradio">
                <div class="funkyradio-info">
                  <input type="checkbox" name="checkbox" id="chkshowIncomplete" checked="checked">
                  <label for="chkshowIncomplete" (click)="onShowIncomplete()">Show Incomplete Only</label>
                </div>
              </div>
            </div>
            <div class="row">

              <div class="col-lg-12">
                <kendo-grid [data]="gridView" [filterable]="true" [filter]="state.filter" [pageSize]="pageSize"
                            [skip]="skip" [pageable]="true"
                            [sortable]="{ mode: 'single' }" (pageChange)="pageChange($event)"
                            (dataStateChange)="dataStateChange($event)"
                            (add)="addHandler($event)" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
                            (save)="saveHandler($event)" [sort]="sort" (sortChange)="sortChange($event)"
                            (search)="saveHandler($event)"
                            (remove)="removeHandler($event)" scrollable="none" [class.gridLoaderDiv]="gridLoading">

                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                  </ng-template>
                  <kendo-grid-command-column title="" width="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <small *ngIf="userSetting.isEngineer">
                        <button (click)="onAction($event,dataItem)" class="btn btn-default">
                          <i class="fa fa-pencil"></i>
                        </button>
                      </small>
                    </ng-template>
                  </kendo-grid-command-column>
                  <kendo-grid-column field="requisitionId" title="Req No." filter="numeric">
                  </kendo-grid-column>
                  <kendo-grid-column field="toolNumber" title="Tool">
                  </kendo-grid-column>
                  <kendo-grid-column field="station" title="Station">
                  </kendo-grid-column>
                  <kendo-grid-column field="detail" title="Detail">
                  </kendo-grid-column>
                  <kendo-grid-column field="requisitionStatusName" title="Status">
                  </kendo-grid-column>
                  <kendo-grid-column field="material" title="Material">
                  </kendo-grid-column>
                  <kendo-grid-column field="orderedByName" title="Order By Name">
                  </kendo-grid-column>
                  <kendo-grid-column field="updatePrintCompletedByName" title="Completed By User">
                  </kendo-grid-column>
                  <kendo-grid-column field="updatePrintCompleted" title="Update Print Completed">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.updatePrintCompleted">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.updatePrintCompleted">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                  -g -g

                </kendo-grid>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="example-wrapper">
  <kendo-dialog title="Please Confirm" *ngIf="openUpdateDialog" (close)="closeDialog()" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Did you update the Print ?</p>
    <kendo-dialog-actions>
      <button *ngIf="exclusionLoadingNo" class="btn btn-primary Sign-in" style="width: 50%;">
        <img style="height: 30px; width: 35px; transform: scale(2.5);" src="assets/img/mss-loading.svg"/>
      </button>
      <button *ngIf="!exclusionLoadingNo" kendoButton (click)="close(false)">No</button>
      <button *ngIf="!exclusionLoadingYes" kendoButton (click)="close(true)" primary="true">Yes</button>
      <button *ngIf="exclusionLoadingYes" class="btn btn-primary Sign-in" style="width: 50%;">
        <img style="height: 30px; width: 35px; transform: scale(2.5);" src="assets/img/mss-loading.svg"/>
      </button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
