<style>
  .btnCreateChatChannel {
    padding: 8px 25px !important;
    position: relative !important;
    top: 15px !important;
  }
</style>
<kendo-dialog *ngIf="createChannelOpen" (close)="closeForm()">
  <kendo-dialog-titlebar>
    Create New Chat Channels
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="channelForm" class="k-form formNewChannelAdd">
    <div class=" row">
      <div class="col-md-12">
        <label class="k-form-field">
          <span>Channel Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="contextName"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="channelForm.controls.contextName.valid || channelForm.controls.contextName.untouched">
            Channel Name is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="k-button k-primary btnCreateChatChannel" (click)="onClickChatChannel()">Create Chat Channel
        </button>
      </div>
    </div>
  </form>
</kendo-dialog>
