<div class="subtaskss">
  <div *ngIf="isView">
    <div *ngFor="let item of assignCheckListData">
      <div class="taskclass">
        <!--*ngIf="!item.completed"-->
        <span class="checkboxMainBtm">
          <input class="check checklistSub" [ngModel]="item.completed" type="checkbox"
                 (change)="completedCheckListHandler($event, !item.completed, item)"/>
          <span class="checkmarkBtm"></span>
        </span>
        <label class="subtaskListtxt">
          <input [disabled]="true" type="text" value="{{item.checklistText}}"/>
        </label>
      </div>
    </div>
    <div class="seeAllitemTask">
      <span *ngIf="assignCheckListData.length != 0" style="cursor: pointer;"><a href="javascript:void(0)"
                                                                                (click)="openProjectTaskDetailsFrom()">Open Task to see all items</a></span>
    </div>
    <div class="btnListofTask" *ngIf="projectTaskDto.tags != null && projectTaskDto.tags.length > 0">
      <span style="" *ngFor="let tagItem of projectTaskDto.tags" class="label"
            [ngStyle]="{'background-color':  tagItem.tagColor }">{{tagItem.tagName}}</span>
    </div>
    <span *ngIf="projectTaskDto.active">{{setCompletedDate()}}</span>
    <div style="position: relative; top: 2px; color: #983625; padding: 6px 0 6px;"
         [ngClass]="setDueDateClass(projectTaskDto.dueDate)" *ngIf="projectTaskDto.dueDate !== null"><i
        class="fa fa-calendar"></i> {{setDueDateText(projectTaskDto.taskDueDate)}}
    </div>
    <div style="position: relative; top:0px; font-size: 13px; padding: 0px 0; display: flow-root;">
      <span style="color: #544040;" *ngIf="taskCheckList != null && taskCheckList.length > 0"><i
          class="fa fa-tasks"></i> {{numChecklistItemsCompletedCounter}} / {{totalChecklistItemsCounter}}</span>
      <span style="color: #544040;" *ngIf="projectTaskDto.actualMinutes > 0"><i class="fa fa-clock-o"></i>&nbsp; {{TotalTaskTime}}</span>
      <div class="pull-right" style="display: flow-root; position: relative; right: 0; bottom: 0px;">
        <span class="imgTaskListBox" *ngFor="let user of projectTaskDto.assignedTo">
          <img onError="this.src='assets/img/no_avatar.png'" src="{{user.userAvatar}}"/>
        </span>
      </div>
    </div>
  </div>

  <div *ngIf="!isView" class="popupTaskList">
    <div style="max-height: 180px; overflow: auto">
      <div *ngFor="let item of taskCheckList">
        <div class="taskclass">
          <!--*ngIf="!item.completed"-->
          <span class="checkboxMainBtm">
            <input class="check checklistSub" [ngModel]="item.completed" type="checkbox"
                   (change)="completedCheckListHandler($event, !item.completed, item)"/>
            <span class="checkmarkBtm"></span>
          </span>
          <!--<span class="checkboxMainBtm">
            <input class="check checklistSub" [ngModel]="item.completed" type="checkbox" (change)="completedCheckListHandler($event, !item.completed, item)" />
            <span class="checkmarkBtm"></span>
          </span>-->
          <span class="subInputHover">
            <label class="subtaskListtxt">
              <input type="text" value="{{item.checklistText}}"
                     (keydown)="updateChecklistHandler($event, $event.target.value, item)"/>
              <span><i class="fa fa-pencil"></i></span>
            </label>
          </span>

          <span *ngIf="checkUserPermission('delete')" class="checkListDelete"> <i class="fa fa-trash" aria-hidden="true"
                                                                                  (click)="deleteCheckListHandler(item)"></i></span>

          <!--<div class="inputBoxList">
            <input type="text" class="taskinput" (keydown)="updateTaskListNameHandler($event,$event.target.value)" value="{{item.checklistText}}" />
            <span class="taskedit"><i class="fa fa-pencil"></i></span>
          </div>-->
        </div>
      </div>
    </div>
    <form novalidate [formGroup]="checklistForm" *ngIf="checkUserPermission('add')" class="formAddnewTask">
      <input type="text" formControlName="checklistText" class="txtAddnewCheckList"
             (keydown)="saveChecklistHandler($event, $event.target.value, projectTaskDto.projectTaskId)"
             placeholder="Enter Check List Name"/>
      <span class="btnAddtaskList"><i class="fa fa-plus"></i></span>
      <!--<p class="k-tooltip k-tooltip-validation"
         [hidden]="checklistForm.controls.checklistText.valid || checklistForm.controls.checklistText.untouched">
        <span>CheckList Name is required!</span>
      </p>-->
    </form>
  </div>
</div>
