<style>
  .txtBoxKenoClass {
    position: relative;
    left: 50px;
    width: 275px !important;
  }
</style>
<kendo-dialog *ngIf="directmessageDialogActive" (close)="closeForm()">
  <kendo-dialog-titlebar>
    Direct Messages
  </kendo-dialog-titlebar>
  <div class=" row">
    <div class="col-md-12 text-center">
      <form novalidate class="k-form">
        <label class="k-form-field">
          <span class="text-center" style="position: relative; right: 126px;">User </span>
          <kendo-dropdownlist name="userId"
                              [(ngModel)]="selectedUser"
                              [ngModelOptions]="{standalone: true}"
                              [data]="filterUserIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              required
                              [valuePrimitive]="true"
                              class="kendoControlWidth txtBoxKenoClass"
                              [filterable]="true"
                              (selectionChange)="onUserSelectionChange($event)"
                              (filterChange)="userHandleFilter($event)">
          </kendo-dropdownlist>
          <br/>
          <p class="k-tooltip k-tooltip-validation" [hidden]="!userValid">
            User name is required
          </p>
        </label>
        <br/>
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="k-button k-primary" (click)="onClickMessageChannel()">Create</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</kendo-dialog>

