<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new tag master' : 'Edit TagMaster' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-6">
        <label class="k-form-field">
          <span>TagMaster Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="tagName"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.tagName.valid || editForm.controls.tagName.untouched">
            TagMaster Name is required
          </p>
        </label>
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
      <div class="col-md-6">
        <label class="k-form-field">
          <span>Tag Color</span>
          <span style="display: inline-table;">
            <input style="border-radius:40px;width:30px;color: transparent;cursor:pointer"
                   fromControlName="tagColor" class="k-textbox" [(colorPicker)]="editForm.value.tagColor"
                   [style.background]="editForm.value.tagColor"/>
                </span>
          <span style="display:inline-block;"><span type="button" class="label label-primary">{{editForm.value.tagColor}}</span></span>
        </label>
      </div>
      <div class="col-md-3">
        <label style="margin-top: 28px;">

        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
