<section class="content-header">
  <grid-header-tool (siteSelectionChange)="siteSelectionChange($event)"
                    [pageName]="'Manage material'">
  </grid-header-tool>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">

        <div class="box-footer">
        </div>

        <div class="col-md-12 table-responsive">
          <div *ngIf="loading === true" class="pageLoaderMain" style="font-size: 32px;">
            <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
            <span>&nbsp; Loading..</span>
          </div>
          <div *ngIf="loading === false">

            <div class="row">
              <div class="col-xs-12 search-text">
                <div class="pull-right">
                  <div class="funkyradio">
                    <div class="funkyradio-info">
                      <input type="checkbox" name="checkbox" id="chkshowActive" checked="checked">
                      <label for="chkshowActive" (click)="showActive()">Show Active Only</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <kendo-grid [data]="gridView"
                            [filterable]="true"
                            [filter]="state.filter"
                            [pageSize]="pageSize"
                            [skip]="skip"
                            [pageable]="true"
                            [sortable]="{ mode: 'single' }"
                            (pageChange)="pageChange($event)"
                            (dataStateChange)="dataStateChange($event)"
                            [sort]="sort"
                            (sortChange)="sortChange($event)"
                            (search)="saveHandler($event)"
                            (remove)="removeHandler($event)"
                            scrollable="none"
                            [class.gridLoaderDiv]="gridLoading">

                  <ng-template kendoGridToolbarTemplate>
                    <div *ngIf="gridLoading == true" class="Gridloader"></div>
                    <button class="k-button k-primary" (click)="onAddRequisitionFormOpen()"><i class="fa fa-plus"></i>&nbsp; Add New</button>
                  </ng-template>

                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                  </ng-template>
                  <kendo-grid-command-column title="" width="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)" (itemClick)="onAction($event,dataItem)">
                        <i class="fa fa-pencil-square-o"></i>
                      </kendo-splitbutton>
                    </ng-template>
                  </kendo-grid-command-column>

                  <kendo-grid-column field="material" title="Material Name">
                  </kendo-grid-column>
                  <kendo-grid-column field="materialHardness" title="Hardness">
                  </kendo-grid-column>
                </kendo-grid>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div>

  </div>
</section>

<kendo-grid-requesitionMatrial-form [(model)]="editMaterial" [isRequisitionformOpen]="isRequisitionformOpen" (cancel)="onRequisitionFormCancel()"></kendo-grid-requesitionMatrial-form>

<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="isOpenedDeletedConformation" (close)="onCloseDeleteConfomation(false)" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="onCloseDeleteConfomation(false)">No</button>
      <button kendoButton (click)="onCloseDeleteConfomation(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
