<kendo-dialog *ngIf="isRequisitionformOpen" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ addRoleFlag ? 'Add New Material' : 'Edit Material' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="materialForm" class="k-form">
    <div class=" row">
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <span>Material Name  <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="material" />
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="materialForm.controls.material.valid || materialForm.controls.material.untouched">
            Material Name is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <span>Material hardness  </span>
          <input type="text" class="k-textbox" formControlName="materialHardness" />
        </label>
      </div>
      <div class="col-md-8 col-xs-12">
       <label class="k-form-field">
            <span>Site <span class="k-required">*</span></span>
            <kendo-dropdownlist formControlName="siteId"
                                [data]="filtercurrentSiteIdList"
                                [textField]="'text'"
                                [valueField]="'value'"
                                [valuePrimitive]="true"
                                class="kendoControlWidth"
                                required
                                [filterable]="true"
                                (filterChange)="currentSiteIdListHandleFilter($event)">
            </kendo-dropdownlist>
            <p class="k-tooltip k-tooltip-validation"
               [hidden]="materialForm.controls.siteId.valid || materialForm.controls.siteId.untouched">
              Site is required
            </p>
          </label>
        

      </div>
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

 <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
