.template {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
}

.dropdown-img {
    display: inline-block;
    background: #333;
    color: #fff;
    border-radius: 50%;
    margin: 8px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.messageChannelTask {
    border: 1px solid #e9e9e9;
    padding: 8px;
    background: #f9f9f9;
    margin: 3px 0;
    position: relative;
    display: block;
}

.messageChannelTask .btnGrouptMessage {
    position: absolute;
    top: 4px;
    right: 4px;
    display: none;
}

.messageChannelTask:hover .btnGrouptMessage {
    display: block !important;
}

.messageChannelTask .btnGrouptMessage button.btn {
    border: none;
    padding: 0px 7px !important;
    margin: 0 3px;
    width: 25px;
    height: 25px;
    background: none;
    border: 1px solid #ddd;
    color: #999;
}

.messageChannelTask .first-comment-section div input[disabled] {
    background: transparent !important;
    border: 1px solid transparent;
}

.messageChannelTask .first-comment-section div input {
    padding: 2px 8px;
    border: 1px solid #e9e9e9;
    font-size: 18px;
    outline: none !important;
    width: 100%;
    background: #fff;
}

.messageChannelTask .first-comment-section div input:hover {
    background: #f0f0f0;
}

.formMessageChannelTask ul.channel-list {
    margin: 8px 0 0;
    padding: 0px;
}

.formMessageChannelTask ul.channel-list li {
    background: #fff;
    padding: 0px;
}

.formMessageChannelTask ul.channel-list li a {
    display: block;
    padding: 6px 3px;
    color: #656565;
}

.formMessageChannelTask ul.channel-list li a i.fa {
    background: #002d56;
    color: #fff;
    padding: 7px;
    border-radius: 50px;
    font-size: 13px;
}

.formMessageChannelTask ul.channel-list li a.active {
    background: #3c8dbc;
    color: #fff;
    cursor: default;
}

.formMessageChannelTask ul.channel-list li a.active i.fa {
    background: #fff;
    color: #3c8dbc;
    cursor: default;
}

.formMessageChannelTask ul.channel-list li a:hover {
    background: #3c8dbc;
    color: #fff;
}

.scrollBarMeaasgeBoxPageDetail {
    overflow: auto;
    max-height: 400px !important;
    min-height: 400px;
    padding-bottom: 20px;
}

.scrollBarMeaasgeBox {
    overflow: auto;
    max-height: 69vh !important;
    min-height: 69vh;
    padding-bottom: 20px;
}

.userimage {
    height: 125px;
    width: 115px;
}

.update-image span {
    height: 24px;
    width: 115px;
    background-color: black;
    color: white;
    padding: 8px 6px;
    position: relative;
    z-index: 20;
    top: -25px;
    opacity: 0.3;
    cursor: pointer;
}

.update-image .filebutton {
    filter: alpha(opacity=10);
    margin-top: -43px;
    opacity: 0;
    position: relative;
    z-index: 50;
    cursor: pointer;
    margin-left: -87px;
}

.k-widget.k-window.k-dialog {
    width: 800px !important;
    height: 100vh !important
}

.exportorderwidth > .k-dialog {
    width: 98%;
}

.no-padding {
    padding: 0;
}

.left-side-profiles {
    margin-left: 5px;
    width: 49%;
}

.formUserProfileUpload .update-image span.txtUploadImages {
    visibility: hidden
}

.formUserProfileUpload .update-image:hover span.txtUploadImages {
    visibility: visible;
}

.btnMessageMenu i.fa {
    background: transparent;
    color: #222;
    padding: 6px 10px;
    width: 26px;
    height: 34px;
    border-radius: 2px;
    border: 0px solid #bbb;
    cursor: pointer;
    position: relative;
    top: 2px;
    opacity: 0.7;
}

.btnMessageMenu {
    display: inline-block;
    padding-bottom: 8px;
}

.btnMessageSubMenu {
    position: absolute;
    min-width: 155px;
    background: #fff;
    margin: 0px;
    padding: 0px;
    right: 0px;
    z-index: 999;
    box-shadow: 0 6px 8px #888;
}

.btnMessageSubMenu li {
    list-style: none;
}

.btnMessageSubMenu li a {
    display: block;
    color: #222;
    font-size: 18px;
    text-align: left;
    padding: 4px 10px;
    border-bottom: 1px solid #ddd;
}

.btnMessageSubMenu li a:hover {
    background: #3c8dbc;
    color: #fff;
}

.btnMessageSubMenu li a.delete:hover {
    background: tomato;
    color: #fff;
}

.txtMessageChannel {
    position: relative;
}

.txtMessageChannel img {
    position: relative;
    top: 5px;
    left: 5px;
}

.txtMessageChannel input {
    border: none;
    padding: 0 15px;
    outline: none;
    background: transparent;
    position: relative;
    left: 6px;
}

.txtMessageChannel input:hover {
    border: none;
    outline: none;
    background: #e1e1e1;
    cursor: pointer;
}

.txtMessageChannel input:focus {
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
}

.msgChatHeader {
    left: 50% !important
}

.msgChatHeader .scrollBarMeaasgeBox {
    height: auto !important;
}

.txtMessageChannel span.txtPencilicon {
    position: absolute;
    top: 12px;
    right: 10px;
    font-size: 12px;
    opacity: 0;
}

.txtMessageChannel:hover span.txtPencilicon {
    opacity: 1;
    color: #0096ed;
}

.headerMessageChannel {
    background: #fff;
    display: inline-block;
    width: 100%;
    margin-bottom: 3px;
    position: relative;
    box-shadow: -1px 2px 0px 1px #ddd;
}

