<div class="" style="position: relative;">
  <span *ngIf="chatLoader"
        style="width: 100%; height: 100vh; background: #eaeaea; opacity: 1; display: block; position: absolute; z-index: 9999;">
    <img src="assets/img/message-loader.gif"
         style="position: absolute; top: 43%; left: 50%; transform: translate(-50%, -50%) scale(0.4);"/>
  </span>


  <div class="col-md-12 min-height-800">
    <div class="row">
      <!--<div style="height: 20vh;" *ngIf="isMessageShow && _objectId > 0">
        <kendo-custom-TextEditor (sendMessageToChannel)="sendMessageToChannel($event)"></kendo-custom-TextEditor>
      </div>-->

      <div class="headerMessageChannel" *ngIf="_objectId == 0 && isMessageShow">
        <div class="pull-left txtMessageChannel" *ngIf="chatContextDetails.contextName != null"
             style="font-weight: bold; font-size: 30px;">
          <img class="img-reponsive img-circle img-fixed-width pull-left"
               onError="this.src='assets/img/no_avatar.png'"
               src="{{commonService.getChannelThumbnail(chatContextDetails.messageContextId)}}"/>
          <input type="text" (keydown)="updateMessageContextName($event,$event.target.value)"
                 value="{{chatContextDetails.contextName == null ? chatContextDetails.createdByName: chatContextDetails.contextName}}"/>
          <span class="txtPencilicon"><i class="fa fa-pencil"></i></span>
        </div>
        <div class="pull-left txtMessageChannel" *ngIf="chatContextDetails.contextName == null"
             style="font-weight: bold; font-size: 30px;">
          <img onError="this.src='assets/img/no_avatar.png'" src="{{chatContextDetails.chatAvatar}}"
               class="img-reponsive img-circle img-fixed-width pull-left"/>
          <span style="margin-left: 15px;">{{chatContextDetails.contextName == null ? chatContextDetails.createdByName: chatContextDetails.contextName}}</span>
        </div>
        <div class="pull-right" *ngIf="chatContextDetails.contextName != null">
          <span style="position: relative;">
            <span class="btnMessageMenu" (click)="openActionMenuClick()"><i class="fa fa-ellipsis-v"></i></span>
            <ul class="btnMessageSubMenu" *ngIf="openActionMenu">
              <li><a href="javascript:void(0)" (click)="addMembersPopupOpen()">Add Members</a></li>
              <li><a *ngIf="chatContextDetails.createdBy == userId" href="javascript:void(0)"
                     (click)="onChannelUpdateIcon()">Edit Group Icon</a></li>
              <li><a *ngIf="chatContextDetails.createdBy != userId" href="javascript:void(0)"
                     (click)="onChannelDelete()" class="delete">Remove</a></li>
              <li><a *ngIf="chatContextDetails.createdBy == userId" href="javascript:void(0)"
                     (click)="onChannelDelete()" class="delete">Delete Group</a></li>
            </ul>
          </span>
        </div>
      </div>

      <div class="col-sm-12 text-center msgChatHeader" id="msgChatHeader"
           style="position: fixed; background: #fff; width: auto;z-index: 9999; opacity: 0.8; left: 57.5%; transform: translate(-50%);">
        <div style="color: #1e76a9; font-weight: bold;">
          {{chatHeader}}
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="scrollBarMeaasgeBox scrollBarMeaasgeBoxPageDetail" id="messagePanel" (scroll)="onScroll($event)">
        <div class="chat-box" *ngFor="let groupIndex of groups">
          <div>
            <div class="tw-date-header">
              <div class="tw-date-header__divider"></div>
              <div class="tw-date-header__text dateHeaderMessage text-center" id="chatHeader">
                {{groupIndex}}
              </div>
              <div class="tw-date-header__divider"></div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12" *ngFor="let message of messagesList[groupIndex]" style="padding: -1px;">
              <chat-message [model]="message"></chat-message>
            </div>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>

      </div>
      <div style="height: 7vh;" *ngIf="isMessageShow">
        <kendo-custom-TextEditor (sendMessageToChannel)="sendMessageToChannel($event)"></kendo-custom-TextEditor>
      </div>
    </div>
  </div>
</div>

<!-- Members popup -->
<kendo-dialog *ngIf="isAddMembersDialogOpen" (close)="addMembersPopupClose()" [width]="550">
  <span *ngIf="isAddMembersLoaded" class="isDataLoaded"><i class="fa fa-refresh fa-spin"
                                                           style="font-size:25px"></i></span>
  <kendo-dialog-titlebar>
    Add members
  </kendo-dialog-titlebar>
  <div class="col-md-12">
    <p>
      Select Members
    </p>
    <kendo-multiselect [data]="filterUserIdList" [(ngModel)]="panelMembers" [textField]="'text'" [valueField]="'value'">
      <ng-template kendoMultiSelectTagTemplate let-dataItem>
        <span class="template">
          <img class="template" onError="this.src = 'assets/img/no_avatar.png'" src="{{dataItem.userAvatar}}"/>
        </span>
        <span>{{ dataItem.text }}</span>
      </ng-template>
      <ng-template kendoMultiSelectItemTemplate let-dataItem>

        <span>
          <img class="dropdown-img" onError="this.src = 'assets/img/no_avatar.png'"
               src="{{dataItem.userAvatar}}"/>

        </span>
        <span>{{ dataItem.text }}</span>
      </ng-template>
    </kendo-multiselect>
  </div>
  <kendo-dialog-actions>
    <button class="k-button" (click)="addMembersPopupClose($event)">Cancel</button>
    <button class="k-button k-primary" (click)="onMembersSave()">Update</button>
  </kendo-dialog-actions>


</kendo-dialog>
<!--Delete Conformation-->
<kendo-dialog *ngIf="isDeleteConformation" (close)="onCloseDeleteConfirmation()" [width]="550">
  <span *ngIf="isAddMembersLoaded" class="isDataLoaded"><i class="fa fa-refresh fa-spin"
                                                           style="font-size:25px"></i></span>
  <kendo-dialog-titlebar>
    Delete confirmation
  </kendo-dialog-titlebar>
  <div class="col-md-12">
    <div *ngIf="chatContextDetails.createdBy == userId">Are you sure to delete this group?</div>
    <div *ngIf="chatContextDetails.createdBy != userId">Are you sure to unfollow this group?</div>
  </div>
  <kendo-dialog-actions>
    <button class="k-button" (click)="onCloseDeleteConfirmation()">Cancel</button>
    <button class="k-button k-primary" (click)="removeChannel()">Delete</button>
  </kendo-dialog-actions>


</kendo-dialog>

<!--Group icon change-->
<kendo-dialog *ngIf="isUpdateChannelIcon" (close)="onCloseChannelUpdateIcon()" [width]="550">
  <kendo-dialog-titlebar>
    Update Channel Icon
  </kendo-dialog-titlebar>
  <div class="col-md-12">
    <form novalidate [formGroup]="updateChannelIconForm" class="k-form formUserProfileUpload">
      <div class="col-md-6">
        <label class="k-form-field update-image" style="height: 125px;">
          <img id="userImage" class="userimage" src="{{base64ImgFile}}"
               onError="this.src = 'assets/img/no_avatar.png'"/>
          <span class="txtUploadImages"><i class="fa fa-camera"></i> Update Photo</span>
          <input type="file" id="uploadUserImg" class="filebutton" value='choose' size="3"
                 (change)="onFileChange($event)" #fileInput>
        </label>
      </div>
      <div class="col-md-6">
        <label class="k-form-field">
          <span>Channel  Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="contextName"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="updateChannelIconForm.controls.contextName.valid || updateChannelIconForm.controls.contextName.untouched">
            Context Name is required
          </p>
        </label>
      </div>
    </form>
  </div>
  <kendo-dialog-actions>
    <button class="k-button" (click)="onCloseChannelUpdateIcon()">Cancel</button>
    <button *ngIf="!loading" class="k-button k-primary" (click)="updateChannelIcon($event)">Save</button>
    <button *ngIf="loading" class="btn btn-primary Sign-in" style="width: 50%;">
      <img style="height: 30px; width: 35px; transform: scale(2.5);" src="assets/img/mss-loading.svg"/>
    </button>
  </kendo-dialog-actions>
</kendo-dialog>