<!--<kendo-dialog *ngIf="openWorkspaceTeamForm" (close)="closeForm()" class="workspace-team-dialog-width">
  <kendo-dialog-titlebar>
    {{selWorkspaceName}} : Workspace Team
  </kendo-dialog-titlebar>-->

<section class="content-header">
  <grid-workspace-dropdown (workspaceSelectionChange)="workspaceSelectionChange($event)"
                           [pageName]="'Manage Workspace'" [selectCurrentWorkSpace]="changeCurrentWorkSpace">
  </grid-workspace-dropdown>
</section>


<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">

        <div class="box-footer">
        </div>

        <div class="col-md-12 table-responsive" id="divManufacturerList">
          <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
            <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
            <span>&nbsp; Loading..</span>
          </div>
          <div *ngIf="loading == false">

            <div class="row">
              <div class="col-lg-12">
                <button class="k-button k-primary" (click)="addNewWorkspace()"><i class="fa fa-plus"></i>&nbsp;Add New
                  Workspace
                </button>&nbsp;&nbsp;&nbsp;

                <h4 style="display: initial"><b>Current Workspace :</b><span>{{currentWorkspaceName}}&nbsp;&nbsp;<a
                    href="javascript:void(0)" (click)="editWorkspace()"><i class="fa fa-pencil"></i></a></span></h4>&nbsp;
                &nbsp;
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12 search-text">
                <div class="pull-right">
                  <div class="funkyradio">
                    <div class="funkyradio-info">
                      <input type="checkbox" name="checkbox" id="chkshowWorkspaceTeamActive" checked="checked">
                      <label for="chkshowActive" (click)="showActive()">Show Active Only</label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-12">
                <kendo-grid [data]="gridView"
                            [filterable]="true"
                            [filter]="state.filter"
                            [pageSize]="pageSize"
                            [skip]="skip"
                            [pageable]="true"
                            [sortable]="{ mode: 'single' }"
                            (pageChange)="pageChange($event)"
                            (dataStateChange)="dataStateChange($event)"
                            (add)="addHandler($event)"
                            (edit)="editHandler($event)"
                            (cancel)="cancelHandler($event)"
                            (save)="saveHandler($event)"
                            [sort]="sort"
                            (sortChange)="sortChange($event)"
                            (search)="saveHandler($event)"
                            (remove)="removeHandler($event)"
                            scrollable="none"
                            [class.gridLoaderDiv]="gridLoading">

                  <ng-template kendoGridToolbarTemplate>
                    <div *ngIf="gridLoading == true" class="Gridloader"></div>
                    <button class="k-button k-primary" (click)="addTeam()"
                            *ngIf="projectSettingsService.getWorkSpaceSettings().isAdmin"><i class="fa fa-plus"></i>&nbsp;
                      Add New
                    </button>
                  </ng-template>
                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                  </ng-template>
                  <kendo-grid-command-column title="" width="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)"
                                         (itemClick)="onAction($event,dataItem)">
                        <i class="fa fa-pencil-square-o"></i>
                      </kendo-splitbutton>
                    </ng-template>
                  </kendo-grid-command-column>

                  <kendo-grid-column field="userDisplayName" title="Username">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="isAdmin" title="IsAdmin" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.isAdmin">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.isAdmin">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="active" title="Active" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.active">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.active">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="close(false)" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="close(false)">No</button>
      <button kendoButton (click)="close(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

<kendo-grid-workspace-form [model]="workspacedetails" [isNew]="isNew"
                           (cancel)="cancelHandler($event)">
</kendo-grid-workspace-form>

<kendo-dialog *ngIf="addNewTeam" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ addNewTeam ? 'Add New Workspace Team' : 'Edit Workspace Team' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="workspaceTeamForm" class="k-form">
    <div class=" row">
      <div class="col-md-12">
        <label class="k-form-field">
          <span>User <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="userId"
                              [data]="filterUserIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="userIdHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="workspaceTeamForm.controls.userId.valid || workspaceTeamForm.controls.userId.untouched">
            Username is required
          </p>
          <p class="k-tooltip k-tooltip-validation" *ngIf="isDuplicateTeamMember">
            User already Exists!
          </p>
        </label>
        <label class="k-form-field">
          <input type="checkbox" formControlName="isAdmin" id="isAdmin" value="false" class="k-checkbox"/>
          <label class="k-checkbox-label" for="isAdmin">&nbsp; Is Admin</label>
        </label>

        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="closeAddTeam()">Cancel</button>
    <button class="k-button k-primary" [disabled]="!workspaceTeamForm.valid" (click)="saveWorkspaceTeam()">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
