<kendo-dialog *ngIf="openWorkspaceForm" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new Workspace' : 'Edit Workspace' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <label class="k-form-field">
      <span>Workspace Name <span class="k-required">*</span></span>
      <input type="text" class="k-textbox" formControlName="workspaceName"/>
      <p class="k-tooltip k-tooltip-validation"
         [hidden]="editForm.controls.workspaceName.valid || editForm.controls.workspaceName.untouched">
        Workspace Name is required
      </p>
    </label>
  </form>
  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="saveHandler($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
