.k-checkbox-group {
    border: 1px solid #eeeeee;
    padding: 8px 10px !important;
}
.k-checkbox-m-l {
    margin-left: 6px;
}
.userimage {
  height: 125px;
  width: 115px;
}

.update-image span{
  height: 24px;
  width: 115px;
  background-color: black;
  color: white;
  padding: 8px 6px;
  position: relative;
  z-index: 20;
  top: -25px;
  opacity: 0.3;
  cursor: pointer;
}
.update-image .filebutton {
  filter: alpha(opacity=10);
  margin-top: -43px;
  opacity: 0;
  position: relative;
  z-index: 50;
  cursor: pointer;
  margin-left: -87px;
}
.password-validation-msg {
  width: 257px;
  padding: 1px;
}
.user-pin {
  width: 90% !important;
}
.btn {
  padding: 4px 12px;
  border-radius: 0px !important;
}
.show-hide-password #userPassword {
  border-radius: 2px !important;
  padding: 4px 8px !important;
  width: 15.2em !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  outline: 0;
  font: inherit;
  font-size: 14px;
  line-height: 1.42857em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  vertical-align: middle;
  position: relative;
  -webkit-appearance: none;
  box-shadow: unset !important;
}
.show-hide-password #userPassword:focus, .show-hide-password #userPassword:active {
    color: #656565 !important;
    border-color: rgba(0, 0, 0, 0.15) !important;
    box-shadow: unset !important;
}
