<kendo-dialog *ngIf="isRequisitionformOpen" (close)="closeForm()">
  Requisition role

  <kendo-dialog-titlebar>
    {{ addRoleFlag ? 'Add New Role' : 'Edit Role' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="roleForm" class="k-form">
    <div class=" row">
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <span>Role Name  <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="roleName" />
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="roleForm.controls.roleName.valid || roleForm.controls.roleName.untouched">
            Role Name is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <input type="checkbox" id="canToggleSites" formControlName="canToggleSites" class="k-checkbox">
          <label class="k-checkbox-label" for="canToggleSites">&nbsp; canToggleSites</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canApproveRequisitions" formControlName="canApproveRequisitions" class="k-checkbox">
          <label class="k-checkbox-label" for="canApproveRequisitions">&nbsp; canApproveRequisitions</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canLockRequisitions" formControlName="canLockRequisitions" class="k-checkbox">
          <label class="k-checkbox-label" for="canLockRequisitions">&nbsp; 	canLockRequisitions</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="receiveSupervisorNotifications" formControlName="receiveSupervisorNotifications" class="k-checkbox">
          <label class="k-checkbox-label" for="receiveSupervisorNotifications">&nbsp; 	receiveSupervisorNotifications</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="isEngineer" formControlName="isEngineer" class="k-checkbox">
          <label class="k-checkbox-label" for="isEngineer">&nbsp; 	isEngineer</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canEditRequisitions" formControlName="canEditRequisitions" class="k-checkbox">
          <label class="k-checkbox-label" for="canEditRequisitions">&nbsp; 	canEditRequisitions</label>
        </label>
       
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp;active</label>
        </label>
      </div>
    </div>
  </form>

 <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
