.navbar {
  padding: 0px !important;
}

.navbar-user-name {
  color: white;
  font-size: 15px;
  padding: 13px 10px;
}

.navbarsidetoggle {
  float: left;
  width: auto;
}

.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
  position: absolute;
  right: 0;
  left: auto;
  top: 37px;
}

.skin-blue .main-header li.user-header {
  background-color: #3c8dbc;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.top-right-icons {
  height: 373px !important;
  background: #fff !important;
}

.top-right-icons .text-center {
  height: 89px;
  background: #ccc;
  border: 3px solid #fff;
  padding: 10px;
}

.top-right-icons .row {
  margin: 0px !important;
}

.top-right-icons .text-center a {
  color: #fff;
}

.navbar-nav > .user-menu > .dropdown-menu, .navbar-nav > .user-menu > .dropdown-menu > .user-body {
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.navbar-nav > .user-menu > .dropdown-menu {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding: 1px 0 0 0;
  border-top-width: 0;
  width: 280px;
}

.top-right-icons div a {
  color: #fff;
}

.navbar-custom-menu ul li ul {
  top: 46px;
}

.navbar-custom-menu ul li ul li {
  margin: 0px;
}

.navbar-custom-menu ul li ul li div a {
  padding: 0px !important;
  white-space: normal !important;
}

.navbar-custom-menu ul {
  padding-top: 4px;
}

.navbar-custom-menu ul li {
  padding-right: 7px;
}

.navbar-nav > .user-menu > .dropdown-menu > li.user-header {
  height: 175px;
  padding: 10px;
  text-align: center;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer {
  background-color: #f9f9f9;
  padding: 10px;
}

.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default {
  color: #666666;
}

.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}

.navbar-custom-menu ul li:first-child ul {
  width: 280px;
  text-align: center;
}

.navbar-custom-menu ul li:first-child ul li:first-child {
  height: 175px;
  text-align: center !important;
}

.navbar-custom-menu ul li:first-child ul li:first-child p {
  display: none;
}

.navbar-custom-menu ul li:first-child ul li:first-child img {
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.navbar-custom-menu ul li:first-child ul {
  padding-top: 1px;
}

.navbar-custom-menu ul li:first-child ul .user-footer {
  padding: 10px 11px;
  padding-bottom: 45px;
  background: #3c8dbc;
}

.navbar-custom-menu ul li:first-child ul .user-footer .pull-left a {
  padding: 6px 12px !important;
  background: #f2f2f2;
}

.navbar-custom-menu ul li:first-child ul .user-footer .pull-right a {
  padding: 6px 12px !important;
  background: #f2f2f2;
}

.user-profile-img {
  float: left;
  margin-top: -3px;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  left: 3px;
  min-height: 31px;
  min-width: 30px;
  width: 30px;
}

.username-text {
  cursor: pointer;
  padding-left: 20px;
}

.navbar-nav {
  flex-direction: unset !important;
}

.main-header {
  background: #3c8dbc;
}

.usermenuOpen {
  display: block;
  padding: 0px !important;
}

/*User Profile css*/

.userBoxMenuUL {
  width: 400px !important;
  margin-top: 18px;
  padding: 20px 10px 14px 0 !important;
  box-shadow: 0 4px 10px #666;
  border: none !important;
  top: 50px !important;
}

.userBoxMenuUL .txtR {
  text-align: left !important;
}

.userProfileTogglebtn {
  width: 18px;
  right: 37px;
  height: 18px;
  background: white;
  position: absolute;
  top: -9px;
  transform: translate(-50%, 0) rotate(134deg);
  border-left: 1px solid rgba(0, 0, 0, .15);
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.userProfileC {
  height: 90px;
  width: 90px;
  margin: 10px auto;
  margin-top: 3px;
  margin-left: 12px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.txtCenterU {
  font-weight: bold;
  font-weight: bold;
  margin-left: 18px;
  margin-top: 17px;
  text-align: left;
}

.txtCenterA {
  text-align: left;
  margin-left: 18px;
  margin-top: -4px;
  color: gray;
  font-size: 15px;
}

.btnLeftside {
  margin-left: 18px;
  font-weight: bold;
  margin-top: 12px;
  padding: 7px 14px 7px 14px;
  width: auto;
  /*background: #4d90fe;*/
  color: white !important;
  border: 1px solid white;
  border: 1px solid white;
}

.btnRightside {
  margin-left: 13px;
  font-weight: bold;
  margin-top: 13px;
  padding: 7px 14px 7px 14px;
  width: auto;
  /*background: #4d90fe;*/
  color: white;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

@media only screen and (max-width: 1024px) {
  .HeaderTEquipment {
    display: none !important;
  }
}

@media only screen and (max-width: 767px) {
  .userBoxMenuUL .txtR {
    text-align: center !important;
  }
}

@media only screen and (min-width: 580px) {
  .navbar-custom-menu[_ngcontent-c2] > .navbar-nav[_ngcontent-c2] > li[_ngcontent-c2] > .dropdown-menu[_ngcontent-c2] {
    width: 400px !important;
  }
}

@media only screen and (max-width: 580px) {
  .userProfileC {
    text-align: center !important;
    margin: 10px auto !important;
  }

  .txtCenterU, .txtCenterA {
    margin: 0 auto !important;
    text-align: center !important;
  }

  .navbar-custom-menu[_ngcontent-c2] > .navbar-nav[_ngcontent-c2] > li[_ngcontent-c2] > .dropdown-menu[_ngcontent-c2] {
    width: 290px !important;
    padding: 8px !important;
  }

  .userBoxMenuUL {
    width: 290px !important;
    margin-top: 18px;
  }

  .btnLeftside {
    margin: 0 auto;
    width: 125px !important;
  }

  .btnRightside {
    margin: 0 auto;
    width: 125px !important;
  }

  .paddinN {
    padding: 0px !important;
    margin: 10px 0px 0px 0px !important;
  }

  .bottomBTNR {
    margin: 6px 0;
  }
}

@media only screen and (max-width: 420px) {
  .headerlogono {
    display: none !important
  }

  .navbar-custom-menu[_ngcontent-c2] > .navbar-nav[_ngcontent-c2] > li[_ngcontent-c2] > .dropdown-menu[_ngcontent-c2] {
    right: -35px !important;
  }
}

#menuOpensTgl {
  display: none;
}

#menuOpensTglBTN {
  padding-bottom: 9px !important;
}

#menuOpensTglBTN:hover #menuOpensTgl {
  display: block !important;
  z-index: 999999;
}

#rightSideToggleProfile .profileBox {
  padding: 0px;
}

#rightSideToggleProfile .imageBoxs {
  background: #fff;
  margin: 3px auto;
  text-align: center;
  padding: 8px 2px;
  height: 110px;
}

#rightSideToggleProfile .profileBox .col-xs-4 {
  border: 1px dotted #fff;
}

#rightSideToggleProfile .profileBox .col-xs-4:hover {
  border: 1px dotted #d6d6d6 !important;
}

#rightSideToggleProfile .imgCenterCircle {
  background: #3c8dbc;
  width: 60px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
  border-radius: 50px;
}

#rightSideToggleProfile .imgCenterCircle img {
  position: relative;
  top: 16px;
}

#rightSideToggleProfile .imageBoxs p {
  color: #000;
  font-size: 12px !important;
  position: relative;
  top: 8px;
}

#rightSideToggleProfile {
  width: 310px !important;
  padding: 0px !important;
  top: 50px;
}

#rightSideToggleProfile li {
  padding: 0 !important;
}

#rightSideToggleProfile .croseMenus {
  position: absolute;
  width: 18px;
  right: 14px;
  height: 18px;
  background: white;
  position: absolute;
  top: -9px;
  -webkit-transform: translate(-50%, 0) rotate(134deg);
  transform: translate(-50%, 0) rotate(134deg);
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

#rightSideToggleProfile {
  display: none;
}

#menuOpensTglBTN2 {
  padding-bottom: 9px !important;
}

#menuOpensTglBTN2:hover #rightSideToggleProfile {
  display: block !important;
  z-index: 999999;
}

@media only screen and (max-width: 992px) {
  .paddingUlNav {
    padding-top: 0px !important;
    position: relative;
    top: 6px;
  }
  .user-profile-img {
    top: 13px;
  }
}
