<style>
</style>
<div class="main-header">
  <label class="logo">
    <!-- mini logo for sidebar mini 50x50 pixels -->
    <span class="logo-mini"><b>{{strShortHeaderTitle}}</b></span>
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><b>{{strShortHeaderTitle}}</b></span>
  </label>

  <nav class="navbar navbar-static-top text-center">
    <a class="sidebar-toggle navbarsidetoggle" data-toggle="push-menu" role="button" (click)="togglemenu()">
      <span class="sr-only">Toggle navigation</span>
    </a>
    <span class="sr-only">Toggle navigation</span>
    <span class="tag-line headerlogono">
      <img src="{{logoImageUrl}}"/>
      <span class="HeaderTEquipment">{{strLongHeaderTitle}}</span>
    </span>

    <div class="navbar-custom-menu">

      <ul class="nav navbar-nav paddingUlNav" style="padding-top: 12px;">
        <li class="dropdown user pull-left" id="menuOpensTglBTN">
          <a class="dropdown-toggle">
            <img [src]="userImageUrl" class="img img-circle img-responsive user-profile-img" alt="User Image"
                 (error)="updateUrl($event)">
            <span class="username-text">{{userName}}</span>
          </a>
          <ul class="dropdown-menu userBoxMenuUL" id="menuOpensTgl">
            <div class="">
              <div class="col-sm-4">
                <div class="">
                  <img [src]="userImageUrl" class="img-circle userProfileC" alt="User Image">
                </div>
              </div>
              <div class="col-sm-8">
                <div class="row txtR">
                  <span class="txtCenterU">{{userName}}</span>
                </div>
                <div class="row txtR">
                  <span class="txtCenterA">Admin</span>
                </div>
                <div class="row bottomBTNR">
                  <div class="col-xs-6">
                    <div class="row">
                      <a class="btnLeftside k-button k-primary" (click)="openProfile($event)">My Account</a>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <a href="#" (click)="logout($event)" class="btnRightside k-button k-primary">Sign out</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <span class="userProfileTogglebtn"></span>
            <!--<li class="user-header" style="height: auto;">

            </li>
            <li class="user-footer" style="padding: 0;">
              <div class="pull-left" style="float: inherit;">

              </div>
              <div class="pull-right" style="float: inherit;">

              </div>
            </li>-->
          </ul>
        </li>
        <li *ngIf="user.laborReporting" class="pull-left">
          <a (click)="loadLaborDialog()" style="background-color: #276d96;">
            <span>Labor:&nbsp;</span><span>{{laborHour}}</span>
          </a>
        </li>

        <li class="dropdown user user-menu pull-left" id="menuOpensTglBTN2">
          <a class="dropdown-toggle" data-toggle="dropdown" id="dropdownMenu2">
            <img src="{{iconImageUrl}}" class="top-left-icon"/>
          </a>
          <ul class="dropdown-menu" id="rightSideToggleProfile">
            <span class="croseMenus"></span>
            <li class="">
              <div class="profileBox">

                <div class="col-xs-4" *ngIf="userRole.canViewDocumentManagement">
                  <div class="row">
                    <div class="imageBoxs">
                      <a href="javascript:void(0);" (click)="selectMenu('documents')">
                        <div class="imgCenterCircle">
                          <img src="{{docImageUrl}}" width="25">
                        </div>
                        <p>Documents</p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4" *ngIf="userRole.canViewEquipmentMaintenance">
                  <div class="row">
                    <div class="imageBoxs">
                      <a href="javascript:void(0);" (click)="selectMenu('eqm')">
                        <div class="imgCenterCircle">
                          <img src="{{euipImageUrl}}" width="25">
                        </div>
                        <p>Equipment Maintenance</p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4" *ngIf="userRole.canViewProjects">
                  <div class="row">
                    <div class="imageBoxs">
                      <a href="javascript:void(0);" (click)="selectMenu('projects')">
                        <div class="imgCenterCircle">
                          <img src="{{projImageUrl}}" width="25">
                        </div>
                        <p>Projects</p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4" *ngIf="userRole.canViewSysAdmin">
                  <div class="row">
                    <div class="imageBoxs">
                      <a href="javascript:void(0);" (click)="selectMenu('sysadmin')">
                        <div class="imgCenterCircle">
                          <img src="{{adminImageUrl}}" width="25">
                        </div>
                        <p>System Administration</p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4" *ngIf="userRole.canViewToolingManagement">
                  <div class="row">
                    <div class="imageBoxs">
                      <a href="javascript:void(0);" (click)="selectMenu('toolingmanagement')">
                        <div class="imgCenterCircle">
                          <img src="{{processImageUrl}}" width="25">
                        </div>
                        <p>
                          Tooling Management
                        </p>
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-xs-4" *ngIf="userRole.canViewSuppliers">
                  <div class="row">
                    <div class="imageBoxs">
                      <a href="javascript:void(0);" (click)="selectMenu('sales')">
                        <div class="imgCenterCircle">
                          <img src="{{processImageUrl}}" width="25">
                        </div>
                        <p>
                          Sales Management
                        </p>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

</div>

<kendo-userProfile-form [openProfileDialog]="openProfileDialog" [userProfile]="userProfile" [model]="profileFlag" (cancel)="closeProfileViewer($event)"></kendo-userProfile-form>
<kendo-grid-labor-form [openLaborDialog]="openLaborDialog" (cancel)="closeLaborReporting()">
</kendo-grid-labor-form>
<chg-pwd-next-login [openChangePwdNextLoginDialog]="openChangePwdNextLoginDialog"
                    (cancel)="closeChangePwdNextLoginDialog()">
</chg-pwd-next-login>
