<kendo-dialog *ngIf="profileFormActive" (close)="closeForm()">
  <kendo-dialog-titlebar>
    Update Profile ({{userProfile.displayName}})
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form no-padding formUserProfileUpload" style="min-width: 800px;">

    <div class="panel panel-info col-md-6 no-padding">
      <div class="panel-heading">Personal Details</div>
      <div class="panel-body">
        <label class="k-form-field update-image" style="height: 125px;">
          <img id="userImage" class="userimage" [src]="base64ImgFile" onError="this.src = 'assets/img/no_avatar.png'"/>
          <span class="txtUploadImages"><i class="fa fa-camera"></i> Update Photo</span>
          <input type="file" id="uploadUserImg" class="filebutton" value='choose' size="3"
                 (change)="onFileChange($event)" #fileInput>
        </label>
        <div class="clearfix"></div>

        <label class="k-form-field">
          <span>Supervisor Name</span>
          <input type="text" class="k-textbox" value="{{userProfile.supervisorName}}" disabled="disabled"/>
        </label>
        <div class="clearfix"></div>

        <label class="k-form-field">
          <span>Department Name</span>
          <input type="text" class="k-textbox" value="{{userProfile.departmentName}}" disabled="disabled"/>
        </label>
        <div class="clearfix"></div>

        <label class="k-form-field">
          <span>Email</span>
          <input type="text" class="k-textbox" formControlName="email"/>
        </label>
        <div class="clearfix"></div>

        <label class="k-form-field">
          <span>Mobile Phone</span>
          <kendo-maskedtextbox [mask]="mask" formControlName="mobilePhone"></kendo-maskedtextbox>
        </label>
        <div class="clearfix"></div>

        <label class="k-form-field">
          <span>Password </span>
          <input id="userPassword" class="pull-left k-textbox" type="password"
                 placeholder="You can left this input blank, if you do not want to update your password."
                 formControlName="password"/>
          <!--<show-hide-password size="sm" class="col-sm-10 show-hide-password" icon="fontawesome">
            <input id="userPassword" class="pull-left" type="password" formControlName="password" (blur)="validatePassword()" />
          </show-hide-password>-->
        </label>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="panel panel-info col-md-6 no-padding left-side-profiles" style="min-height: 100px;">
      <div class="panel-heading">SharePoint Credentials</div>
      <div class="panel-body">

        <label class="k-form-field">
          <span>SharePoint E-Mail Address</span>
          <input type="text" formControlName="o365user" class="k-textbox" (blur)="validateEmailFunction()"/>
        </label>
        <div class="clearfix"></div>

        <label class="k-form-field">
          <span>SharePoint Password</span>
          <show-hide-password size="sm" class="col-sm-12 show-hide-password" icon="fontawesome">
            <span><input style="width:250px;height:30px;" class="pull-left k-textbox pull-left" formControlName="o365pw"
                         type="password" (blur)="validatePassword()"/></span>
          </show-hide-password>

        </label>
        <div class="clearfix"></div>

      </div>
    </div>

    <div class="panel panel-info col-md-6 no-padding left-side-profiles" style="min-height: 100px;">
      <div class="panel-heading">Options</div>
      <div class="panel-body">

        <div class="input-group" style="width: 250px;">
          <span class="input-group-addon">
            <input type="checkbox" id="chk_receiveEmailNotifications" formControlName="receiveEmailNotifications"/>
          </span>
          <input style="height: 35px;" type="text" class="form-control" value="Receive Email notifications"
                 disabled="disabled">
        </div>
        <div class="clearfix"></div>

        <div class="input-group" style="width: 250px; margin-top: 10px;">
          <span class="input-group-addon">
            <input type="checkbox" id="chk_receiveSmsNotifications" formControlName="receiveSmsNotifications"/>
          </span>
          <input style="height: 35px;" type="text" class="form-control" value="Receive Sms notifications"
                 disabled="disabled">
        </div>
        <div class="clearfix"></div>

      </div>
    </div>
    <div class="clearfix"></div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" style="color: red;" (click)="onCancel($event)">Cancel</button>
    <button *ngIf="!loading" class="k-button k-primary" (click)="onSave($event)">Save</button>
    <button *ngIf="loading" class="btn btn-primary Sign-in" style="width: 50%;">
      <img style="height: 30px; width: 35px; transform: scale(2.5);" src="assets/img/mss-loading.svg"/>
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
