
.input-group-append {
    position: absolute;
    right: -50px;
}

.input-group-append button:first-child {
    height: 38px;
}

.show-hide-password #userPassword {
    border-radius: 2px !important;
    padding: 4px 8px !important;
    width: 15.2em !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    outline: 0;
    font: inherit;
    font-size: 14px;
    line-height: 1.42857em;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
    position: relative;
    -webkit-appearance: none;
    box-shadow: unset !important;
}

.show-hide-password #userPassword:focus, .show-hide-password #userPassword:active {
    color: #656565 !important;
    border-color: rgba(0, 0, 0, 0.15) !important;
    box-shadow: unset !important;
}

.userimage {
    height: 125px;
    width: 115px;
}

.update-image span {
    height: 24px;
    width: 115px;
    background-color: black;
    color: white;
    padding: 8px 6px;
    position: relative;
    z-index: 20;
    top: -25px;
    opacity: 0.3;
    cursor: pointer;
}

.update-image .filebutton {
    filter: alpha(opacity=10);
    margin-top: -43px;
    opacity: 0;
    position: relative;
    z-index: 50;
    cursor: pointer;
    margin-left: -87px;
}

.k-widget.k-window.k-dialog {
    width: 800px !important;
}

.exportorderwidth > .k-dialog {
    width: 98%;
}

.no-padding {
    padding: 0;
}

.left-side-profiles {
    margin-left: 5px;
    width: 49%;
}

.formUserProfileUpload .update-image span.txtUploadImages {
    visibility: hidden
}

.formUserProfileUpload .update-image:hover span.txtUploadImages {
    visibility: visible;
}

