<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new Role' : 'Edit Status' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Role Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="roleName"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.roleName.valid || editForm.controls.roleName.untouched">
            Role Name is required
          </p>
        </label>
      </div>
    </div>

    <div class=" row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <input type="checkbox" id="CanToggleSites" formControlName="canToggleSites" class="k-checkbox">
          <label class="k-checkbox-label" for="CanToggleSites">&nbsp; Can ToggleSites</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="CanEditMasterData" formControlName="canEditMasterData" class="k-checkbox">
          <label class="k-checkbox-label" for="CanEditMasterData">&nbsp; Can Edit Master Data</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="CanAddPartsToOrders" formControlName="canAddPartsToOrders" class="k-checkbox">
          <label class="k-checkbox-label" for="CanAddPartsToOrders">&nbsp; Can Add Parts To Orders</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="CanCreateRelatedOrders" formControlName="canCreateRelatedOrders"
                 class="k-checkbox">
          <label class="k-checkbox-label" for="CanCreateRelatedOrders">&nbsp; Can Create Related Orders</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="CanAssignRoles" formControlName="canAssignRoles" class="k-checkbox">
          <label class="k-checkbox-label" for="CanAssignRoles">&nbsp; Can Assign Roles</label>
        </label>
      </div>


      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <input type="checkbox" id="CanEditOrders" formControlName="canEditOrders" class="k-checkbox">
          <label class="k-checkbox-label k-checkbox-m-l" for="CanEditOrders">&nbsp; Can Edit Orders</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="CanEditSchedules" formControlName="canEditSchedules" class="k-checkbox">
          <label class="k-checkbox-label" for="CanEditSchedules">&nbsp; Can Edit Schedules</label>
        </label>

        <label class="k-form-field">
          <input type="checkbox" id="CanManageRoles" formControlName="canManageRoles" class="k-checkbox">
          <label class="k-checkbox-label" for="CanManageRoles">&nbsp; Can Manage Roles</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="CanWorkOnUnassignedOrders" formControlName="canWorkOnUnassignedOrders"
                 class="k-checkbox">
          <label class="k-checkbox-label" for="CanWorkOnUnassignedOrders">&nbsp; Can Work On Unassigned Orders</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="ReceiveSupervisorNotifications" formControlName="receiveSupervisorNotifications"
                 class="k-checkbox">
          <label class="k-checkbox-label" for="ReceiveSupervisorNotifications">&nbsp; Receive Supervisor
            Notifications</label>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
