<div *ngIf="pageloading == true" class="notificationLoader">
  <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
  <span>&nbsp; Loading...</span>
</div>
<div *ngIf="pageloading == false">
  <div class="notificationPanel">
    <div class="row notificationMain" *ngIf="showHide">
      <div class="col-sm-6">
        <div class="timeBox">
          <span>{{today | date: 'MMM'}}</span>
          <span>{{today | date:'d'}}</span>
        </div>
        <div class="titles">
          <h2>You have {{this.eqmSettingsService.getUser().unreadNotifications}} new updates.</h2>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="rightMenu">
          <ul class="pull-right">
            <li>
              <a (click)="updatesStatus()" style="cursor: pointer">Updates</a>
              <a (click)="clearedStatus()" style="cursor: pointer">Cleared</a>
              <a href="javascript:void(0);" *ngIf="!showHide">Cleared</a>
              <a href="javascript:void(0);"><i class="fa fa-exclamation-circle"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <div class="row notificationMain" *ngIf="!showHide">
      <div class="col-sm-6">
        <div class="timeBox clearedBox">
          <span class="fa fa-archive"></span>
          <span></span>
        </div>
        <div class="titles">
          <h2>Cleared Notification </h2>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="rightMenu">
          <ul class="pull-right">
            <li>
              <a (click)="updatesStatus()" style="cursor: pointer">Updates</a>
              <a (click)="clearedStatus()" style="cursor: pointer">Cleared</a>
            </li>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-info-circle" aria-hidden="true"></i>
              </a>
              <ul class="dropdown-menu">
                <li><a href="javascript:void(0);" id="about-page">About this page</a></li>
                <li><a href="javascript:void(0);" id="give-feedback">Give feedback</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <pinned-notification [pinnedNotification]="pinnedNotification"
                         [showHide]="showHide"
                         (onPinNotification)="pinNotification($event)"
                         (onClearNotification)="clearNotification($event)"
                         (onExclusionOptions)="exclusionOptions($event)"
                         (onMarkAsReadNotification)="markAsReadNotification($event)"
                         (onMarkAsAllReadNotification)="markAsAllReadNotification($event)"
                         (onClearAllNotification)="clearAllNotification($event)"
                         (onNavigatePage)="navigatePage($event)">
    </pinned-notification>

    <notification-list [notifications]="notifications"
                       [showHide]="showHide"
                       [groups]="groups"
                       (onPinNotification)="pinNotification($event)"
                       (onClearNotification)="clearNotification($event)"
                       (onExclusionOptions)="exclusionOptions($event)"
                       (onMarkAsReadNotification)="markAsReadNotification($event)"
                       (onMarkAsAllReadNotification)="markAsAllReadNotification($event)"
                       (onClearAllNotification)="clearAllNotification($event)"
                       (onNavigatePage)="navigatePage($event)">

    </notification-list>
    <div *ngIf="showHide" class="col-sm-12 text-center">
      <a *ngIf="!loading && !showDataLoadProcess" class="k-button k-primary btnNotificationloadMore"
         (click)="loadMoredata()">Load More</a>
      <a *ngIf="showDataLoadProcess" style="margin-top: 5px; font-size:24px;" class="k-primary"><i
          class="fa fa-spinner fa-spin"></i></a>
    </div>
    <!--Cleared -->
    <cleared-notification [notifications]="notifications"
                          [showHide]="showHide"
                          [groups]="groups"
                          (onRestoreNotification)="restoreNotification($event)"
                          (onRestoreAllNotification)="restoreAllNotification($event)"
                          (onNavigatePage)="navigatePage($event)">

    </cleared-notification>
  </div>
  <div *ngIf="!showHide" class="col-sm-12 text-center">
    <a *ngIf="!clearLoading && !showDataLoadProcess" class="k-button k-primary btnNotificationloadMore"
       (click)="loadMoreCleardata()">Load More</a>
    <a *ngIf="showDataLoadProcess" style="margin-top: 5px; font-size:24px;" class="k-primary"><i
        class="fa fa-spinner fa-spin"></i></a>
  </div>
</div>


<!--<div *ngIf="loading" class="mainPageLoader">
  <div  class="subPageLoader">
    <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
    <span>&nbsp; Loading...</span>
  </div>
</div>-->

<!--Exclusion Option-->
<kendo-dialog *ngIf="isExclusionOptionDialog" (close)="closeExclusionOptionDialog()" [width]="200">
  <kendo-dialog-titlebar>
    Notification Options
  </kendo-dialog-titlebar>
  <div class="col-md-12">
    <form novalidate [formGroup]="exclusionOptionForm" class="k-form">
      <div class=" row">
        <div class="col-md-12 col-sm-12">
          <label class="k-form-field" style="display: inline-flex">
            <span style="padding-right: 5px;">Email</span>
            <kendo-switch formControlName="excludeEmail"></kendo-switch>
          </label>
        </div>
      </div>
      <div class=" row">
        <div class="col-md-12 col-sm-12">
          <label class="k-form-field" style="display: inline-flex">
            <span style="padding-right: 5px;">SMS</span>
            <kendo-switch formControlName="excludeSMS"></kendo-switch>
          </label>
        </div>
      </div>
    </form>
  </div>
  <kendo-dialog-actions>
    <button class="k-button" (click)="closeExclusionOptionDialog()">Cancel</button>
    <button *ngIf="!exclusionLoading" class="k-button k-primary" (click)="saveExclusionOption($event)">Save</button>
    <button *ngIf="exclusionLoading" class="btn btn-primary Sign-in" style="width: 50%;">
      <img style="height: 30px; width: 35px; transform: scale(2.5);" src="assets/img/mss-loading.svg"/>
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
