<style>
  .txtRole {
    font-weight: bold;
    color: #3c8dbc;
  }

  .helpButton {
    top: 0px !important;
  }

  @media only screen and (min-width: 1730px) {
    .siteSelectBox {
      position: relative;
      left: 121px;
      z-index: 111;
    }
  }
</style>


<div>
  <div class="col-sm-4 col-xs-12">
    <h3 style="margin: 0;"> {{page}} </h3>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-8 siteSelectBox">
    <div style="float: right;position: relative">
      <div *ngIf="siteSaving == true" style="position: absolute; top: 4px; left: -80px;">
        <a style="">Updating...</a>
      </div>
      <div class="">
        <label class="" style="font-weight: bold; margin-top: 5px; float: left;">Site: </label>
        <kendo-dropdownlist name="eqmSettings.currentSiteId"
                            [(ngModel)]="eqmSettings.currentSiteId"
                            [ngModelOptions]="{standalone: true}"
                            [data]="siteList"
                            [textField]="'text'"
                            [valueField]="'value'"
                            [disabled]="!eqmSettings.canToggleSites"
                            required
                            [valuePrimitive]="true"
                            class="kendoControlWidth pull-left"
                            [filterable]="true"
                            (selectionChange)="onSiteSelectionChange($event)"
                            (filterChange)="siteHandleFilter($event)">
        </kendo-dropdownlist>

      </div>
    </div>
  </div>

  <div class="col-md-2 col-sm-2 col-xs-4" style="text-align: center;">
    <div class="pull-right" style="width: 150px;" *ngIf="eqmSettings.roleName">
      <label style="font-weight: bold; margin-top: 5px;"><span class="txtRole">Role:</span>
        {{eqmSettings.roleName}}</label>
    </div>
    <div class="pull-right" style="width: 150px;" *ngIf="!eqmSettings.roleName">
      <label style="font-weight: bold; margin-top: 5px;">Role: None</label>
    </div>
    <div *ngIf="helpLink">
      <span class="helpButton"><a target="_blank" href="{{helpLink}}"><i class="fa fa-question-circle"></i></a></span>
    </div>
  </div>


</div>

<div class="clearfix"></div>
