<kendo-dialog title="" class="projecttasklistpopup minheight-800" *ngIf="openTaskListViewer" (close)="closeForm()">
  <kendo-dialog-titlebar>
    <div style="font-size: 18px; line-height: 1.3em;">
      <div class="col-sm-6 tastlistbox">
        <div class="inputBoxList">
          {{project.projectName}}
        </div>
      </div>
      <div class="col-sm-6" *ngIf="workspaceSettings.isAdmin">
        <button (click)=editProjectSettings() class="btn btn-primary pull-right btnProjectSetting"><i
            class="fa fa-pencil"></i> Project Settings
        </button>
      </div>
    </div>
  </kendo-dialog-titlebar>

  <div *ngIf="loading == true" style="font-size: 32px;">
    <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
    <span>&nbsp; Loading..</span>
  </div>

  <div style="padding: 0px; overflow: auto; width: 100%; height: 91vh; padding: 16px;" id="tasklistDiv" #tasklistDiv>
    <div class="col-sm-12" *ngIf="loading == false" style="padding: 0px !important; display: flex;">
      <kendo-sortable [data]="gridView"
                      itemClass="kendoItemStyle"
                      [navigatable]="true"
                      class="kendoSortable"
                      emptyItemClass="empty"
                      emptyText="Currently no task"
                      [animation]="true"
                      [activeItemStyle]="{'cursor': 'move','z-index':'99999','opacity':'1'}"
                      activeItemClass=""
                      (dragEnd)="onTaskListDragEnd(gridView, $event)"
                      (dataRemove)="onTaskListRemove(gridView, $event)"
                      disabledItemClass="disabled">

        <ng-template let-dataItem="item">
          <!--taskList-->
          <!--taskList-->
          <div>
            <app-projectTask [taskListInfo]="dataItem"
                             [selectedProject]="project"
                             (isdragChild)="isdragChildHandler($event)"
                             [userModeInfo]="userPermissionModel"
                             [projectUserAssignedToList]="projectUserAssignedToList"
                             [projectTagList]="projectTagList"
                             [(projectTaskUpdate)]="projectTaskUpdate"
                             (taskDragHandler)="taskDragHandler($event)"
                             (deleteTaskList)="deleteTaskList($event)"></app-projectTask>
          </div>
        </ng-template>
      </kendo-sortable>
      <div *ngIf="checkUserPermission('add')" style="display: inline-flex !important;">
        <div>
          <span class="AddTaskInputBox" #targetToTheRight>
            <input (focus)="inputFocusClass = true" #txtAddNewTasklist id="txtAddNewTasklist" type="text"
                   placeholder="Add New Tasklist" (keydown)="saveTaskList($event,null, $event.target.value)"/>
            <span class="AddtaskInputClose" (click)="showNewTaskList()"><i class="fa fa-times"></i></span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <kendo-dialog title="Please Confirm" *ngIf="openTaskListDeleteDialog" (close)="deleteTaskListHandler(false)"
                class="projecttasklistpopupDeleteConfirm">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="deleteTaskListHandler(false)">No</button>
      <button kendoButton (click)="deleteTaskListHandler(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
  <kendo-grid-project-form [(model)]="editProjectDataItem" [isNew]="isOpen" [isActiveHide]="false"
                           (cancel)="projectcancelHandler($event)">
  </kendo-grid-project-form>

</kendo-dialog>
