<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new Project Task List' : 'Edit Project Task List' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-12">
        <label class="k-form-field">
          <span>Project Task List Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="projectTaskListName"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.projectTaskListName.valid || editForm.controls.projectTaskListName.untouched">
            Project Task List Name is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Project <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="projectId"
                              [data]="filterworkspaceIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              required
                              [filterable]="true"
                              (filterChange)="projectIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.projectId.valid || editForm.controls.projectId.untouched">
            Project is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
