<kendo-dialog title="Bulk Edit" *ngIf="openedBulkEdit" (close)="closeForm()">
  <kendo-dialog-titlebar>
    Edit Bulk Order
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-12 col-sm-12">
        <div class="col-md-12">

        </div>
        <table class="table table-bordered">
          <tr class="bulk-order-header-color">
            <th></th>
            <th>Property Type</th>
            <th>New Value</th>
          </tr>
          <tbody>
          <tr>
            <td>
              <div class="k-form-field text-center">
                <input type="checkbox" formControlName="changeAssignedUser" id="changeAssignedUser"
                       name="changeAssignedUser"
                       (click)="onToogleValue('changeAssignedUser', 'assignedUserId')" value="false"
                       class="k-checkbox"/>
                <label for="changeAssignedUser" class="k-checkbox-label" style="margin-top: 10px"></label>
              </div>
            </td>
            <td><label class="k-form-field"><span>Assigned User </span></label></td>
            <td>
              <label class="k-form-field">
                <kendo-dropdownlist formControlName="assignedUserId"
                                    [disabled]="true"
                                    [data]="filterassignedUserIdList"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    [valuePrimitive]="true"
                                    class="kendoControlWidth"
                                    [filterable]="true"
                                    (filterChange)="assignedUserIdHandleFilter($event)">
                </kendo-dropdownlist>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="k-form-field text-center">
                <input type="checkbox" formControlName="changeStatus" id="changeStatus"
                       (click)="onToogleValue('changeStatus', 'statusId')" value="false" class="k-checkbox"/>
                <label for="changeStatus" class="k-checkbox-label" style="margin-top: 10px"></label>
              </label>

            </td>
            <td>
              <label class="k-form-field">
                <span>Status </span>
              </label>
            </td>
            <td>
              <label class="k-form-field">
                <kendo-dropdownlist formControlName="statusId"
                                    [disabled]="true"
                                    [data]="filterstatusIdList"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    [valuePrimitive]="true"
                                    class="kendoControlWidth"
                                    [filterable]="true"
                                    (filterChange)="statusIdListHandleFilter($event)">
                </kendo-dropdownlist>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="k-form-field text-center">
                <input type="checkbox" formControlName="changePriority" id="changePriority"
                       (click)="onToogleValue('changePriority', 'priorityId')" value="false" class="k-checkbox">
                <label for="changePriority" class="k-checkbox-label" style="margin-top: 10px"></label>
              </label>
            </td>
            <td>
              <label class="k-form-field">
                <span>Priority </span>
              </label>
            </td>
            <td>
              <label class="k-form-field">
                <kendo-dropdownlist formControlName="priorityId"
                                    [disabled]="true"
                                    [data]="filterpriorityIdList"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    [valuePrimitive]="true"
                                    class="kendoControlWidth"
                                    [filterable]="true"
                                    (filterChange)="priorityIdListHandleFilter($event)">
                </kendo-dropdownlist>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="k-form-field text-center">
                <input type="checkbox" formControlName="changeOrderType" id="changeOrderType"
                       (click)="onToogleValue('changeOrderType', 'orderTypeId')" value="false" class="k-checkbox">
                <label for="changeOrderType" class="k-checkbox-label" style="margin-top: 10px"></label>
              </label>
            </td>
            <td>
              <label class="k-form-field">
                <span>Order Type </span>
              </label>
            </td>
            <td>
              <label class="k-form-field">
                <kendo-dropdownlist formControlName="orderTypeId"
                                    [disabled]="true"
                                    [data]="filterorderTypeIdList"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    [valuePrimitive]="true"
                                    class="kendoControlWidth"
                                    [filterable]="true"
                                    (filterChange)="orderTypeIdListHandleFilter($event)">
                </kendo-dropdownlist>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="k-form-field text-center">
                <input type="checkbox" formControlName="changeIsPlanned" id="changeIsPlanned"
                       (click)="onToogleValue('changeIsPlanned', 'isPlanned')" value="false" class="k-checkbox">
                <label for="changeIsPlanned" class="k-checkbox-label" style="margin-top: 10px"></label>
              </label>
            </td>
            <td>
              <label class="k-form-field">
                <span>IsPlanned</span>
              </label>
            </td>
            <td>
              <label class="k-form-field">
                <input type="checkbox" id="IsPlanned" disabled="disabled" formControlName="isPlanned" value="false"
                       class="k-checkbox">
                <label class="k-checkbox-label" for="IsPlanned" style="margin-top: 10px">&nbsp; IsPlanned</label>
              </label>
            </td>
          </tr>
          <tr>
            <td>
              <label class="k-form-field text-center">
                <input type="checkbox" formControlName="changeDueDate" id="changeDueDate"
                       (click)="onToogleValue('changeDueDate', 'dueDate')" value="false" class="k-checkbox">
                <label for="changeDueDate" class="k-checkbox-label" style="margin-top: 10px"></label>
              </label>
            </td>
            <td>
              <label class="k-form-field"> <span>Due Date</span></label>
            </td>
            <td>
              <label class="k-form-field">
                <kendo-datepicker formControlName="dueDate" id="dueDate"
                                  [disabled]="isdatepickerdisabled"
                                  [(value)]="defaultDate"
                                  [format]="'dd-MMM-yyyy'"
                                  class="kendoControlWidth"></kendo-datepicker>
              </label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button k-primary" (click)="bulkDelete()">Delete</button>
    <button class="k-button k-primary" (click)="bulkSave()">Update</button>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
  </kendo-dialog-actions>
</kendo-dialog>


<div class="example-wrapper">
  <kendo-dialog title="Please Confirm" *ngIf="isOrderDelete" (close)="removeOrder($event, false)" [minWidth]="250"
                [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="removeOrder($event, false)">No</button>
      <button kendoButton (click)="removeOrder($event, true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
