<kendo-dialog title="Order Detail ({{order.orderId}})" class="exportorderwidth minheight-800" *ngIf="openDetailViewer"
              (close)="closeForm()">
  <form novalidate [formGroup]="editForm" class="k-form no-padding">
    <section class="content-header no-padding">
      <div class="pull-left col-md-6" style="padding: 0;">
        <h5 style="color: green;"> Created By : <b> {{order.createdByName}} </b></h5>
      </div>
      <div class="pull-left col-md-6" style="padding: 0;">
        <div *ngIf="eqmSettings.canEditOrders">
          <a class="pull-right btn btn-primary padding-btn btn-kendo-color" (click)="orderDeleteClose()"><i
              class="fa fa-trash"></i></a>
        </div>
        <div *ngIf="!eqmSettings.canEditOrders">
          <a class="pull-right btn btn-primary padding-btn btn-kendo-color"
             (click)="error('You do not have permission to remove order.')"><i class="fa fa-trash"></i></a>
        </div>
        <a class="pull-right btn btn-primary padding-btn btn-kendo-color" (click)="onSave($event)"><i
            class="fa fa-save"></i></a>

        <div *ngIf="pageSaving == true">
          <a class="pull-right" style="margin: 6px 10px;">Saving...</a>
        </div>
      </div>
    </section>

    <section class="content no-padding">
      <div class="row">
        <div class="col-lg-12">

          <div class="box box-primary box-overflow" style="padding: 0 5px;">
            <div style="margin-top: 10px;">
              <div class="panel panel-info col-md-7 no-padding">
                <div class="panel-heading">Order Details</div>
                <div class="panel-body" style="min-height: 250px;" *ngIf="eqmSettings.canEditOrders">
                  <div class="col-md-6 no-padding">
                    <div class="form-group">
                      <label for="dueDate" class="control-label lbl-order-details col-md-3 no-padding">Req Due
                        Date: </label>
                      <div class="demo-section k-content no-padding col-md-9">
                        <div>
                          <kendo-datepicker formControlName="dueDate" style="width: 100%;"></kendo-datepicker>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>

                    <div class="form-group">
                      <label for="assignedUserId" class="control-label lbl-order-details no-padding col-md-3">Assigned
                        User: </label>
                      <div class="no-padding col-md-9">
                        <kendo-dropdownlist formControlName="assignedUserId"
                                            [data]="filterassignedUserList"
                                            [textField]="'text'"
                                            [valueField]="'value'"
                                            [defaultItem]="{'text':'','value':''}"
                                            [valuePrimitive]="true"
                                            class="kendoControlWidth"
                                            [filterable]="true"
                                            (filterChange)="assignedUserHandleFilter($event)"
                                            (selectionChange)="selectionChange($event)">
                        </kendo-dropdownlist>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>

                    <div class="form-group">
                      <label for="priorityId"
                             class="control-label lbl-order-details no-padding col-md-3">Priority: </label>
                      <div class="no-padding col-md-9">

                        <kendo-dropdownlist formControlName="priorityId"
                                            [data]="priorityList"
                                            [textField]="'text'"
                                            [valueField]="'value'"
                                            required
                                            [valuePrimitive]="true"
                                            class="kendoControlWidth"
                                            [filterable]="true"
                                            (filterChange)="priorityHandleFilter($event)">
                        </kendo-dropdownlist>
                      </div>
                      <div class="k-tooltip k-tooltip-validation col-md-offset-3"
                           [hidden]="editForm.controls.priorityId.valid || editForm.controls.priorityId.pristine">
                        Priority is required
                      </div>
                    </div>

                  </div>
                  <div class="col-md-6 no-padding" style="margin-left: 15px; width: 48%;">
                    <div class="row">
                      <div class="col-lg-9 col-md-offset-3">
                        <div class="input-group" style="margin-left: -7px;">
                          <span class="input-group-addon">
                            <input type="checkbox" id="ch1" formControlName="isPlanned"/>
                          </span>
                          <input style="height: 35px;" type="text" disabled class="form-control"
                                 aria-label="Text input with checkbox" value="Is Planned">
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>

                    <div class="form-group">
                      <label for="equipmentId"
                             class="control-label lbl-order-details no-padding col-md-3">Equipment: </label>
                      <div class="no-padding col-md-9">
                        <kendo-dropdownlist formControlName="equipmentId"
                                            [data]="equipmentList"
                                            [textField]="'text'"
                                            [valueField]="'value'"
                                            required
                                            [valuePrimitive]="true"
                                            class="kendoControlWidth"
                                            [filterable]="true"
                                            (filterChange)="equipmentHandleFilter($event)">
                        </kendo-dropdownlist>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>

                    <div class="form-group">
                      <label for="priorityId" class="control-label lbl-order-details no-padding col-md-3">Order
                        Type: </label>
                      <div class="no-padding col-md-9">
                        <kendo-dropdownlist formControlName="orderTypeId"
                                            [data]="orderTypeList"
                                            [textField]="'text'"
                                            [valueField]="'value'"
                                            required
                                            [valuePrimitive]="true"
                                            class="kendoControlWidth"
                                            [filterable]="true"
                                            (filterChange)="orderTypeHandleFilter($event)">
                        </kendo-dropdownlist>
                      </div>
                      <div class="k-tooltip k-tooltip-validation col-md-offset-3"
                           [hidden]="editForm.controls.orderTypeId.valid || editForm.controls.orderTypeId.pristine">
                        OrderType is required
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                  <br/>

                  <div class="col-md-12 no-padding">
                    <div class="form-group">
                      <label class="control-label lbl-order-details no-padding pull-left" style="width: 12%;">Description: </label>
                      <div class="no-padding pull-left" style="width: 87%; margin-left: 4px;">
                        <textarea title="This is for SignalR" formControlName="description"
                                  class="form-control"></textarea>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="panel-body" style="min-height: 250px;" *ngIf="!eqmSettings.canEditOrders">
                  <div class="col-md-6 no-padding">
                    <div class="form-group">
                      <label for="dueDate" class="control-label lbl-order-details col-md-3 no-padding">Req Due
                        Date: </label>
                      <div class="demo-section k-content no-padding col-md-9">
                        <div>
                          <kendo-datepicker [disabled]="true" [(ngModel)]="dueDate" formControlName="dueDate"
                                            style="width: 100%;"></kendo-datepicker>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>

                    <div class="form-group">
                      <label for="assignedUserId" class="control-label lbl-order-details no-padding col-md-3">Assigned
                        User: </label>
                      <div class="no-padding col-md-9">
                        <kendo-dropdownlist formControlName="assignedUserId"
                                            [data]="filterassignedUserList"
                                            [disabled]="true"
                                            [textField]="'text'"
                                            [valueField]="'value'"
                                            [defaultItem]="{'text':'','value':''}"
                                            [valuePrimitive]="true"
                                            class="kendoControlWidth"
                                            [filterable]="true"
                                            (filterChange)="assignedUserHandleFilter($event)"
                                            (selectionChange)="selectionChange($event)">
                        </kendo-dropdownlist>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>

                    <div class="form-group">
                      <label for="priorityId"
                             class="control-label lbl-order-details no-padding col-md-3">Priority: </label>
                      <div class="no-padding col-md-9">

                        <kendo-dropdownlist formControlName="priorityId"
                                            [disabled]="true"
                                            [data]="priorityList"
                                            [textField]="'text'"
                                            [valueField]="'value'"
                                            required
                                            [valuePrimitive]="true"
                                            class="kendoControlWidth"
                                            [filterable]="true"
                                            (filterChange)="priorityHandleFilter($event)">
                        </kendo-dropdownlist>
                      </div>
                      <div class="k-tooltip k-tooltip-validation col-md-offset-3"
                           [hidden]="editForm.controls.priorityId.valid || editForm.controls.priorityId.pristine">
                        Priority is required
                      </div>
                    </div>

                  </div>
                  <div class="col-md-6 no-padding" style="margin-left: 15px; width: 48%;">
                    <div class="row">
                      <div class="col-lg-9 col-md-offset-3">
                        <div class="input-group" style="margin-left: -7px;">
                          <span class="input-group-addon">
                            <input type="checkbox" disabled id="ch1" formControlName="isPlanned"/>
                          </span>
                          <input style="height: 35px;" type="text" disabled class="form-control"
                                 aria-label="Text input with checkbox" value="Is Planned">
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>

                    <div class="form-group">
                      <label for="equipmentId"
                             class="control-label lbl-order-details no-padding col-md-3">Equipment: </label>
                      <div class="no-padding col-md-9">
                        <kendo-dropdownlist formControlName="equipmentId"
                                            [data]="equipmentList"
                                            [disabled]="true"
                                            [textField]="'text'"
                                            [valueField]="'value'"
                                            required
                                            [valuePrimitive]="true"
                                            class="kendoControlWidth"
                                            [filterable]="true"
                                            (filterChange)="equipmentHandleFilter($event)">
                        </kendo-dropdownlist>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                    <br/>

                    <div class="form-group">
                      <label for="priorityId" class="control-label lbl-order-details no-padding col-md-3">Order
                        Type: </label>
                      <div class="no-padding col-md-9">
                        <kendo-dropdownlist formControlName="orderTypeId"
                                            [data]="orderTypeList"
                                            [disabled]="true"
                                            [textField]="'text'"
                                            [valueField]="'value'"
                                            required
                                            [valuePrimitive]="true"
                                            class="kendoControlWidth"
                                            [filterable]="true"
                                            (filterChange)="orderTypeHandleFilter($event)">
                        </kendo-dropdownlist>
                      </div>
                      <div class="k-tooltip k-tooltip-validation col-md-offset-3"
                           [hidden]="editForm.controls.orderTypeId.valid || editForm.controls.orderTypeId.pristine">
                        OrderType is required
                      </div>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                  <br/>

                  <div class="col-md-12 no-padding">
                    <div class="form-group">
                      <label class="control-label lbl-order-details no-padding pull-left" style="width: 12%;">Description: </label>
                      <div class="no-padding pull-left" style="width: 87%; margin-left: 4px;">
                        <textarea disabled="disabled" title="This is for SignalR" formControlName="description"
                                  class="form-control"></textarea>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

              <div class="panel panel-info col-md-5 no-padding order-complete">
                <div class="panel-heading">Complete Order</div>
                <div class="panel-body" style="min-height: 250px;" *ngIf="hasRightsToUpdateOrderStatus">
                  <div class="form-group">
                    <label for="priorityId" class="control-label lbl-order-details no-padding col-md-3">Status
                      : </label>
                    <div class="no-padding col-md-9">
                      <kendo-dropdownlist formControlName="statusId"
                                          [data]="statusList"
                                          [textField]="'text'"
                                          [valueField]="'value'"
                                          required
                                          [valuePrimitive]="true"
                                          class="kendoControlWidth"
                                          [filterable]="true"
                                          (filterChange)="statusHandleFilter($event)">
                      </kendo-dropdownlist>
                    </div>
                    <div class="k-tooltip k-tooltip-validation col-md-offset-3"
                         [hidden]="editForm.controls.statusId.valid || editForm.controls.statusId.pristine">
                      Status is required
                    </div>
                  </div>

                  <div class="clearfix"></div>
                  <br/>

                  <div class="form-group">
                    <label for="failureTypeId" class="control-label lbl-order-details no-padding col-md-3">FailureType
                      : </label>
                    <div class="no-padding col-md-9">
                      <kendo-dropdownlist formControlName="failureTypeId"
                                          [disabled]="isfailureTypeEditable"
                                          [data]="failureTypeList"
                                          [textField]="'text'"
                                          [valueField]="'value'"
                                          [valuePrimitive]="true"
                                          class="kendoControlWidth"
                                          [filterable]="true"
                                          (filterChange)="failureTypeHandleFilter($event)">
                      </kendo-dropdownlist>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                  <br/>

                  <div class="row">
                    <div class="col-lg-9 col-md-offset-3">
                      <div class="input-group" style="margin-left: -7px;">
                        <span class="input-group-addon">
                          <input type="checkbox" (change)="workCompleteCheck()" formControlName="isWorkCompleted"/>
                        </span>
                        <input style="height: 35px;" type="text" disabled class="form-control" value="Is Completed">
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <br/>

                  <div class="form-group">
                    <label for="completedDate" class="control-label lbl-order-details col-md-3 no-padding">Completed
                      Date: </label>
                    <div class="demo-section k-content no-padding col-md-9">
                      <div *ngIf="!isWorkCompleted">
                        <kendo-datepicker [disabled]="true" formControlName="completedDate"
                                          style="width: 100%;"></kendo-datepicker>
                      </div>
                      <div *ngIf="isWorkCompleted">
                        <kendo-datepicker formControlName="completedDate" style="width: 100%;"></kendo-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <br/>

                  <div class="form-group">
                    <label for="requestType" class="control-label lbl-order-details col-md-3 no-padding">Request
                      Type: </label>
                    <div class="no-padding col-md-9">
                      <input kendoTextBox style="width: 100%;" disabled [(ngModel)]="requestType"
                             formControlName="requestType"/>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <br/>
                </div>

                <div class="panel-body" style="min-height: 250px;" *ngIf="!hasRightsToUpdateOrderStatus">
                  <div class="form-group">
                    <label for="priorityId" class="control-label lbl-order-details no-padding col-md-3">Status
                      : </label>
                    <div class="no-padding col-md-9">
                      <kendo-dropdownlist formControlName="statusId"
                                          [data]="statusList"
                                          [disabled]="true"
                                          [textField]="'text'"
                                          [valueField]="'value'"
                                          required
                                          [valuePrimitive]="true"
                                          class="kendoControlWidth"
                                          [filterable]="true"
                                          (filterChange)="statusHandleFilter($event)">
                      </kendo-dropdownlist>
                    </div>
                    <div class="k-tooltip k-tooltip-validation col-md-offset-3"
                         [hidden]="editForm.controls.statusId.valid || editForm.controls.statusId.pristine">
                      Status is required
                    </div>
                  </div>

                  <div class="clearfix"></div>
                  <br/>

                  <div class="form-group">
                    <label for="failureTypeId" class="control-label lbl-order-details no-padding col-md-3">FailureType
                      : </label>
                    <div class="no-padding col-md-9">
                      <kendo-dropdownlist formControlName="failureTypeId"
                                          [disabled]="true"
                                          [data]="failureTypeList"
                                          [textField]="'text'"
                                          [valueField]="'value'"
                                          [valuePrimitive]="true"
                                          class="kendoControlWidth"
                                          [filterable]="true"
                                          (filterChange)="failureTypeHandleFilter($event)">
                      </kendo-dropdownlist>
                    </div>
                  </div>

                  <div class="clearfix"></div>
                  <br/>

                  <div class="row">
                    <div class="col-lg-9 col-md-offset-3">
                      <div class="input-group" style="margin-left: -7px;">
                        <span class="input-group-addon">
                          <input type="checkbox" disabled="disabled" (change)="workCompleteCheck()"
                                 formControlName="isWorkCompleted"/>
                        </span>
                        <input style="height: 35px;" type="text" disabled class="form-control" value="Is Completed">
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <br/>

                  <div class="form-group">
                    <label for="completedDate" class="control-label lbl-order-details col-md-3 no-padding">Completed
                      Date: </label>
                    <div class="demo-section k-content no-padding col-md-9">
                      <div>
                        <kendo-datepicker [disabled]="true" formControlName="completedDate"
                                          style="width: 100%;"></kendo-datepicker>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <br/>

                  <div class="form-group">
                    <label for="requestType" class="control-label lbl-order-details col-md-3 no-padding">Request
                      Type: </label>
                    <div class="no-padding col-md-9">
                      <input kendoTextBox style="width: 100%;" disabled [(ngModel)]="requestType"
                             formControlName="requestType"/>
                    </div>
                  </div>
                  <div class="clearfix"></div>
                  <br/>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="panel panel-info col-md-6 no-padding">
                <div class="panel-heading">

                  <div *ngIf="eqmSettings.canAddPartsToOrders">
                    <button class="k-button k-primary" (click)="addPart()">
                      <i class="fa fa-plus"></i>&nbsp; Add Part
                    </button>
                  </div>

                  <div *ngIf="!eqmSettings.canAddPartsToOrders">
                    <button class="k-button k-primary" (click)="error('You do not have permission to add new Parts.')">
                      <i class="fa fa-plus"></i>&nbsp; Add Part
                    </button>
                  </div>
                </div>

                <div *ngIf="partLoading == true" style="font-size: 32px;">
                  <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
                  <span>&nbsp; Loading..</span>
                </div>
                <div *ngIf="partLoading == false">
                  <div class="panel-body" style="max-height: 250px;">
                    <div *ngIf="partData?.length > 0">
                      <div class="list-group" style="max-height: 220px; overflow: auto;">
                        <div *ngFor="let objPart of partData">
                          <a class="list-group-item list-group-item-action flex-column align-items-start"
                             style="padding: 5px;">
                            <div class="pull-left user-avatar col-md-1 no-padding">
                              <img src="{{objPart.partUserAvatar}}" class="img-reponsive img-circle img-fixed-width"
                                   (error)="updatePartUrl(objPart)"/>
                            </div>
                            <div class="pull-left d-flex w-100 justify-content-between col-md-10 no-padding">

                              <div class="li-input-bracket pull-left col-md-4 no-padding">
                                <kendo-dropdownlist
                                    name="objPart.partId"
                                    [value]="objPart.partId"
                                    [ngModelOptions]="{standalone: true}"
                                    [data]="partList"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    required
                                    [valuePrimitive]="true"
                                    class="partControlWidth"
                                    [filterable]="true"
                                    (filterChange)="partHandleFilter($event)">
                                  <ng-template kendoDropDownListNoDataTemplate>
                                    <table>
                                      <tr>
                                        <td><h4><span class="k-icon k-i-warning"></span><br/><br/> No data here</h4>
                                        </td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <button class="k-button k-primary" (click)="addNewPart(objPart)"><i
                                              class="fa fa-plus"></i>Add new part
                                          </button>
                                        </td>
                                      </tr>
                                    </table>
                                  </ng-template>
                                </kendo-dropdownlist>
                              </div>

                              <div class="pull-left col-md-3">
                                <div class="pull-left qty-input" style="font-size: 12px; margin-right: 5px;"><b>Qty:</b>
                                </div>
                                <input class="form-control li-inputs" style="margin-left: 10px; margin-top: 5px;"
                                       type="text"
                                       name="objPart.consumedQuantity"
                                       [(ngModel)]="objPart.consumedQuantity"
                                       [ngModelOptions]="{standalone: true}"
                                       placeholder="Part Quantity"
                                       required>
                              </div>
                              <div class="col-md-5 no-padding" style="margin-top: 5px; font-size: 12px;">
                                <b>Added: </b> {{objPart.createdDateTime | date: 'MM-dd-yyyy'}}
                              </div>
                              <div class="col-md-4 no-padding" style="margin-top: 5px; font-size: 12px;">
                                <b>By: </b> {{objPart.createdByName}}
                              </div>
                            </div>

                            <div class="li-icons" *ngIf="eqmSettings.canAddPartsToOrders">
                              <a class="pull-right btn btn-primary padding-btn btn-kendo-color"
                                 (click)="partDeleteConfirm(objPart)">
                                <i class="fa fa-trash"></i>
                              </a>
                              <a class="pull-right btn btn-primary padding-btn btn-kendo-color"
                                 (click)="savePart(objPart)">
                                <i class="fa fa-save"></i>
                              </a>
                            </div>
                            <div class="li-icons" *ngIf="!eqmSettings.canAddPartsToOrders">
                              <a class="pull-right btn btn-primary padding-btn btn-kendo-color"
                                 (click)="error('You do not have permission to delete Part.')">
                                <i class="fa fa-trash"></i>
                              </a>
                              <a class="pull-right btn btn-primary padding-btn btn-kendo-color"
                                 (click)="error('You do not have permission to update Part.')">
                                <i class="fa fa-save"></i>
                              </a>
                            </div>
                            <div class="clearfix"></div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="partData?.length <= 0">
                      No order parts for this order.
                    </div>
                  </div>
                </div>
              </div>

              <div class="panel panel-info col-md-6 no-padding workhistory-box">
                <div class="panel-heading">
                  <div *ngIf="eqmSettings.canWorkOnUnassignedOrders">
                    <button class="k-button k-primary" title="Add Work Record" (click)="addWorkRecord()">
                      <i class="fa fa-plus"></i>&nbsp; Add Work Record
                    </button>
                  </div>
                  <div *ngIf="!eqmSettings.canWorkOnUnassignedOrders">
                    <button class="k-button k-primary"
                            (click)="error('You do not have permission to add Work Record.')">
                      <i class="fa fa-plus"></i>&nbsp; Add Work History
                    </button>
                  </div>

                </div>
                <div *ngIf="wrLoading == true" style="font-size: 32px;">
                  <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
                  <span>&nbsp; Loading..</span>
                </div>
                <div *ngIf="wrLoading == false">
                  <div class="panel-body" style="max-height:250px">

                    <div *ngIf="wrData?.length > 0">
                      <div class="list-group" style="max-height: 220px; overflow: auto;">
                        <div *ngFor="let objWork of wrData">
                          <a class="list-group-item list-group-item-action flex-column align-items-start"
                             style="padding: 5px;">
                            <div class="pull-left user-avatar col-md-1 no-padding" style="margin-top: 10px;">
                              <img src="{{objWork.workRecordUserAvatar}}"
                                   class="img-reponsive img-circle img-fixed-width" (error)="updateWrUrl(objPart)"/>
                            </div>
                            <div class="pull-left d-flex w-100 justify-content-between col-md-10 no-padding">

                              <div class="clearfix"></div>
                              <div class="pull-left col-md-2 no-padding" style="margin-top: 10px;">
                                <div class="pull-left" style="font-size: 12px; margin-right: 5px; margin-top: 6px;">
                                  Hrs:
                                </div>
                                <input class="form-control li-inputs" style="margin-left: 10px; max-width:50px;"
                                       type="text"
                                       name="objWork.hours"
                                       [(ngModel)]="objWork.hours"
                                       [ngModelOptions]="{standalone: true}"
                                       placeholder="Hours"
                                       required>
                              </div>
                              <div class="pull-left col-md-6">
                                <textarea class="form-control" style="margin: 0; width: 100%; resize: none;" type="text"
                                          name="objWork.technicalNotes"
                                          [(ngModel)]="objWork.technicalNotes"
                                          [ngModelOptions]="{standalone: true}"
                                          placeholder="Technical Notes"
                                          required> </textarea>
                              </div>

                              <div class="pull-left col-md-3 no-padding">
                                <div class="pull-left" style="font-size: 12px; margin-right: 5px; margin-top: 2px;">
                                  <b>Added:</b>
                                  {{objWork.createdDateTime | date: 'MM-dd-yyyy'}}
                                  <br/>
                                  <b>By:</b>
                                  {{objWork.createdByName}}
                                </div>
                              </div>
                            </div>
                            <div class="li-icons" *ngIf="eqmSettings.canWorkOnUnassignedOrders">
                              <a class="pull-right btn btn-primary padding-btn btn-kendo-color"
                                 (click)="wrDeleteConfirm(objWork)">
                                <i class="fa fa-trash"></i>
                              </a>
                              <a class="pull-right btn btn-primary padding-btn btn-kendo-color"
                                 (click)="saveWorkRecord(objWork)">
                                <i class="fa fa-save"></i>
                              </a>
                            </div>
                            <div class="li-icons" *ngIf="!eqmSettings.canWorkOnUnassignedOrders">
                              <a class="pull-right btn btn-primary padding-btn btn-kendo-color"
                                 (click)="error('You do not have permission to delete Work Record.')">
                                <i class="fa fa-trash"></i>
                              </a>
                              <a class="pull-right btn btn-primary padding-btn btn-kendo-color"
                                 (click)="error('You do not have permission to update Work Record.')">
                                <i class="fa fa-save"></i>
                              </a>
                            </div>
                            <div class="clearfix"></div>
                          </a>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="wrData?.length <= 0">
                      No order work history for this order.
                    </div>
                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="panel panel-info col-md-12 no-padding">
                <div class="panel-heading">Related Orders</div>
                <div class="panel-body" style="min-height: 250px;">

                  <div class="col-md-12 table-responsive no-padding" id="divRelatedOrders">
                    <div *ngIf="reLoading == true" style="font-size: 32px;">
                      <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
                      <span>&nbsp; Loading..</span>
                    </div>
                    <div *ngIf="reLoading == false">
                      <kendo-grid [data]="reGridView"
                                  [pageSize]="rePageSize"
                                  [skip]="reSkip"
                                  [sort]="reSort"
                                  [pageable]="true"
                                  scrollable="none"
                                  [sortable]="{ mode: 'single' }"
                                  (pageChange)="rePageChange($event)"
                                  (dataStateChange)="reDataStateChange($event)"
                                  (add)="reAddHandler($event)"
                                  (edit)="reEditHandler($event)"
                                  (cancel)="reCancelHandler($event)"
                                  (save)="reSaveHandler($event)"
                                  (sortChange)="reSortChange($event)"
                                  (search)="reSaveHandler($event)"
                                  (remove)="reRemoveHandler($event)"
                                  [class.gridLoaderDiv]="reGridLoading">

                        <ng-template kendoGridToolbarTemplate>
                          <div *ngIf="reGridLoading == true" class="Gridloader"></div>
                          <div class="pull-left">
                            <button kendoGridAddCommand>Add new</button>
                          </div>
                          <div class="btn btn-primary btn-sm k-button" (click)="exportOrders()">Export Selected</div>
                        </ng-template>

                        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                          <kendo-pager-info></kendo-pager-info>
                          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                          <kendo-pager-next-buttons></kendo-pager-next-buttons>
                          <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                        </ng-template>

                        <div *ngIf="eqmSettings.canCreateRelatedOrders">
                          <kendo-grid-command-column title="" [width]="50">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                              <kendo-splitbutton class="disply-flex" [data]="actionData"
                                                 (buttonClick)="onAction($event,dataItem)"
                                                 (itemClick)="onAction($event,dataItem)">
                                <i class="fa fa-pencil-square-o"></i>
                              </kendo-splitbutton>
                            </ng-template>
                          </kendo-grid-command-column>
                        </div>
                        <div *ngIf="!eqmSettings.canCreateRelatedOrders">
                          <kendo-grid-command-column title="" [width]="50">
                            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                              <kendo-splitbutton class="disply-flex" [data]="actionData"
                                                 (buttonClick)="error('You do not have permission to delete or update Related order.')"
                                                 (itemClick)="error('You do not have permission to delete or update Related order.')">
                                <i class="fa fa-pencil-square-o"></i>
                              </kendo-splitbutton>
                            </ng-template>
                          </kendo-grid-command-column>
                        </div>

                        <kendo-grid-column field="equipmentName" title="EquipmentName"
                                           [width]="100"></kendo-grid-column>
                        <kendo-grid-column field="orderTypeName" title="OrderType"></kendo-grid-column>
                        <kendo-grid-column field="priorityDescription" title="Priority"></kendo-grid-column>
                        <kendo-grid-column field="statusName" title="Status"></kendo-grid-column>
                        <kendo-grid-column field="dueDate" title="DueDate">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <div *ngIf="dataItem.dueDate!=null">{{ dataItem.dueDate | date:"mediumDate" }}</div>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="assignToName" title="Assigned To"></kendo-grid-column>

                        <kendo-grid-column field="isWorkCompleted" title="IsComplete">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <div *ngIf="dataItem.isWorkCompleted">
                              <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                            </div>
                            <div *ngIf="!dataItem.isWorkCompleted">
                              <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                            </div>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="active" title="Active">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <div *ngIf="dataItem.active">
                              <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                            </div>
                            <div *ngIf="!dataItem.active">
                              <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                            </div>
                          </ng-template>
                        </kendo-grid-column>
                      </kendo-grid>
                    </div>

                    <kendo-grid-relatedorder-form [model]="reEditDataItem" [isNew]="isNew"
                                                  (save)="reSaveHandler($event)"
                                                  (cancel)="reCancelHandler($event)">
                    </kendo-grid-relatedorder-form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="example-wrapper">
        <kendo-dialog title="Please Confirm" *ngIf="isOrderDelete" (close)="removeOrder($event, false)" [minWidth]="250"
                      [width]="450">
          <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
          <kendo-dialog-actions>
            <button kendoButton (click)="removeOrder($event, false)">No</button>
            <button kendoButton (click)="removeOrder($event, true)" primary="true">Yes</button>
          </kendo-dialog-actions>
        </kendo-dialog>
      </div>

      <div class="example-wrapper">
        <kendo-dialog title="Please Confirm" *ngIf="isPartDelete" (close)="removePart(partDeleteItem, false)"
                      [minWidth]="250" [width]="450">
          <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
          <kendo-dialog-actions>
            <button kendoButton (click)="removePart(partDeleteItem, false)">No</button>
            <button kendoButton (click)="removePart(partDeleteItem, true)" primary="true">Yes</button>
          </kendo-dialog-actions>
        </kendo-dialog>
      </div>

      <div class="example-wrapper">
        <kendo-dialog title="Please Confirm" *ngIf="isWrDelete" (close)="removeWorkRecord(wrDeleteDataItem, false)"
                      [minWidth]="250" [width]="450">
          <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
          <kendo-dialog-actions>
            <button kendoButton (click)="removeWorkRecord(wrDeleteDataItem, false)">No</button>
            <button kendoButton (click)="removeWorkRecord(wrDeleteDataItem, true)" primary="true">Yes</button>
          </kendo-dialog-actions>
        </kendo-dialog>
      </div>

      <div class="example-wrapper">
        <kendo-dialog title="Please Confirm" *ngIf="reOpened" (close)="reDeleteClose(false)" [minWidth]="250"
                      [width]="450">
          <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
          <kendo-dialog-actions>
            <button kendoButton (click)="reDeleteClose(false)">No</button>
            <button kendoButton (click)="reDeleteClose(true)" primary="true">Yes</button>
          </kendo-dialog-actions>
        </kendo-dialog>
      </div>
    </section>
  </form>
</kendo-dialog>
