<kendo-dialog title="Export Orders" class="exportorderwidth" *ngIf="openReportViewer" (close)="closeForm()">
  <kendo-dialog-titlebar>
    Report Viewer
  </kendo-dialog-titlebar>

  <tr-viewer [containerStyle]="viewerContainerStyle"
             [serviceUrl]="reportUrl"
             [authenticationToken]="reportAuthenticationToken"
             [reportSource]=
                 "{
                    report: 'equipmentmaintenance/orders/maintenanceorder.trdx',
                    parameters: { orderId:orderSelection}
                  }"
             [viewMode]="'INTERACTIVE'"
             [scaleMode]="'telerikReportViewer.ScaleModes.SPECIFIC'"
             [scale]="1.0">
  </tr-viewer>

</kendo-dialog>
