﻿<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add Order Part' : 'Edit Order Part' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="orderpartForm" class="k-form">
    <div class="row">

      <div class="col-md-12">
        <label class="k-form-field">
          <span>Consumed Quantity : <span class="k-required">*</span></span>
          <input type="number" class="k-textbox" formControlName="consumedQuantity"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="orderpartForm.controls.consumedQuantity.valid || orderpartForm.controls.consumedQuantity.untouched">
            Consumed Quantity is required
          </p>
        </label>
      </div>
      <div class="clearfix"></div>
      <br/>

      <div class="col-md-12">
        <label class="k-form-field">
          <span>Part :  <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="partId"
                              [data]="partList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              required
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="partHandleFilter($event)">
          </kendo-dropdownlist>
        </label>
      </div>
      <div class="clearfix"></div>
      <br/>

      <div class="col-md-12">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="active" style="margin-top: 10px">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!orderpartForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>