<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new Order' : 'Edit Order' }}
  </kendo-dialog-titlebar>
  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Equipment <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="equipmentId"
                              [data]="filterequipmentIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              required
                              [filterable]="true"
                              (filterChange)="equipmentIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.equipmentId.valid || editForm.controls.equipmentId.untouched">
            Equipment is required
          </p>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Order Type <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="orderTypeId"
                              [data]="filterorderTypeIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              required
                              [filterable]="true"
                              (filterChange)="orderTypeIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.orderTypeId.valid || editForm.controls.orderTypeId.untouched">
            Order Type is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Priority <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="priorityId"
                              [data]="filterpriorityIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              required
                              [filterable]="true"
                              (filterChange)="priorityIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.priorityId.valid || editForm.controls.priorityId.untouched">
            Priority is required
          </p>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Due Date</span>
          <kendo-datepicker formControlName="dueDate"
                            [format]="'dd-MMM-yyyy'"
                            class="kendoControlWidth"></kendo-datepicker>

          <!--<p class="k-tooltip k-tooltip-validation"
                 [hidden]="editForm.controls.dueDate.valid || editForm.controls.dueDate.untouched">
            DueDate is required
          </p>-->
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <label class="k-form-field">
          <span>Description <span class="k-required">*</span></span>
          <textarea title="This is for SignalR" [(ngModel)]="description" formControlName="description"
                    class="form-control"></textarea>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.statusId.valid || editForm.controls.statusId.untouched">
            Description is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field" *ngIf="!isNew">
          <br/>
          <input type="checkbox" id="IsComplete" formControlName="isWorkCompleted" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="IsComplete" style="margin-top: 10px">&nbsp; IsComplete</label>
        </label>
      </div>
    </div>

    <!--<div class="form-group checkbox">
        <label class="control-label">
            <input type="checkbox" formControlName="active" value="false" /> Active
        </label>
    </div>-->
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
