<section class="content-header">
  <grid-header (siteSelectionChange)="siteSelectionChange($event)"
               [pageName]="'Order'"
               [link]="'https://mss-help.drawform.com/articles/equipment-maintenance/orders/overview/'">
  </grid-header>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">

        <div class="box-footer">
        </div>

        <div class="col-md-12 table-responsive" id="divOrderList">
          <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
            <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
            <span>&nbsp; Loading..</span>
          </div>
          <div *ngIf="loading == false">
            <div class="row">
              <div class="col-xs-12 search-text">
                <div class="pull-right" style="margin-left: 10px;">
                  <div class="funkyradio">
                    <div class="funkyradio-info">
                      <div *ngIf="isShowOnlyMyAssignments">
                        <input type="checkbox" name="ShowOnlyMyAssignments" [(ngModel)]="isShowOnlyMyAssignments" (click)="showOnlyMyAssignments()" checked="checked">
                        <label for="chkShowOnlyMyAssignments" (click)="showOnlyMyAssignments()">Show My Assignments Only</label>
                      </div>
                      <div *ngIf="!isShowOnlyMyAssignments">
                        <input type="checkbox" name="ShowOnlyMyAssignments" [(ngModel)]="isShowOnlyMyAssignments" (click)="showOnlyMyAssignments()">
                        <label for="chkShowOnlyMyAssignments" (click)="showOnlyMyAssignments()">Show My Assignments Only</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pull-right">
                  <div class="funkyradio">
                    <div class="funkyradio-info">
                      <input type="checkbox" name="checkbox" id="chkshowActive" checked="checked">
                      <label for="chkshowActive" (click)="showActive()">Show Active Only</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-12">
                <kendo-grid [data]="gridView"
                            [filterable]="true"
                            [filter]="state.filter"
                            [pageSize]="pageSize"
                            [skip]="skip"
                            [pageable]="true"
                            [sortable]="{ mode: 'single' }"
                            (pageChange)="pageChange($event)"
                            (dataStateChange)="dataStateChange($event)"
                            (add)="addHandler($event)"
                            (edit)="editHandler($event)"
                            (cancel)="cancelHandler($event)"
                            (save)="saveHandler($event)"
                            [sort]="sort"
                            (sortChange)="sortChange($event)"
                            (search)="saveHandler($event)"
                            (remove)="removeHandler($event)"
                            [scrollable]="'none'"
                            [class.gridLoaderDiv]="gridLoading"
                            [selectable]="{enabled: true, checkboxOnly: true }"
                            [kendoGridSelectBy]="'orderId'"
                            [selectedKeys]="orderSelection"
                            (selectedKeysChange)="onSelectedKeysChange($event)">

                  <ng-template kendoGridToolbarTemplate>
                    <div *ngIf="gridLoading == true" class="Gridloader"></div>
                    <button kendoGridAddCommand class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp; Add New</button>
                    <button class="k-button k-primary" (click)="exportOrders()"><i class="fa fa-print"></i>&nbsp; Print Selected</button>
                    <button class="k-button k-primary" *ngIf="canEditOrders" (click)="updateSelected()"><i class="fa fa-pencil-square-o"></i>&nbsp; Update Selected</button>
                  </ng-template>

                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                  </ng-template>

                  <kendo-grid-checkbox-column [width]="25">
                    <ng-template kendoGridHeaderTemplate>
                      <input class="k-checkbox" id="selectAllCheckboxId" kendoGridSelectAllCheckbox
                             [state]="selectAllState"
                             (selectAllChange)="onSelectAllChange($event)">
                      <label class="k-checkbox-label" for="selectAllCheckboxId"></label>
                    </ng-template>
                  </kendo-grid-checkbox-column>

                  <kendo-grid-command-column title="" [width]="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)" (itemClick)="onAction($event,dataItem)">
                        <i class="fa fa-pencil-square-o"></i>
                      </kendo-splitbutton>
                    </ng-template>
                  </kendo-grid-command-column>

                  <kendo-grid-column field="orderId" title="Id" filter="numeric" [width]="150">
                  </kendo-grid-column>
                  <kendo-grid-column field="equipmentName" title="Equipment Name">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="orderTypeName" title="Order Type" [width]="200">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="priorityDescription" title="Priority" [width]="200">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="statusName" title="Status" [width]="200">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="dueDate" title="Due Date" [width]="120" filter="date">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.dueDate!=null">{{ dataItem.dueDate | date:"mediumDate" }}</div>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="assignToName" title="Assigned To" [width]="200">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="createdByName" title="Created By" [width]="200">
                    <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                      <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                        <kendo-filter-contains-operator></kendo-filter-contains-operator>
                        <kendo-filter-eq-operator></kendo-filter-eq-operator>
                        <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                        <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                      </kendo-grid-string-filter-cell>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="createdDateTime" title="Created Date" [width]="120" filter="date">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.createdDateTime!=null">{{ dataItem.createdDateTime | date:"mediumDate" }}</div>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="isWorkCompleted" title="Complete" [width]="10" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.isWorkCompleted">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.isWorkCompleted">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>

                  <kendo-grid-column field="active" title="Active" [width]="10" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.active">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.active">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>

                  <ng-template kendoGridDetailTemplate let-dataItem>
                    <p><strong>Description:</strong> {{dataItem.description}}</p>
                  </ng-template>
                </kendo-grid>
                <kendo-grid-order-form [model]="editDataItem" [isNew]="isNew"
                                       (save)="saveHandler($event)"
                                       (cancel)="cancelHandler()">
                </kendo-grid-order-form>
                <kendo-grid-order-bulkedit-form [openedBulkEdit]="openedBulkEdit" [orderSelection]="orderSelection"
                                                (closeBulkEdit)="closeBulkEdit($event)">
                </kendo-grid-order-bulkedit-form>
                <kendo-report-viewer [openReportViewer]="openReportViewer" [orderSelection]="orderSelection"
                                     (closeReportViewer)="closeReportViewer($event)">
                </kendo-report-viewer>

                <kendo-detail-viewer [openDetailViewer]="openDetailViewer" [model]="order"
                                     (closeDetailViewer)="closeDetailViewer($event)">
                </kendo-detail-viewer>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="close(false)" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="close(false)">No</button>
      <button kendoButton (click)="close(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
