﻿<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new Order' : 'Edit Order' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="relatedorderForm">
    <div class="form-group">
      <label for="equipmentId" class="control-label">Equipment: </label>
      <select class="form-control" formControlName="equipmentId">
        <option *ngFor="let equip of equipmentList"
                [value]="equip.value">
          {{equip.text}}
        </option>
      </select>
      <div class="k-tooltip k-tooltip-validation"
           [hidden]="relatedorderForm.controls.equipmentId.valid || relatedorderForm.controls.equipmentId.pristine">
        Equipment is required
      </div>
    </div>
    <div class="form-group">
      <label for="orderTypeId" class="control-label">OrderType: </label>
      <select class="form-control" formControlName="orderTypeId">
        <option *ngFor="let orderType of orderTypeList"
                [value]="orderType.value">
          {{orderType.text}}
        </option>
      </select>
      <div class="k-tooltip k-tooltip-validation"
           [hidden]="relatedorderForm.controls.orderTypeId.valid || relatedorderForm.controls.orderTypeId.pristine">
        OrderType is required
      </div>
    </div>
    <div class="form-group">
      <label for="priorityId" class="control-label">Priority: </label>
      <select class="form-control" formControlName="priorityId">
        <option *ngFor="let priority of priorityList"
                [value]="priority.value">
          {{priority.text}}
        </option>
      </select>
      <div class="k-tooltip k-tooltip-validation"
           [hidden]="relatedorderForm.controls.priorityId.valid || relatedorderForm.controls.priorityId.pristine">
        Priority is required
      </div>
    </div>

    <div class="form-group" *ngIf="!isNew">
      <label for="statuses" class="control-label">Status: </label>
      <select class="form-control" formControlName="statusId">
        <option *ngFor="let status of statusList"
                [value]="status.value">
          {{status.text}}
        </option>
      </select>
      <div class="k-tooltip k-tooltip-validation"
           [hidden]="relatedorderForm.controls.statusId.valid || relatedorderForm.controls.statusId.pristine">
        Status is required
      </div>
    </div>

    <div class="form-group">
      <label for="dueDate" class="control-label">Due Date: </label>
      <div class="demo-section k-content">
        <div>
          <kendo-datepicker [(ngModel)]="dueDate" formControlName="dueDate" style="width: 100%;"></kendo-datepicker>

        </div>
      </div>
    </div>

    <div class="form-group checkbox" *ngIf="!isNew">
      <label class="control-label">
        <input type="checkbox" formControlName="isWorkCompleted" value="false"/> IsComplete
      </label>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!relatedorderForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>