﻿<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add Work History' : 'Edit Work History' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="workrecordForm" class="k-form">
    <div class=" row">

      <div class="col-md-12">
        <label class="k-form-field">
          <span>Hours : <span class="k-required">*</span></span>
          <input type="number" class="k-textbox" formControlName="hours"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="workrecordForm.controls.hours.valid || workrecordForm.controls.hours.untouched">
            Hours is required
          </p>
        </label>
      </div>
      <div class="clearfix"></div>
      <br/>

      <div class="col-md-12">
        <label class="k-form-field">
          <span>Note :  <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="technicalNotes"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="workrecordForm.controls.technicalNotes.valid || workrecordForm.controls.technicalNotes.untouched">
            Notes is required
          </p>
        </label>
      </div>
      <div class="clearfix"></div>
      <br/>

      <div class="col-md-12">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="active" style="margin-top: 10px">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!workrecordForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>