<aside class="main-sidebar">
  <div class="EQM_logo">EQM</div>
  <section class="sidebar left-sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <li *ngFor="let item of menuItem" [class.treeview]="item.children != undefined" routerLinkActive="active">

        <a *ngIf="item.data.menu.click && item.children == undefined" style="cursor: pointer;"
           (click)="menuClick(item)">
          <i class="{{item.data.menu.icon}}">
            <span *ngIf="item.data.menu.templateText != undefined" id="{{'sidemenu' + item.data.menu.title}}"
                  class="badge badge-pill badge-danger pull-right badgeWithicon"> {{item.data.menu.templateText}}</span>
          </i> <span>
            {{item.data.menu.title}}
          </span>
        </a>

        <a *ngIf="!item.data.menu.click && item.children == undefined" [routerLink]="item.path">
          <i class="{{item.data.menu.icon}}">
            <span *ngIf="item.data.menu.templateText != undefined" id="{{'sidemenu' + item.data.menu.title}}"
                  class="badge badge-pill badge-danger pull-right badgeWithicon"> {{item.data.menu.templateText}}</span>
          </i> <span>
            {{item.data.menu.title}}
          </span>
        </a>

        <!--If Menu have Child menu && click-->
        <a *ngIf="item.data.menu.click && item.children != undefined" href="javascript:void(0);"
           (click)="childMenuClick(item)">
          <i class="{{item.data.menu.icon}}"></i> <span>{{item.data.menu.title}}</span>
        </a>
        <ul class="treeview-menu" *ngIf="item.data.menu.click && item.children != undefined">
          <li *ngFor="let subMenu of item.children" routerLinkActive="link-active active">
            <a [routerLink]="item.path +'/'+ subMenu.path">
              <i class="{{subMenu.data.menu.icon}}"></i> {{subMenu.data.menu.title}}
              <span *ngIf="item.data.menu.templateText != undefined" class="badge badge-pill badge-danger pull-right"> {{item.data.menu.templateText}}</span>
            </a>
          </li>
        </ul>

        <!--If Menu have Child menu && without click-->
        <a *ngIf="!item.data.menu.click && item.children != undefined" href="javascript:void(0);">
          <i class="{{item.data.menu.icon}}"></i> <span>{{item.data.menu.title}}</span>
        </a>
        <ul class="treeview-menu" *ngIf="!item.data.menu.click && item.children != undefined">
          <li *ngFor="let subMenu of item.children" routerLinkActive="link-active active">
            <a [routerLink]="item.path +'/'+ subMenu.path">
              <i class="{{subMenu.data.menu.icon}}"></i> {{subMenu.data.menu.title}}
              <span *ngIf="item.data.menu.templateText != undefined" class="badge badge-pill badge-danger pull-right"> {{item.data.menu.templateText}}</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>

  </section>
</aside>

<messaging-form [model]="editDataItem" [messagePopUp]="messagePopUp" (cancel)="cancelHandler()"></messaging-form>
