.treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  cursor: pointer;
}

.treeview-menu {
  padding: 0px 5px !important;
}

.badge-danger {
  background-color: #d9534f;
}

.badgeWithicon {
  position: absolute;
  top: 0px;
  right: 0px;
}

.sidebar-collapse .sidebar-menu > li > .badge {
  top: 0 !important;
}
