 .isDataLoaded {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: 100%;
   z-index: 99999;
   /*opacity: 0.7;*/
 }

 .isDataLoaded i.fa {
   position: absolute;
   top: 50%;
   left: 50%;
   z-index: 99999;
 }


 
 .userThumble {
   display: inline-block;
   color: #fff;
   border-radius: 50%;
   margin-right: 5px;
   width: 25px;
   height: 25px;
   text-align: center;
   padding: 3px;
 }
