<kendo-dialog *ngIf="openUserForm" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new User Type' : 'Edit User Type' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-12">
        <label class="k-form-field">
          <span>Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="userTypeName" />
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.userTypeName.valid || editForm.controls.userTypeName.untouched">
            User Type Name is required
          </p>
        </label>
        <label class="k-form-field">
          <span>Role <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="defaultUserRoleId"
                              [data]="filterUserRoleList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              required
                              [defaultItem]="{'text':'','value':''}"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="defaultUserRoleIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.defaultUserRoleId.valid || editForm.controls.defaultUserRoleId.untouched">
            User Role is required
          </p>
        </label>
      </div>
    </div>

  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
