<kendo-dialog *ngIf="isRequisitionformOpen" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ addRoleFlag ? 'Add New Reason' : 'Edit Reason' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="reasonForm" class="k-form">
    <div class=" row">
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <span>Reason Name  <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="requisitionReasonName" />
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="reasonForm.controls.requisitionReasonName.valid || reasonForm.controls.requisitionReasonName.untouched">
            Reason Name is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <span>Reason Description  </span>
          <input type="text" class="k-textbox" formControlName="description" />
        </label>
      </div>
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <span>Sort Order </span>
          <kendo-numerictextbox formControlName="sortOrder" [min]="0"></kendo-numerictextbox>
        </label>
      </div>
      <div class="col-md-8 col-xs-12">
       <label class="k-form-field">
            <span>Site <span class="k-required">*</span></span>
            <kendo-dropdownlist formControlName="siteId"
                                [data]="filtercurrentSiteIdList"
                                [textField]="'text'"
                                [valueField]="'value'"
                                [valuePrimitive]="true"
                                class="kendoControlWidth"
                                required
                                [filterable]="true"
                                (filterChange)="currentSiteIdListHandleFilter($event)">
            </kendo-dropdownlist>
            <p class="k-tooltip k-tooltip-validation"
               [hidden]="reasonForm.controls.siteId.valid || reasonForm.controls.siteId.untouched">
              Site is required
            </p>
          </label>
      </div>
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

 <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
