.useravtar {
    margin: 0px;
    padding: 0;
    width: 35px !important;
    height: 35px !important;
    border-radius: 50px;
    right: 0;
    top: 1px;
    border: 1px solid #676f75;
    display: block;
}

.formLinkDocumentSerach .k-window {
    width: 80vw !important;
    max-height: 650px;
}

.formsetmaxHeight {
    max-height: 650px;
    overflow: scroll;
}

.formLinkDocument .k-window {
    width: 450px !important;
}

.tagDocument .k-window {
    width: 100% !important;
    min-height: 400px !important;
}

.formLinkDocument .k-window-content, .formLinkDocument .k-prompt-container {
    /*padding: 16px !important;*/
}

.kendoControlWidthDoc {
    width: 100% !important;
}

.kendoControlWidthDoc .k-multiselect-wrap {
    min-height: 29px !important;
}

.kendoControlWidthDoc .k-multiselect-wrap {
    /* enable scrollability */
    overflow: auto;
    /* control selected items' container - use height or min-height and/or max-height */
    min-height: 100px;
}

/*.formLinkDocument {
  position: relative;
  width: 80%;
  margin: 0 auto;
}*/

.formLinkDocument .isDataLoaded {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #000;
    opacity: 0.2;
}

.formLinkDocument .isDataLoaded i.fa {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;
}

@media only screen and (min-width: 768px) {
    .btnAddtoSearch {
        position: relative;
        top: 22px;
    }

    .btnSearchDock {
        position: relative;
        top: 24px;
    }
}

kendo-tabstrip p {
    margin: 0;
    padding: 8px;
}
