<style>
  /*.scrollBarMeaasgeBoxPageDetail {
    max-height: 100%;
    min-height: 100%;
    height: 30vh !important;
    overflow: auto;
  }*/

  .projecttaskdetailspopup .k-tabstrip div.k-content {
    /*overflow: hidden !important;*/
    background: #fff;
  }

  .projecttaskdetailspopup .k-window {
    height: auto !important;
    /*min-height: 600px;*/
  }

  .tblProjecttIMElIST td, .tblProjecttIMElIST th {
    display: contents !important;
  }

  .spendTimeBoxul hr {
    margin-bottom: 2px !important
  }

  .checkboxMain.Popupss .checkmark {
    background: #fff !important;
  }

  .checkboxMain.Popupss .checkmark:after {
    border-color: #444 !important;
  }
</style>
<kendo-dialog class="projecttaskdetailspopup" *ngIf="openDetailViewer" (close)="closeForm()" [minWidth]="450"
              [width]="600">
  <kendo-dialog-titlebar>
    <div style="font-size: 18px; line-height: 1.3em;">
    <span class="checkboxMain Popupss" style="position: absolute;left: 0px;top: 20px;">
      <input checked class="check" type="checkbox" [(ngModel)]="projecTaskDTO.active"
             (change)="completedTaskHandler($event, !projecTaskDTO.active, projecTaskDTO)"
             style="top: 7px;left: 13px;"/>
      <span class="checkmark" style="background: #fff;"></span>
    </span>
      <div class="tastlistbox" *ngIf="checkUserPermission('add')">
        <div class="inputBoxList">
          <input type="text" class="taskinput" (keyup)="onSaveTaskname($event)"
                 [(ngModel)]="projecTaskDTO.projectTaskName" style="margin: 4px 0 0 20px;"/>
          <span class="taskedit"><i class="fa fa-pencil"></i></span>
        </div>
      </div>
      <div class="tastlistbox" *ngIf="!checkUserPermission('add')">
        <div class="inputBoxList">
          <span>{{projecTaskDTO.projectTaskName}}</span>
        </div>
      </div>

    </div>
  </kendo-dialog-titlebar>
  <!--<div>
    <span *ngIf="projecTaskDTO.completedByUserId==null" style="margin-top:-15px;" class="pull-right">
      <input class="check" type="checkbox" [(ngModel)]="projecTaskDTO.active"  (change)="completedTaskHandler($event, !projecTaskDTO.active, projecTaskDTO)" />
      <span style="color:lightcoral"><small><i>Mark to complete the task</i></small></span>
    </span>
    <span *ngIf="projecTaskDTO.completedByUserId!=null" style="margin-top:-15px;" class="pull-right">
      <input checked class="check" type="checkbox" [(ngModel)]="projecTaskDTO.active"  (change)="completedTaskHandler($event, !projecTaskDTO.active, projecTaskDTO)" />
      <span style="color:lightcoral"><small><i>Completed</i></small></span>
    </span>
  </div>-->
  <kendo-tabstrip class="col-md-12" (tabSelect)="onTabSelect($event)" style="min-height: 300px;">

    <kendo-tabstrip-tab [title]="'Properties'" [selected]="true">
      <ng-template kendoTabContent>

        <button class="k-button k-primary" (click)="onSaveOrderDetails($event)">Save</button>

        <span class="textareaBox" *ngIf="checkUserPermission('add')">
          <textarea class="form-control" placeholder="Task Description"
                    [(ngModel)]="projecTaskDTO.taskDescription"></textarea>
          <i class="fa fa-pencil"></i>
        </span>
        <span class="hrCustom"></span>
        <ul class="list-group">

          <li class="list-group-item" *ngIf="checkUserPermission('add')">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label">
                  <i class="fa fa-calendar"></i>
                  Start Date
                </label>
              </div>
              <div class="col-md-6">
                <kendo-datepicker [format]="'dd-MMM-yyyy'" [(value)]="projecTaskDTO.startDate"></kendo-datepicker>
              </div>
              <div class="col-md-3"></div>
            </div>
          </li>
          <li class="list-group-item" *ngIf="checkUserPermission('add')">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label">
                  <i class="fa fa-calendar"></i>
                  Due Date
                </label>
              </div>
              <div class="col-md-6">
                <kendo-datepicker [format]="'dd-MMM-yyyy'" [(value)]="projecTaskDTO.dueDate"></kendo-datepicker>
              </div>
              <div class="col-md-3"></div>

            </div>
          </li>
          <li class="list-group-item" *ngIf="checkUserPermission('add')">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label">
                  <i class="fa fa-user-plus"></i>
                  Assigned to
                </label>
              </div>
              <div class="col-md-9">
                <kendo-multiselect [data]="selectAssignedToList" [(ngModel)]="assignedToList" [textField]="'text'"
                                   [valueField]="'value'"
                                   (valueChange)="assignToChange($event)">
                  <ng-template kendoMultiSelectTagTemplate let-dataItem>
                    <span class="template">
                      <img class="template" onError="this.src='assets/img/no_avatar.png'"
                           src="{{dataItem.userAvatar}}"/>
                    </span>
                    <span>{{ dataItem.text }}</span>
                  </ng-template>
                  <ng-template kendoMultiSelectItemTemplate let-dataItem>

                    <span>
                      <img class="dropdown-img" onError="this.src='assets/img/no_avatar.png'"
                           src="{{dataItem.userAvatar}}"/>

                    </span>
                    <span>{{ dataItem.text }}</span>
                  </ng-template>
                </kendo-multiselect>
              </div>

            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label">
                  <i class="fa fa-eye"></i>
                  Followers
                </label>
              </div>
              <div class="col-md-9">
                <kendo-multiselect [data]="selectAssignedToList" [(ngModel)]="followersList" [textField]="'text'"
                                   [valueField]="'value'"
                                   (valueChange)="followersChange($event)">
                  <ng-template kendoMultiSelectTagTemplate let-dataItem>
                    <span class="template">
                      <img class="template" onError="this.src='assets/img/no_avatar.png'"
                           src="{{dataItem.userAvatar}}"/>
                    </span>
                    <span>{{ dataItem.text }}</span>
                  </ng-template>
                  <ng-template kendoMultiSelectItemTemplate let-dataItem>

                    <span>
                      <img class="dropdown-img" onError="this.src='assets/img/no_avatar.png'"
                           src="{{dataItem.userAvatar}}"/>
                    </span>
                    <span>{{ dataItem.text }}</span>
                  </ng-template>
                </kendo-multiselect>
              </div>

            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label">
                  <i class="fa fa-tag"></i>
                  Tags
                </label>
              </div>
              <div class="col-md-9 popupTaskDetailTags">
                <kendo-multiselect [data]="selectedprojectTagListDto" [(ngModel)]="tagList"
                                   (filterChange)="tagHandleFilter($event)"
                                   [filterable]="true"
                                   [textField]="'tagName'" [valueField]="'workspaceTagMasterId'">
                  <ng-template kendoMultiSelectTagTemplate let-dataItem>
                    <span class="label label-primary" [ngStyle]="{'background-color':  dataItem.tagColor }">{{ dataItem.tagName }}</span>
                  </ng-template>
                  <ng-template kendoMultiSelectItemTemplate let-dataItem>
                    <span class="label label-primary" [ngStyle]="{'background-color':  dataItem.tagColor }">{{ dataItem.tagName }}</span>
                  </ng-template>
                </kendo-multiselect>


              </div>

            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label">
                  <i class="fa fa-clock"></i>
                  Spend time
                </label>
              </div>
              <div class="col-md-6" style="display: flex; position: relative; ">
                <span class="btnAddTimePeakers" (click)="showTaskTime(true)"><i class="fa fa-plus"></i></span>
                <span *ngIf="projecTaskDTO.actualMinutes > 0" class="btnSetTimePeakers"
                      (click)="showTaskTimeDetail(true)">{{setTotalTaskTime(projecTaskDTO.actualMinutes)}}</span>

                <ul class="spendTimeBoxul"
                    style="left: 0px !important; min-width: 380px;max-height: 360px; overflow: auto;"
                    *ngIf="isShowTaskTimeDetail">
                  <li class="recordTime">
                    <div class="txtRecordes">Recorded Time</div>
                    <span><i class="fa fa-times" (click)="showTaskTimeDetail(true)"></i></span>
                  </li>
                  <hr/>
                  <li>
                    <table class="table">
                      <thead>
                      <tr>
                        <th>User</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>Duration</th>
                        <th></th>
                      </tr>
                      </thead>
                      <tbody style="font-size: 12px;">
                      <tr *ngFor="let item of projecTaskTimeList">
                        <td>{{item.createdByName}}</td>
                        <td>{{item.createdDateTime | date:'MMM d'}}</td>
                        <td>{{item.createdDateTime | date:'HH:mm'}}</td>
                        <td>{{getTotalTaskTime(item.minutesSpent)}}</td>
                        <td><i class="fa fa-trash" style="color: red; cursor: pointer;"
                               (click)="deleteTaskTime(item.projectTaskTimeId)"></i></td>
                      </tr>
                      </tbody>
                    </table>

                  </li>
                </ul>
                <!--<kendo-maskedtextbox (change)="onModelChange()" [mask]="mask" [(ngModel)]="estimatedMinutes"></kendo-maskedtextbox>-->
                <ul class="spendTimeBoxul" *ngIf="isShowTaskTime">
                  <li class="recordTime">
                    <div class="txtRecordes">Recorded Time</div>
                    <span><i class="fa fa-times" (click)="showTaskTime(false)"></i></span>
                  </li>
                  <hr/>
                  <li class="timeSet">
                    <div class="text-center" style="display: flex">
                      <kendo-timepicker [format]="'HH:mm'" [value]="minutesSpent"
                                        [(ngModel)]="minutesSpent"></kendo-timepicker>
                    </div>
                  </li>
                  <li class="btntimeSet">
                    <a (click)="saveManualTimeSpent(ProjectTaskTimeDto)"><span><i class="fa fa-caret-left"></i></span>&nbsp;
                      Enter Time</a>
                  </li>
                </ul>
              </div>
              <div class="col-md-3"></div>

            </div>
          </li>
          <li class="list-group-item" *ngIf="project.useTaskPoints">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label">
                  <i class="fa fa-circle-o"></i>
                  Points
                </label>
              </div>
              <div class="col-md-9">
                <kendo-dropdownlist style="width: 267px !important;" name="pointDropdown"
                                    [(ngModel)]="projecTaskDTO.points"
                                    [ngModelOptions]="{standalone: true}"
                                    [data]="taskPointList"
                                    [textField]="'text'"
                                    [valueField]="'value'"
                                    [valuePrimitive]="true"
                                    class="kendoControlWidth pull-left">
                  <ng-template kendoDropDownListValueTemplate let-dataItem>
                    <!-- <span class="dot">{{ dataItem?.value }}</span>&nbsp;{{ dataItem?.text }} -->
                    <div *ngIf="dataItem?.value==0">
                      <span class="dot bg-lightgrey width-20 height-20">{{dataItem?.text}}</span>
                      pa
                    </div>
                    <div *ngIf="dataItem?.value==null">
                      <span>{{dataItem?.text}}</span>
                    </div>
                    <div *ngIf="dataItem?.value>0">
                      <span class="dot width-20 height-20">{{dataItem?.text}}</span>
                    </div>
                  </ng-template>
                  <ng-template kendoDropDownListItemTemplate let-dataItem>
                    <span style="font-size:20px;margin-right:8px;"> {{ dataItem.text }}</span>
                    <div [innerHTML]="addDotsToPoints(dataItem.value)">

                    </div>
                  </ng-template>
                </kendo-dropdownlist>

              </div>
            </div>
          </li>
          <li class="list-group-item" style="border-bottom: none;">
            <div class="row">
              <div class="col-md-3">
                <label class="control-label">
                  <i class="fa fa-bucket"></i>
                  Label
                </label>
              </div>
              <div class="col-md-9">
                <div class="colorInputBox">
                  <input type="button" [ngClass]="projecTaskDTO.labelColor === '#0000ff'?'active':''"
                         (click)="selectColor('#0000ff')" style="background: #0000ff"/>
                  <input type="button" [ngClass]="projecTaskDTO.labelColor === '#ff0000'?'active':''"
                         (click)="selectColor('#ff0000')" style="background: #ff0000"/>
                  <input type="button" [ngClass]="projecTaskDTO.labelColor === '#008000'?'active':''"
                         (click)="selectColor('#008000')" style="background: #008000"/>
                  <input type="button" [ngClass]="projecTaskDTO.labelColor === '#f0e68c'?'active':''"
                         (click)="selectColor('#f0e68c')" style="background: #f0e68c"/>
                  <input type="button" [ngClass]="projecTaskDTO.labelColor === '#40e0d0'?'active':''"
                         (click)="selectColor('#40e0d0')" style="background: #40e0d0"/>
                  <input type="button" [ngClass]="projecTaskDTO.labelColor === '#ff00ff'?'active':''"
                         (click)="selectColor('#ff00ff')" style="background: #ff00ff"/>
                  <input type="button" [ngClass]="projecTaskDTO.labelColor === '#444444'?'active':''"
                         (click)="selectColor('#444444')" style="background: #444444"/>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <hr/>
        <app-projectTaskCheckList [taskInfo]="projecTaskDTO" [userModeInfo]="userPermissionModel" [isView]="false"
                                  (onCheckListUpdateFlag)="checkListUpdateFlag($event)"
                                  (openProjectTaskDetails)="openProjectTaskDetails()"></app-projectTaskCheckList>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'Comments'">
      <ng-template kendoTabContent>
        <!--<kendo-custom-TextEditor></kendo-custom-TextEditor>-->
        <message-panel [moduleName]="5"
                       [objectType]="1"
                       [objectId]="projecTaskDTO.projectTaskId"></message-panel>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'Files & Links'">
      <ng-template kendoTabContent>
        <sharedDocument [moduleType]="5" [objectType]="1" [objectId]="projecTaskDTO.projectTaskId"></sharedDocument>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
</kendo-dialog>

<!--<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="isCompleteTask" (close)="close(false)" [minWidth]="250" [width]="450" [height]="250">
    <p style="margin: 30px; text-align: center;">{{completeTaskModelMessage}}</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="completeTaskAction(false)">Reject</button>
      <button kendoButton (click)="completeTaskAction(true)" primary="true">Approved</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>-->

<app-projectTaskCompleted [projectTask]="projecTaskDetails" [isOpen]="isCompleteTask"
                          (onApprrovedOrRejected)="completeTaskAction($event)"></app-projectTaskCompleted>
