<style>
  .k-form {
    padding: 0px 16px 0px !important;
  }

  .label {
    margin-bottom: 3px !important;
  }
</style>
<kendo-dialog *ngIf="isRequisitionEditActive"
              title=" {{ isNew ? 'Requisition Detail Add' : 'Requisition Detail Editor' }}"
              class="requisitionsDetailpopup" (close)="closeForm()" [width]="700">
  <form novalidate [formGroup]="requisitionDetailForm" class="k-form">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <span>
            <strong>Req no : </strong> {{requisitionDetailForm.controls['requisitionId'].value}}
          </span>
        </div>
        <div class="col-md-3">
          <span>
            <strong>Tool :</strong>{{requisitionDetailForm.controls['toolNumber'].value}}
          </span>

        </div>
        <div class="col-md-3">
          <span>
            <strong>Station : </strong>{{requisitionDetailForm.controls['station'].value}}
          </span>

        </div>
        <div class="col-md-3">
          <span>
            <strong>Detail : </strong> {{requisitionDetailForm.controls['detail'].value}}
          </span>

        </div>
      </div>
    </div>
    <div class="box box-primary">
      <div class="box-header with-border">
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <section class="content">
        <div class="row">
          <div class="col-md-6">

            <div class="box-body">
              <div class="form-group">
                <label for="description">Description</label>
                <input kendoTextBox class="form-control" id="description" formControlName="description"
                       style="width: 100%;" [disabled]="!userSetting.canEditRequisitions"/>
              </div>
              <div class="form-group">
                <label for="reasonList">Reason Code</label>
                <kendo-dropdownlist name="reasonList" [data]="reasonFilterList" formControlName="requisitionReasonId"
                                    [textField]="'text'" [valueField]="'value'"
                                    [valuePrimitive]="true" class="kendoControlWidth"
                                    [disable]="!userSetting.canEditRequisitions"
                                    [filterable]="true" (filterChange)="reasonHandleFilter($event)">
                </kendo-dropdownlist>
              </div>
              <div class="form-group">
                <label for="approved">Approved</label>
                <kendo-dropdownlist name="reqDetailApproved" [data]="reqApproveFilterList" formControlName="approved"
                                    [textField]="'text'" [valueField]="'value'"
                                    [valuePrimitive]="true" class="kendoControlWidth"
                                    [disable]="!(userSetting.canEditRequisitions && userSetting.canApproveRequisitions)"
                                    [filterable]="true" (filterChange)="reqApprovedHandleFilter($event)">
                </kendo-dropdownlist>
              </div>
              <div *ngIf="requisitionDetailForm.controls['approved'].value == false" class="form-group">
                <label for="reason">Reject Reason</label>
                <input kendoTextBox formControlName="denialReason" style="width: 100%;"
                       [disabled]="!userSetting.canEditRequisitions"/>
              </div>
              <div class="form-group">
                <label for="reqDetailApproved">Priority</label>
                <kendo-dropdownlist name="reqDetailApproved" [data]="reqPriorityFilter"
                                    formControlName="requisitionStatusId" [textField]="'text'"
                                    [valueField]="'value'" [valuePrimitive]="true" class="kendoControlWidth"
                                    [disable]="!userSetting.canEditRequisitions"
                                    [filterable]="true" (filterChange)="priorityHandleFilter($event)">
                </kendo-dropdownlist>
              </div>
              <div class="form-group">
                <label for="dateDue">Date Due</label>
                <kendo-datepicker formControlName="dateDue" [format]="'dd-MMM-yyyy'" required class="kendoControlWidth"
                                  [disable]="!userSetting.canEditRequisitions"></kendo-datepicker>
              </div>

              <div class="form-group">
                <label for="dateCompleted">Date completed</label>
                <kendo-datepicker formControlName="dateCompleted" [format]="'dd-MMM-yyyy'" required
                                  class="kendoControlWidth"
                                  [disable]="!userSetting.canEditRequisitions"></kendo-datepicker>
              </div>
              <div class="form-group" style="margin-bottom: 0;">
                <label for="quantityOrdered">Qty Ordered / Completed</label>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="quantityOrdered" style="font-size: 12px;">Ordered</label>
                      <kendo-numerictextbox [min]="0" formControlName="quantityOrdered"
                                            [disable]="!userSetting.canEditRequisitions" [width]="110">
                      </kendo-numerictextbox>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="quantityCompleted" style="font-size: 12px;">Completed</label>
                      <kendo-numerictextbox [min]="0" [ngModel]="completedQty" [ngModelOptions]="{standalone: true}"
                                            [disabled]="true" [width]="110">
                      </kendo-numerictextbox>
                    </div>
                  </div>
                </div>

              </div>

            </div>
            <!-- /.box-body -->

          </div>
          <div class="col-md-6">
            <!--<div class="box-body">-->

            <div class="col-md-6">
              <div class="form-group">
                <label for="isPrinted">Printed</label>
                <kendo-switch formControlName="isPrinted"></kendo-switch>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="locked">Locked</label>
                <kendo-switch formControlName="locked"></kendo-switch>
              </div>
            </div>
            <div class="form-group">
              <label for="statusList">Detail Status</label>
              <kendo-dropdownlist name="statusList" [data]="statusFilterList" formControlName="requisitionStatusId"
                                  [textField]="'text'" [valueField]="'value'"
                                  [valuePrimitive]="true" class="kendoControlWidth"
                                  [disable]="!userSetting.canEditRequisitions"
                                  [filterable]="true" (filterChange)="statusHandleFilter($event)">
              </kendo-dropdownlist>
            </div>
            <div class="form-group">
              <label for="reqDetailApproved">Set Material</label>
              <kendo-dropdownlist name="reqDetailApproved" [data]="materialFilterList"
                                  [ngModelOptions]="{standalone: true}" [textField]="'text'"
                                  [valueField]="'value'" [valuePrimitive]="false" class="kendoControlWidth"
                                  (selectionChange)="onMaterialChange($event)"
                                  [disable]="!userSetting.canEditRequisitions" [filterable]="true"
                                  (filterChange)="materialHandleFilter($event)">
              </kendo-dropdownlist>
            </div>
            <div class="form-group">
              <label for="material">Material</label>
              <input kendoTextBox formControlName="material" style="width: 100%;"
                     [disabled]="!userSetting.canEditRequisitions"/>
            </div>
            <div class="form-group">
              <label for="materialHardness">Material Hardness</label>
              <input kendoTextBox formControlName="materialHardness" style="width: 100%;"
                     [disabled]="!userSetting.canEditRequisitions"/>
            </div>
            <div class="form-group">
              <label for="venderList">Vendor</label>
              <kendo-dropdownlist name="venderList" [data]="venderFilterList" formControlName="vendorId"
                                  [textField]="'text'" [valueField]="'value'"
                                  [valuePrimitive]="true" class="kendoControlWidth"
                                  [disable]="!userSetting.canEditRequisitions"
                                  [filterable]="true" (filterChange)="venderHandleFilter($event)">
              </kendo-dropdownlist>
            </div>
            <div class="form-group" style="margin-bottom: 0px;">
              <label>Update print Requested / Completed</label>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="updatePrintRequested" style="font-size: 12px;">Ordered</label>

                    <kendo-switch formControlName="updatePrintRequested"></kendo-switch>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="updatePrintCompleted" style="font-size: 12px;">Completed</label>

                    <kendo-switch formControlName="updatePrintCompleted"></kendo-switch>
                  </div>
                </div>
              </div>
            </div>


            <div class="form-group" style="margin-bottom: 0px;">
              <label for="exampleInputEmail1">Update print completed by</label>
              <kendo-dropdownlist formControlName="updatePrintCompletedByUserId" [data]="filteruserIdList"
                                  [textField]="'text'" [valueField]="'value'"
                                  [valuePrimitive]="true" class="kendoControlWidth" [filterable]="true"
                                  (filterChange)="userIdListHandleFilter($event)"
                                  [disable]="!userSetting.canEditRequisitions">
                <ng-template kendoDropDownListValueTemplate let-dataItem>
                  <span class="userThumble" *ngIf="dataItem !== undefined && dataItem !== '' ">
                    <img class="userThumble" onError="this.src = 'assets/img/no_avatar.png'"
                         src="{{dataItem?.extraDetail?.userAvatar}}"/>
                  </span>
                  <span *ngIf="dataItem !== undefined && dataItem !== ''">{{ dataItem.text }}</span>
                </ng-template>
                <ng-template kendoDropDownListItemTemplate let-dataItem>
                  <span>
                    <img class="userThumble" onError="this.src = 'assets/img/no_avatar.png'"
                         src="{{dataItem?.extraDetail?.userAvatar}}"/>

                  </span>
                  <span>{{ dataItem.text }}</span>
                </ng-template>
              </kendo-dropdownlist>
            </div>


          </div>

        </div>
      </section>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="closeForm()">Cancel</button>
    <button *ngIf="!exclusionLoading" class="k-button k-primary" (click)="onSave($event)"
            [disabled]="!userSetting.canEditRequisitions">Save
    </button>
    <button *ngIf="exclusionLoading" class="btn btn-primary Sign-in" style="width: 50%;">
      <img style="height: 30px; width: 35px; transform: scale(2.5);" src="assets/img/mss-loading.svg"/>
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
