<section class="content-header">
  <grid-header-tool (siteSelectionChange)="siteSelectionChange($event)" [pageName]="'Requisitions'">
  </grid-header-tool>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">
        <div class="box-footer">
        </div>
        <div class="col-md-12 table-responsive" id="divManufacturerList">
          <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
            <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
            <span>&nbsp; Loading..</span>
          </div>
          <div *ngIf="loading == false">
            <div class="row">

              <div class="col-lg-12">
                <kendo-grid [data]="gridView" [filterable]="true" [filter]="state.filter" [pageSize]="pageSize"
                            [skip]="skip" [pageable]="true"
                            [sortable]="{ mode: 'single' }" (pageChange)="pageChange($event)"
                            (dataStateChange)="dataStateChange($event)"
                            (add)="addHandler($event)" (edit)="editHandler($event)" (cancel)="cancelHandler($event)"
                            (save)="saveHandler($event)"
                            [sort]="sort" (sortChange)="sortChange($event)" (search)="saveHandler($event)"
                            (remove)="removeHandler($event)"
                            scrollable="none" [class.gridLoaderDiv]="gridLoading">

                  <ng-template kendoGridToolbarTemplate>
                    <div *ngIf="gridLoading == true" class="Gridloader"></div>

                    <div class="col-xs-12 search-text">
                      <div class="pull-left">
                        <div class="row">
                          <div class="col-md-8">
                            <button kendoGridAddCommand class="k-button k-primary">
                              <i class="fa fa-plus"></i>&nbsp; Add New
                            </button>
                            <button (click)="scanToWork()" class="btn btn-default">
                              <i class="fa fa-search"></i> Scan to Work
                            </button>
                            Category
                            <kendo-dropdownlist [ngModel]="selectedCategory" [data]="requFilteredCategory"
                                                [ngModelOptions]="{standalone: true}"
                                                [textField]="'requisitionDetailCategoryName'"
                                                [valueField]="'requisitionDetailCategoryId'" [valuePrimitive]="true"
                                                (close)="onCategoryChange()"
                                                (blur)="onCategoryChange()" class="kendoControlWidth"
                                                (selectionChange)="onCategoryChange($event)"
                                                [filterable]="true" (filterChange)="categoryHandleFilter($event)">
                            </kendo-dropdownlist>

                          </div>
                          <div class="col-md-4">
                            <kendo-buttongroup>
                              <button kendoButton [ngClass]="{'k-state-active':exteraFilter === 'all'}"
                                      (click)="onGridDataLoad('all')">All
                              </button>
                              <button kendoButton [ngClass]="{'k-state-active':exteraFilter === 'notprinted'}"
                                      (click)="onGridDataLoad('notprinted')">Not Printed
                              </button>
                              <button kendoButton [ngClass]="{'k-state-active':exteraFilter === 'pending'}"
                                      (click)="onGridDataLoad('pending')">Pending
                              </button>
                              <button kendoButton [ngClass]="{'k-state-active':exteraFilter === 'approved'}"
                                      (click)="onGridDataLoad('approved')">Approved
                              </button>
                              <button kendoButton [ngClass]="{'k-state-active':exteraFilter === 'rejected'}"
                                      (click)="onGridDataLoad('rejected')">Rejected
                              </button>
                            </kendo-buttongroup>
                          </div>
                        </div>
                      </div>
                      <div class="pull-right">
                        <div class="funkyradio">
                          <div class="funkyradio-info">
                            <input type="checkbox" name="checkbox" id="chkshowActive" [checked]="isactive">
                            <label for="chkshowActive" (click)="onShowActive()">Show Active Only</label>
                          </div>
                        </div>
                      </div>
                      <div class="pull-right" style="padding-right: 20px;">
                        <div class="funkyradio">
                          <div class="funkyradio-info">
                            <input type="checkbox" name="checkbox" id="chkorderByMe"
                                   [checked]="toolSharedService.getUserSettings().showOrderedByMe">
                            <label for="chkorderByMe" (click)="onShowOrderByMe()">Ordered By Me</label>
                          </div>
                        </div>
                      </div>
                      <div class="pull-right" style="padding-right: 20px;" *ngIf="isLoadingUpdatingShowByme">
                        <span style="position: relative;top: 5px">Updating...</span>
                      </div>

                    </div>
                  </ng-template>

                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                  </ng-template>
                  <kendo-grid-command-column title="" width="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)"
                                         (itemClick)="onAction($event,dataItem)">
                        <i class="fa fa-briefcase" title="Work"></i>
                      </kendo-splitbutton>
                    </ng-template>
                  </kendo-grid-command-column>

                  <kendo-grid-column field="requisitionId" title="Req No." filter="numeric">
                  </kendo-grid-column>
                  <kendo-grid-column field="toolNumber" title="Tool">
                  </kendo-grid-column>
                  <kendo-grid-column field="station" title="Station">
                  </kendo-grid-column>
                  <kendo-grid-column field="detail" title="Detail">
                  </kendo-grid-column>
                  <kendo-grid-column field="requisitionStatusName" title="Status">

                  </kendo-grid-column>
                  <kendo-grid-column field="material" title="Material">

                  </kendo-grid-column>
                  <kendo-grid-column field="description" title="Description">

                  </kendo-grid-column>
                  <kendo-grid-column field="quantityOrdered" title="Qty Ordered" filter="numeric">

                  </kendo-grid-column>
                  <kendo-grid-column field="quantityCompleted" title="Qty Completed" filter="numeric">

                  </kendo-grid-column>
                  <kendo-grid-column field="requisitionReasonName" title="Reason Code">

                  </kendo-grid-column>
                  <kendo-grid-column field="updatePrint" title="Update Print Request" filter="boolean">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem?.updatePrint === true">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="approved" title="Approved" filter="boolean">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem?.approved === true">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="dataItem?.approved === false">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                  <kendo-grid-column field="dateDue" title="Date Due" filter="date">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.dateDue!=null">{{ dataItem.dateDue | date:"mediumDate" }}</div>
                    </ng-template>
                  </kendo-grid-column>
                  <!--<kendo-grid-column field="active" title="Active" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.active">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.active">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>-->
                  -g -g

                </kendo-grid>
                <requisition-work-dialog [model]="workDataItem" [openRequisitionWorkDialog]="openRequisitionWorkDialog"
                                         (cancel)="closeRequisitionWorkDialog()">

                </requisition-work-dialog>
                <kendo-grid-requisition-form [model]="editDataItem" [isNew]="isNew" (cancel)="cancelHandler()"
                                             [siteId]="curentSiteId" [(selectedCategory)]="selectedCategory">
                </kendo-grid-requisition-form>
                <kendo-grid-requisitionEdit-form [isRequisitionEditActive]="isRequisitionEditPopupActive"
                                                 (cancel)="onCalncelRequisitionEdit()"
                                                 [model]="reqisitionEditModel"></kendo-grid-requisitionEdit-form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="close(false)" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="close(false)">No</button>
      <button kendoButton (click)="close(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
<div class="example-wrapper">

  <kendo-dialog title="Scan to work" *ngIf="openScanToWork" (close)="closeScanToWork()" [minWidth]="200" [width]="330">
    <div class="row">
      <div class="col-md-10 box-footer col-md-offset-1">
        <form (ngSubmit)="startScanWork()">
          <div class="input-group">
            <input [appAutofocus]="true" (input)="startScanWork()" [ngModelOptions]="{standalone: true}"
                   [(ngModel)]="requisitionDetailIdToScan" type="text" placeholder="Scan Requisition Detail Id"
                   class="form-control" style="width: 220px;">
            <span style="margin-left: 5px;" *ngIf="isScanningWork">
              <i class="fa fa-spinner fa-spin" style="font-size: 24px; position: relative; top: 3px;"></i>
            </span>
          </div>
        </form>
      </div>
    </div>
  </kendo-dialog>
</div>
