<style>
  .padd-top {
    padding-top: 4px;
  }
</style>
<kendo-dialog *ngIf="active" title="Add new Requisitions" class="requisitionsDetailpopup" (close)="closeForm()">
  <!--<kendo-dialog-titlebar>
    {{ isNew ? 'Add new Requisitions' : 'Edit Requisitions' }}
  </kendo-dialog-titlebar>-->

  <kendo-tabstrip (tabSelect)="onRequisitionTabSelect($event)">
    <kendo-tabstrip-tab [title]="'Manual'" [selected]="selectedTab ===0">
      <ng-template kendoTabContent>
        <div class="box box-primary box-overflow">
          <div class="box-footer">
          </div>
          <div class="col-md-12 table-responsive" id="divManufacturerList">
            <!--<div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
              <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
              <span>&nbsp; Loading..</span>
            </div>-->
            <div>
              <!--*ngIf="loading == false"-->

              <div class="row">

                <div class="col-lg-12">
                  <!--[filter]="state.filter"-->
                  <kendo-grid [data]="gridView"
                              [filterable]="false"
                              [pageSize]="pageSize"
                              [skip]="skip"
                              [pageable]="false"
                              [sortable]="false"
                              (pageChange)="pageChange($event)"
                              (dataStateChange)="dataStateChange($event)"
                              (add)="addHandler($event)"
                              (edit)="editHandler($event)"
                              (cancel)="cancelHandler($event)"
                              (save)="saveHandler($event)"
                              [sort]="sort"
                              (sortChange)="sortChange($event)"
                              (search)="saveHandler($event)"
                              (remove)="removeHandler($event)"
                              scrollable="none"
                              (cellClick)="cellClickHandler($event)"
                              (cellClose)="cellCloseHandler($event)"
                              [class.gridLoaderDiv]="gridLoading">

                    <!--<ng-template kendoGridToolbarTemplate>
      <div *ngIf="gridLoading == true" class="Gridloader"></div>
      <button kendoGridAddCommand class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp; Add New</button>
    </ng-template>-->
                    <ng-template kendoGridToolbarTemplate>
                      <form novalidate [formGroup]="requisitionForm" class="k-form">
                        <div class="col-xs-12" style="margin-bottom: 10px">
                          <div class="col-md-3" style="display: inline-flex;">
                            <label class="padd-top">Req Number : {{requisitionNumber > 0 ? requisitionNumber.toString()
                              : ' New '}} </label> &nbsp;
                            <button kendoButton (click)="onRequisitionPoupOpen()" style="margin-left: 10px;"
                                    [primary]="true" *ngIf="requisitionNumber === 0">Select
                            </button> &nbsp;
                            <button kendoButton (click)="onRequisitionNumberChange($event,dataItem)" [primary]="true"
                                    *ngIf="requisitionNumber !== 0">New Requisition
                            </button>
                          </div>
                          <div class="col-md-3" style="display: inline-flex;">
                            <span class="padd-top">Tool : &nbsp;</span>
                            <kendo-dropdownlist name="toolList"
                                                [data]="toolManualFilter"
                                                formControlName="toolId"
                                                [textField]="'text'"
                                                [valueField]="'value'"
                                                [valuePrimitive]="true"
                                                class="kendoControlWidth"
                                                (valueChange)="addHandler($event)"
                                                [disable]="isToolDisable"
                                                [filterable]="true" (filterChange)="toolManualHandleFilter($event)">
                            </kendo-dropdownlist>
                          </div>
                          <div class="col-md-3" style="display: inline-flex;">
                            <span class="padd-top"> Ordered By : &nbsp;</span>
                            <kendo-dropdownlist formControlName="orderedByUserId"
                                                [data]="filteruserIdList"
                                                [textField]="'text'"
                                                [valueField]="'value'"
                                                [valuePrimitive]="true"
                                                class="kendoControlWidth"
                                                (valueChange)="addHandler($event)"
                                                [filterable]="true"
                                                (filterChange)="userIdListHandleFilter($event)">
                              <ng-template kendoDropDownListValueTemplate let-dataItem>
                              <span class="userThumble" *ngIf="dataItem !== undefined && dataItem !== '' ">
                                <img class="userThumble" onError="this.src = 'assets/img/no_avatar.png'"
                                     src="{{dataItem?.extraDetail?.userAvatar}}"/>
                              </span>
                                <span *ngIf="dataItem !== undefined && dataItem !== ''">{{ dataItem.text }}</span>
                              </ng-template>
                              <ng-template kendoDropDownListItemTemplate let-dataItem>
                              <span>
                                <img class="userThumble" onError="this.src = 'assets/img/no_avatar.png'"
                                     src="{{dataItem?.extraDetail?.userAvatar}}"/>

                              </span>
                                <span>{{ dataItem.text }}</span>
                              </ng-template>
                            </kendo-dropdownlist>
                          </div>
                          <div class="col-md-3 pull-left" style="display: inline-flex;">
                            <button class="k-button" kendoGridAddCommand [disabled]="!requisitionForm.valid">Add
                              Detail
                            </button>
                            <button class="k-button k-primary" (click)="onSubmitRequisition()"
                                    [disabled]="!requisitionForm.valid">Submit Request
                            </button>
                          </div>
                        </div>
                      </form>
                    </ng-template>


                    <kendo-grid-column field="station" title="Station">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="detail" title="Detail">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="description" title="Description">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="dateDue" title="Date Due" filter="date" editor="date">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div *ngIf="dataItem.dateDue">{{ dataItem.dateDue | date:"mediumDate" }}</div>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="quantityOrdered" title="Quantity">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="requisitionReasonId" title="Reason Code">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        {{getRequisition(dataItem.requisitionReasonId)?.text}}
                      </ng-template>
                      <ng-template kendoGridEditTemplate
                                   let-dataItem="dataItem"
                                   let-column="column"
                                   let-formGroup="formGroup">
                        <kendo-dropdownlist [defaultItem]="{value: null, text: 'Test null item'}"
                                            [data]="requisitionReasonFilterList"
                                            textField="text"
                                            valueField="value"
                                            [valuePrimitive]="true"
                                            [formControl]="formGroup.get('requisitionReasonId')"
                                            class="kendoControlWidth"
                                            [width]="100"
                                            [filterable]="true"
                                            (filterChange)="manualReasonHandleFilter($event)"
                        >
                        </kendo-dropdownlist>
                        <kendo-popup [anchor]="ddl.element"
                                     *ngIf="formGroup.get('requisitionReasonId').invalid && !(isNew && formGroup.get('requisitionReasonId').untouched)"
                                     popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                          <div class="k-popup k-widget k-tooltip k-tooltip-validation k-invalid-msg">

                            <span class="k-icon k-i-warning"></span>
                            Requisition reason is required

                            <!---->
                          </div>
                        </kendo-popup>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="updatePrintCompleted" title="Update Print" filter="boolean"
                                       editor="boolean">
                      <!--<ng-template kendoGridCellTemplate let-dataItem>
        <div *ngIf="dataItem.createdDateTime!=null">{{ dataItem.createdDateTime | date:"mediumDate" }}</div>
      </ng-template>-->
                    </kendo-grid-column>
                    <kendo-grid-command-column title="command" width="220">
                      <ng-template kendoGridCellTemplate let-isNew="isNew" let-dataItem>
                        <button kendoButton *ngIf="isNew" (click)="removeHandlerNewRecord($event)"
                                [icon]="'trash'"></button>
                        <button kendoButton *ngIf="!isNew" (click)="removeHandler($event,dataItem)"
                                [icon]="'trash'"></button>
                      </ng-template>
                    </kendo-grid-command-column>
                  </kendo-grid>

                  <kendo-grid-requisition-form [model]="editDataItem" [isNew]="isNew"
                                               (save)="saveHandler($event)"
                                               (cancel)="cancelHandler()">
                  </kendo-grid-requisition-form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>

    /*Scan detail*/
    <kendo-tabstrip-tab [title]="'Scan'" [selected]="selectedTab === 1">
      <ng-template kendoTabContent>
        <div class="box box-primary box-overflow">
          <div class="box-footer">
          </div>
          <div class="col-md-12 table-responsive" id="divManufacturerList">
            <!--<div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
              <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
              <span>&nbsp; Loading..</span>
            </div>-->
            <div>
              <!--*ngIf="loading == false"-->
              <div class="row">
                <div class="col-xs-12" style="margin-bottom: 10px">
                  <div class="col-md-2">
                    <input type="text" class="k-textbox" [(ngModel)]="requisitionScanData" placeholder="Scan Barcode"
                           focus="isRequisitionFocus" (input)="onBlurRequisitionScan()"/>
                  </div>
                  <div class="col-md-3">
                    Req Number
                    <kendo-dropdownlist [ngModelOptions]="{standalone: true}"
                                        [data]="filterRequisitionList"
                                        [textField]="'text'"
                                        [valueField]="'text'"
                                        [valuePrimitive]="true"
                                        (selectionChange)="onRequisitionNumberScanChange($event)"
                                        class="kendoControlWidth"
                                        [filterable]="true"
                                        (filterChange)="requisitionListHandleFilter($event)">
                    </kendo-dropdownlist>
                  </div>

                  <!--</div>

                  <div class="col-xs-12" style="margin-bottom: 10px">-->
                  <div class="col-md-2">
                    Tool
                    <kendo-dropdownlist name="toolList"
                                        [(ngModel)]="scanSelectedTool"
                                        [data]="toolScanFilter"
                                        [ngModelOptions]="{standalone: true}"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [valuePrimitive]="true"
                                        class="kendoControlWidth"
                                        [disable]="isToolScanDisable"
                                        [filterable]="true" (filterChange)="toolScanHandleFilter($event)">
                    </kendo-dropdownlist>
                  </div>
                  <div class="col-md-3">
                    Ordered By
                    <kendo-dropdownlist [ngModelOptions]="{standalone: true}"
                                        [data]="filteruserIdList"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [valuePrimitive]="true"
                                        class="kendoControlWidth"
                                        [filterable]="true"
                                        (filterChange)="userIdListHandleFilter($event)">
                      <ng-template kendoDropDownListValueTemplate let-dataItem>
                      <span class="userThumble" *ngIf="dataItem !== undefined && dataItem !== '' ">
                        <img class="userThumble" onError="this.src = 'assets/img/no_avatar.png'"
                             src="{{dataItem?.extraDetail?.userAvatar}}"/>
                      </span>
                        <span *ngIf="dataItem !== undefined && dataItem !== ''">{{ dataItem.text }}</span>
                      </ng-template>
                      <ng-template kendoDropDownListItemTemplate let-dataItem>
                      <span>
                        <img class="userThumble" onError="this.src = 'assets/img/no_avatar.png'"
                             src="{{dataItem?.extraDetail?.userAvatar}}"/>

                      </span>
                        <span>{{ dataItem.text }}</span>
                      </ng-template>
                    </kendo-dropdownlist>
                  </div>

                  <div class="col-md-2">

                    <button (click)="onSubmitRequisition()" class="k-button">Submit Request</button>
                  </div>
                </div>

                <div class="col-lg-12">
                  <kendo-grid [data]="scanGridView"
                              [filterable]="false"
                              [pageSize]="pageSize"
                              [skip]="skip"
                              [pageable]="false"
                              [sortable]="{ mode: 'single' }"
                              (pageChange)="pageChange($event)"
                              (dataStateChange)="dataStateChange($event)"
                              (add)="addHandler($event)"
                              (cancel)="cancelHandler($event)"
                              (save)="saveHandler($event)"
                              [sort]="sort"
                              (sortChange)="sortChange($event)"
                              (search)="saveHandler($event)"
                              (remove)="scanremoveHandler($event)"
                              scrollable="none"
                              [class.gridLoaderDiv]="scanGridLoading">

                    <!--<ng-template kendoGridToolbarTemplate>
                      <div *ngIf="gridLoading == true" class="Gridloader"></div>
                      <button kendoGridAddCommand class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp; Add New</button>
                    </ng-template>-->

                    <!--<ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                      <kendo-pager-info></kendo-pager-info>
                      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                      <kendo-pager-next-buttons></kendo-pager-next-buttons>
                      <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                    </ng-template>-->
                    <kendo-grid-command-column title="" width="50">
                      <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                        <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)"
                                           (itemClick)="onAction($event,dataItem)">
                          <i class="fa fa-pencil-square-o"></i>
                        </kendo-splitbutton>
                      </ng-template>
                    </kendo-grid-command-column>

                    <kendo-grid-column field="Station" title="Station">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="Detail" title="Detail">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="description" title="Description">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="dueDate" title="Date Due" filter="date">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div *ngIf="dataItem.dueDate">{{ dataItem.dueDate | date:"mediumDate" }}</div>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="quantity" title="Quantity">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="reasonCode" title="Reason Code">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="add" title="Update Print" filter="boolean">
                      <ng-template kendoGridCellTemplate let-dataItem>
                        <div *ngIf="dataItem.createdDateTime!=null">{{ dataItem.createdDateTime | date:"mediumDate" }}
                        </div>
                      </ng-template>
                    </kendo-grid-column>
                  </kendo-grid>

                  <kendo-grid-requisition-form [model]="editDataItem" [isNew]="isNew"
                                               (save)="saveHandler($event)"
                                               (cancel)="cancelHandler()">
                  </kendo-grid-requisition-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>

    /*Import Tool */
    <kendo-tabstrip-tab [title]="'Import From BOM'" [selected]="selectedTab === 2">
      <ng-template kendoTabContent>
        <div class="box box-primary box-overflow">
          <div class="box-footer">
          </div>
          <div class="col-md-12 table-responsive" id="divManufacturerList">
            <!--<div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
              <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
              <span>&nbsp; Loading..</span>
            </div>-->
            <div>
              <!--*ngIf="loading == false"-->
              <div class="row">
                <div class="col-xs-12" style="margin-bottom: 10px">
                  <div class="col-md-3">
                    Tool
                    <kendo-dropdownlist name="toolList"
                                        [data]="toolBomFilter"
                                        [ngModelOptions]="{standalone: true}"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [valuePrimitive]="true"
                                        class="kendoControlWidth"
                                        [disable]="isToolDisable"
                                        (selectionChange)="onToolBomChange($event)"
                                        [filterable]="true" (filterChange)="toolBomHandleFilter($event)">
                    </kendo-dropdownlist>
                  </div>
                  <div class="col-md-3">
                    <button class="k-button" (click)="onImportToolData()" [disabled]="!importedData.length > 0">Import
                      {{importedData.length}} Item(s)
                    </button>
                  </div>
                </div>

                <div class="col-lg-12">
                  <!--[filter]="state.filter"-->
                  <kendo-grid [data]="toolBomgridView"
                              [filterable]="false"
                              [pageSize]="pageSize"
                              [skip]="skip"
                              [pageable]="false"
                              [sortable]="{ mode: 'single' }"
                              (pageChange)="bompageChange($event)"
                              (dataStateChange)="bomdataStateChange($event)"

                              (edit)="bomeditHandler($event)"
                              (cancel)="bomcancelHandler($event)"
                              (save)="bomsaveHandler($event)"
                              [sort]="bomsort"
                              (sortChange)="bomsortChange($event)"
                              (search)="bomsaveHandler($event)"
                              (remove)="bomremoveHandler($event)"
                              scrollable="none"
                              (selectionChange)="onBomSelect($event)"
                              [class.gridLoaderDiv]="bomGridLoading" [selectable]="{checkboxOnly:true,mode:'multiple'}">

                    <!--<ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                      <kendo-pager-info></kendo-pager-info>
                      <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                      <kendo-pager-next-buttons></kendo-pager-next-buttons>
                      <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                    </ng-template>-->
                    <kendo-grid-checkbox-column showSelectAll="true"></kendo-grid-checkbox-column>

                    <kendo-grid-column field="station" title="Station">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="detail" title="Detail">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="description" title="Description">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="station" title="Material">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>
                    <kendo-grid-column field="quantity" title="Quantity">
                      <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                        <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                          <kendo-filter-contains-operator></kendo-filter-contains-operator>
                          <kendo-filter-eq-operator></kendo-filter-eq-operator>
                          <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                          <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                        </kendo-grid-string-filter-cell>
                      </ng-template>
                    </kendo-grid-column>

                  </kendo-grid>

                  <kendo-grid-requisition-form [model]="editDataItem" [isNew]="isNew"
                                               (save)="saveHandler($event)"
                                               (cancel)="cancelHandler()">
                  </kendo-grid-requisition-form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>
  <kendo-grid-requisitionAdd-form [isNew]="true" [isRequisitionAddActive]="isRequistionAddOpen"
                                  (cancel)="onCancelRequisitionSelect()"></kendo-grid-requisitionAdd-form>

  <kendo-dialog *ngIf="isRequisitionSelectorOpen" title="Select Requisitions" (close)="oncloseRequisitionSlecctor()">
    <div class="">
      <kendo-grid [data]="requisitionGridView"
                  [pageSize]="requisitionState.take"
                  [skip]="requisitionState.skip"
                  [sort]="requisitionState.sort"
                  [sortable]="true"
                  [pageable]="false"
                  [filterable]="true"
                  (dataStateChange)="dataStateRequisitionStateChange($event)"
                  [class.gridLoaderDiv]="requisitionGridLoading">

        <ng-template kendoGridToolbarTemplate>
          <button kendoButton (click)="onRequisitionNumberChange($event,dataItem)" [primary]="true">New Requisition
          </button>
        </ng-template>

        <kendo-grid-column field="requisitionId" title="Requistion Number" filter="numeric">

        </kendo-grid-column>
        <kendo-grid-column field="toolNumber" title="Tool">

        </kendo-grid-column>


        <kendo-grid-column field="createdDateTime" title="Created DateTime" filter="date" editor="date">
          <ng-template kendoGridCellTemplate let-dataItem>
            <div *ngIf="dataItem.createdDateTime!=null">{{ dataItem.createdDateTime | date:"mediumDate" }}</div>
          </ng-template>
        </kendo-grid-column>
        <kendo-grid-command-column field="orderedByName" title="Ordered By" filter>
          <ng-template kendoGridCellTemplate let-dataItem>
            <div style="width: 150px; display: inline-flex;"
                 *ngIf="dataItem.orderedByUserId !== null || dataItem.orderedByUserId !== undefined">
              <img src="{{commonService.getUserThumbnail(dataItem.orderedByUserId)}}"
                   (error)="this.src='assets/img/no_avatar.png'" class="userThumble"
                   style="margin-right: 10px;"/>
              <label style="margin-top: 5px;">{{dataItem.orderedByName}}</label>
            </div>
          </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-command-column title="command" width="100">
          <ng-template kendoGridCellTemplate let-dataItem>
            <button kendoButton (click)="onRequisitionNumberChange($event,dataItem)" [primary]="true">Select</button>
          </ng-template>
        </kendo-grid-command-column>

      </kendo-grid>
    </div>
  </kendo-dialog>

</kendo-dialog>
