<kendo-dialog *ngIf="active" (close)="closeForm()" class="projectfromdetails">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new Project' : 'Edit Project' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Project Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="projectName"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.projectName.valid || editForm.controls.projectName.untouched">
            Project Name is required
          </p>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Project Group</span>
          <kendo-dropdownlist formControlName="projectGroupId"
                              [data]="filterprojectGroupIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              [filterable]="true"
                              (filterChange)="projectGroupIdListHandleFilter($event)">
          </kendo-dropdownlist>
        </label>
      </div>

      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Project Description <!--<span class="k-required">*</span>--></span>
          <textarea type="text" class="form-control" formControlName="projectDescription"></textarea>
          <!--<p class="k-tooltip k-tooltip-validation"
                 [hidden]="editForm.controls.projectDescription.valid || editForm.controls.projectDescription.untouched">
            Project Description is required
          </p>-->
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Permission Model <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="permissionModel"
                              [data]="permissionModelList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              (valueChange)="permissionModelChangeEvent($event)"
                              required>
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.permissionModel.valid || editForm.controls.permissionModel.untouched">
            Permission Model is required
          </p>
        </label>
        <div style="font-size: 12px;" class="permission" [innerHTML]="changePermissionModelText"></div>
      </div>

      <div class="col-md-6 col-sm-6">
        <label class="k-form-field">
          <span>Start Date</span>
          <kendo-datepicker formControlName="startDate"
                            [format]="'dd-MMM-yyyy'"
                            class="kendoControlWidth"></kendo-datepicker>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Due Date</span>
          <kendo-datepicker formControlName="dueDate"
                            [format]="'dd-MMM-yyyy'"
                            class="kendoControlWidth"></kendo-datepicker>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Actual Completion Date </span>
          <kendo-datepicker formControlName="actualCompletionDate"
                            [format]="'dd-MMM-yyyy'"
                            class="kendoControlWidth"></kendo-datepicker>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Project Status <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="projectStatus"
                              [data]="projectStatusList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              required>
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.projectStatus.valid || editForm.controls.projectStatus.untouched">
            Project Status is required
          </p>
        </label>
      </div>

      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Public Project</span>
          <kendo-switch formControlName="isPublicProject"></kendo-switch>
          <!--<input type="checkbox" id="IsPublicProject" formControlName="isPublicProject" value="false" class="k-checkbox">-->
          <!--<label class="k-checkbox-label" for="IsPublicProject" style="margin-top: 10px">&nbsp;</label>-->
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Task Points</span>
          <kendo-switch formControlName="useTaskPoints"></kendo-switch>
          <!--<input type="checkbox" id="UseTaskPoints" formControlName="useTaskPoints" value="false" class="k-checkbox">-->
          <!--<label class="k-checkbox-label" for="UseTaskPoints" style="margin-top: 10px">&nbsp;Task Points</label>-->
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label style="width: 422px !important;">
          <span>Admin Members</span>
          <kendo-multiselect #adminmembers [(ngModel)]="setSelectedAdmin"
                             formControlName="projectAdminTeams"
                             [data]="workspaceTeamList"
                             (filterChange)="adminMemberHandleFilter($event)"
                             [textField]="'text'"
                             [valueField]="'value'"
                             [filterable]="true"
                             (valueChange)="adminMemberChange($event)">

            <ng-template kendoMultiSelectTagTemplate let-dataItem>
              <span class="template">
                <img class="template" onError="this.src = 'assets/img/no_avatar.png'"
                     src="{{dataItem.userAvatar}}"/>
              </span>
              <span>{{ dataItem.text }}</span>
            </ng-template>
            <ng-template kendoMultiSelectItemTemplate let-dataItem>
              <span>
                <img class="dropdown-img" onError="this.src = 'assets/img/no_avatar.png'"
                     src="{{dataItem.userAvatar}}"/>

              </span>
              <span>{{ dataItem.text }}</span>
            </ng-template>
          </kendo-multiselect>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label style="width: 422px !important;">
          <span>Team Members</span>
          <kendo-multiselect #teamsmembers [(ngModel)]="setSelectedTeam"
                             formControlName="projectTeams"
                             (filterChange)="teamMemberHandleFilter($event)"
                             [data]="workspaceTeamList"
                             [textField]="'text'"
                             [valueField]="'value'"
                             [filterable]="true"
                             (valueChange)="teamMemberChange($event)">

            <ng-template kendoMultiSelectTagTemplate let-dataItem>
              <span class="template">
                <img class="template" onError="this.src = 'assets/img/no_avatar.png'"
                     src="{{dataItem.userAvatar}}"/>
              </span>
              <span>{{ dataItem.text }}</span>
            </ng-template>
            <ng-template kendoMultiSelectItemTemplate let-dataItem>
              <span>
                <img class="dropdown-img" onError="this.src = 'assets/img/no_avatar.png'"
                     src="{{dataItem.userAvatar}}"/>

              </span>
              <span>{{ dataItem.text }}</span>
            </ng-template>
          </kendo-multiselect>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label style="width: 422px !important;">
          <span>Tags</span>
          <kendo-multiselect #tags [(ngModel)]="setSelectedTags"
                             formControlName="tagDisplayList"
                             [data]="workspaceTagMasterList"
                             (filterChange)="tagHandleFilter($event)"
                             [filterable]="true"
                             (close)="onClosetags($event)"
                             [textField]="'tagName'" [valueField]="'workspaceTagMasterId'">
            <ng-template kendoMultiSelectTagTemplate let-dataItem>
              <span class="label label-primary" [ngStyle]="{'background-color':  dataItem.tagColor }">{{ dataItem.tagName }}</span>
            </ng-template>
            <ng-template kendoMultiSelectItemTemplate let-dataItem>
              <span class="label label-primary" [ngStyle]="{'background-color':  dataItem.tagColor }">{{ dataItem.tagName }}</span>
            </ng-template>
          </kendo-multiselect>
        </label>
      </div>

      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Savings First Year</span>
          <!--<input type="text" class="k-textbox" />-->
          <kendo-numerictextbox [format]="'c0'" [min]="0" formControlName="savingsFirstYear"></kendo-numerictextbox>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Savings Second Year</span>
          <!--<input type="text" class="k-textbox" formControlName="SavingsSecondYear" />-->
          <kendo-numerictextbox [format]="'c0'" [min]="0" formControlName="savingsSecondYear"></kendo-numerictextbox>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Savings Annual</span>
          <!--<input type="text" class="k-textbox" formControlName="SavingsAnnual" />-->
          <kendo-numerictextbox [format]="'c0'" [min]="0" formControlName="savingsAnnual"></kendo-numerictextbox>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12" [style.display]="isNew? 'none': 'block'">
        <label class="k-form-field">
          <span>Archived</span>
          <kendo-switch [(ngModel)]="isArchived" formControlName="isArchived"></kendo-switch>
          <!--<input type="checkbox" id="IsArchived" [(ngModel)]="isArchived" formControlName="isArchived" value="false" class="k-checkbox">-->
          <!--<label class="k-checkbox-label" for="Archived" style="margin-top: 10px">&nbsp; Archived</label>-->
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field" *ngIf="isArchived">
          <span>Archived Date</span>
          <kendo-datepicker formControlName="archivedDate"
                            [format]="'dd-MMM-yyyy'"
                            class="kendoControlWidth"></kendo-datepicker>

          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.archivedDate.valid || editForm.controls.archivedDate.untouched">
            ArchivedDate is required
          </p>
        </label>
      </div>
    </div>
  </form>


  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button *ngIf="!saveLoading" class="k-button k-primary" [disabled]="!editForm.valid" (click)="saveHandler($event)">
      Save
    </button>
    <button *ngIf="saveLoading" class="btn btn-primary Sign-in" style="width: 50%;">
      <img style="height: 30px; width: 35px; transform: scale(2.5);" src="assets/img/mss-loading.svg"/>
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
