<section class="content-header">
  <grid-workspace-dropdown (workspaceSelectionChange)="workspaceSelectionChange($event)"
                           [pageName]="'Project List'">
  </grid-workspace-dropdown>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">
        <div class="box-footer">
        </div>
        <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px; padding-left: 15px;">
          <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
          <span>&nbsp; Loading..</span>
        </div>
        <div *ngIf="loading == false">
          <!--<kendo-grid-projectGroups [(addNewProjectGroup)]="projectGroupFormFlag" (closeProjectgroupFrom)="closeProjectGroupFrom($event)"></kendo-grid-projectGroups> -->
          <!-- [(selectedWorkspaceChange)]="selectedWorkspaceChange" -->


          <div class="col-lg-12">
            <div class="row" style="position: relative; bottom: 6px">
              <div class="col-xs-12" style="display: flex; padding: 0px;">
                <div class="pull-left col-sm-4">
                  <kendo-splitbutton [data]="buttonActionData" (buttonClick)="onButtonAction($event,dataItem)"
                                     (itemClick)="onButtonAction($event,dataItem)">
                    <i class="fa fa-plus">&nbsp;New Project</i>
                  </kendo-splitbutton>
                </div>

                <div class=" col-sm-8">

                  <div class="pull-right" *ngIf="loading == false"
                       style="position: relative; margin-left: 10px; display: inline-flex;">
                    <div class="funkyradio">
                      <div class="funkyradio-info">
                        <input type="checkbox" name="checkbox" id="chkshowProjectsActive" checked="checked">
                        <label for="chkshowProjectsActive" (click)="showActive()">Show Active Only</label>
                      </div>
                    </div>
                  </div>
                  <label class="pull-right" style="display: inline">
                    <span>Tags</span>
                    <kendo-multiselect #tags
                                       [(ngModel)]="searchByTag"
                                       [data]="workspaceTagMasterList"
                                       (filterChange)="tagHandleFilter($event)"
                                       [filterable]="true"
                                       (valueChange)="loadGridDataByTag($event)"
                                       [textField]="'text'"
                                       [valueField]="'value'" style="width: 300px;">
                      <ng-template kendoMultiSelectTagTemplate let-dataItem>
                        <span class="label label-primary" [ngStyle]="{'background-color':  dataItem.tagColor }">{{ dataItem.text }}</span>
                      </ng-template>
                      <ng-template kendoMultiSelectItemTemplate let-dataItem>
                        <span class="label label-primary" [ngStyle]="{'background-color':  dataItem.tagColor }">{{ dataItem.text }}</span>
                      </ng-template>
                    </kendo-multiselect>
                    <!--<input (click)="loadGridData()" type="button" class="btn btn-primary" value="Search" />-->
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <div class="table-responsive" id="divManufacturerList">
                  <div class="">
                    <div class="col-lg-12" style="padding: 0px;">

                      <kendo-grid [data]="gridView"
                                  [filterable]="true"
                                  [filter]="state.filter"
                                  [pageSize]="pageSize"
                                  [skip]="skip"
                                  [pageable]="true"
                                  [sortable]="{ mode: 'single' }"
                                  (pageChange)="pageChange($event)"
                                  (dataStateChange)="dataStateChange($event)"
                                  (add)="addHandler($event)"
                                  (edit)="editHandler($event)"
                                  (cancel)="cancelHandler($event)"
                                  (save)="saveHandler($event)"
                                  [sort]="sort"
                                  (sortChange)="sortChange($event)"
                                  (search)="saveHandler($event)"
                                  (remove)="removeHandler($event)"
                                  scrollable="true"
                                  [class.gridLoaderDiv]="gridLoading">

                        <ng-template>
                          <div *ngIf="gridLoading == true" class="Gridloader"></div>
                        </ng-template>

                        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                          <kendo-pager-info></kendo-pager-info>
                          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                          <kendo-pager-next-buttons></kendo-pager-next-buttons>
                          <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                        </ng-template>

                        <kendo-grid-command-column title="" width="90">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)"
                                               (itemClick)="onAction($event,dataItem)">
                              <i class="k-icon k-i-grid-layout"></i>
                              <!--<i class="fa fa-pencil-square-o"></i>-->
                            </kendo-splitbutton>
                          </ng-template>
                        </kendo-grid-command-column>
                        <kendo-grid-column field="userStarredProjectId" title="Project Starred" [filterable]="false"
                                           [style]="{'text-align': 'center','cursor':'pointer'}">
                          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                            <div *ngIf="dataItem.userStarredProjectId !== null"
                                 (click)="setUserStarredProject(dataItem.projectId)">
                              <i class="k-icon k-i-star" aria-hidden="true"
                                 style="font-size: 25px; color: #3c8dbc;"></i>
                            </div>
                            <div *ngIf="dataItem.userStarredProjectId === null"
                                 (click)="setUserStarredProject(dataItem.projectId)">
                              <i class="k-icon k-i-star-outline" aria-hidden="true"
                                 style="font-size: 25px; color: #3c8dbc;"></i>
                            </div>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="projectGroupName" title="Project Group">
                          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                            <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                              <kendo-filter-contains-operator></kendo-filter-contains-operator>
                              <kendo-filter-eq-operator></kendo-filter-eq-operator>
                              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                            </kendo-grid-string-filter-cell>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="projectName" title="Project Name">
                          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                            <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                              <kendo-filter-contains-operator></kendo-filter-contains-operator>
                              <kendo-filter-eq-operator></kendo-filter-eq-operator>
                              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                            </kendo-grid-string-filter-cell>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="projectStatus" title="Project Status">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <div>
                              {{getProjectStatus(dataItem)}}
                            </div>

                          </ng-template>
                          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                            <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                              <kendo-filter-contains-operator></kendo-filter-contains-operator>
                              <kendo-filter-eq-operator></kendo-filter-eq-operator>
                              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                            </kendo-grid-string-filter-cell>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="tagDisplayList" title="Project Tags">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <div *ngFor="let item of dataItem.tagDisplayList">
                              <span [ngStyle]="{'background-color':  item.tagColor }" class="label label-default">{{ item.tagName }}</span>
                            </div>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="startDate" title="Start Date" filter="date">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <div *ngIf="dataItem.startDate!=null">{{ dataItem.startDate | date:"mediumDate" }}</div>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="dueDate" title="Due Date" filter="date">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <div *ngIf="dataItem.dueDate!=null">{{ dataItem.dueDate | date:"mediumDate" }}</div>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="createdByName" title="Created By">
                          <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                            <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                              <kendo-filter-contains-operator></kendo-filter-contains-operator>
                              <kendo-filter-eq-operator></kendo-filter-eq-operator>
                              <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                              <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                            </kendo-grid-string-filter-cell>
                          </ng-template>
                        </kendo-grid-column>
                        <kendo-grid-column field="active" title="Active" [filterable]="false" width="80%">
                          <ng-template kendoGridCellTemplate let-dataItem>
                            <div *ngIf="dataItem.active">
                              <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                            </div>
                            <div *ngIf="!dataItem.active">
                              <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                            </div>
                          </ng-template>
                        </kendo-grid-column>

                      </kendo-grid>

                      <kendo-grid-project-form [model]="editDataItem" [isNew]="isNew" [isActiveHide]="true"
                                               (cancel)="cancelHandler($event)">
                      </kendo-grid-project-form>

                      <kendo-projects-tasks-list [openTaskListViewer]="openTaskListViewer" [model]="selectedProject"
                                                 (closeTaskListViewer)="closeTaskListViewer($event)">

                      </kendo-projects-tasks-list>

                      <kendo-projects-task-detail [openDetailViewer]="openTaskDetailViewer"
                                                  (closeDetailViewer)="closeTaskDetailViewer($event)">

                      </kendo-projects-task-detail>

                      <kendo-grid-form-projectGroups [model]="editProjectGroupData"
                                                     [isNew]="projectGroupFormFlag"
                                                     (cancel)="closeForm($event)">
                      </kendo-grid-form-projectGroups>

                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="close(false)" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="close(false)">No</button>
      <button kendoButton (click)="close(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
