﻿<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new Schedule Type' : 'Edit Schedule Type' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="col-md-12 k-form">
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-12 col-sm-12">
        <label class="k-form-field">
          <span>ScheduleType Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="name"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.name.valid || editForm.controls.name.untouched">
            ScheduleType Name is required
          </p>
        </label>
      </div>
    </div>
    <div class="row" style="margin-bottom: 15px;">
      <div class="col-md-6 col-sm-12">
        <div class="k-form-field">
          <input type="radio" checked="checked" class="k-radio" id="rdNoOfMonths" name="rdNoOfMonths"
                 (click)="getScheduleType(false)"
                 formControlName="rdNoOfMonths" [checked]="(isspeicalschedule==false)" value="noOfMonths"/>
          <label class="k-radio-label" for="rdNoOfMonths">No. of Months</label>
        </div>
        <label class="k-form-field">
          <input type="number" class="k-textbox" formControlName="noOfMonths" value="0"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="((editForm.controls.noOfMonths.valid || editForm.controls.noOfMonths.untouched) || editForm.controls.rdNoOfMonths.value != 'noOfMonths')">
            Number Of Months is required
          </p>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">

        <div class="k-form-field">
          <input type="radio" class="k-radio" id="rdNoOfMonthsForType" formControlName="rdNoOfMonths"
                 (click)="getScheduleType(true)"
                 name="rdNoOfMonths" value="specialScheduleType" [checked]="(isspeicalschedule==true)"/>
          <label class="k-radio-label" for="rdNoOfMonthsForType">Special Schedule Type</label>
        </div>
        <label class="k-form-field">
          <kendo-dropdownlist formControlName="specialSchedule"
                              [data]="filterSpecialScheduleList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              required
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="SpecialScheduleListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="(editForm.controls.specialSchedule.valid || editForm.controls.specialSchedule.untouched) || editForm.controls.rdNoOfMonths.value != 'specialScheduleType'">
            Special ScheduleType is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>
  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>