<kendo-dialog *ngIf="isRequisitionformOpen" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ addRoleFlag ? 'Add New Status' : 'Edit Status' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="statusForm" class="k-form">
    <div class=" row">
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <span>Status Name  <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="requisitionStatusName" />
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="statusForm.controls.requisitionStatusName.valid || statusForm.controls.requisitionStatusName.untouched">
            Status Name is required
          </p>
        </label>
      </div>
    </div>
    <div class=" row">
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <span>Site <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="siteId"
                              [data]="filtercurrentSiteIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              required
                              [filterable]="true"
                              (filterChange)="currentSiteIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="statusForm.controls.siteId.valid || statusForm.controls.siteId.untouched">
            Site is required
          </p>
        </label>


      </div>
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field">
          <input type="checkbox" id="canClose" formControlName="canClose" class="k-checkbox">
          <label class="k-checkbox-label" for="canClose">&nbsp; Can close</label>
        </label>
      </div>
      <div class="col-md-8 col-xs-12">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
