<div>
  <!--<div  class="row messageChannelTask">
    <div class="first-comment-section">
      <div class="pull-left col-md-11 no-padding">
        <div class="row">
          <div class="pull-left text-left" style="position: relative; width: max-content;">
            <div class="col-md-1 pull-left no-padding" style="width: 40px; margin-right: 9px;">
              <img src="{{message.chatAvatar}}" class="img-reponsive img-circle img-fixed-width" (error)="userAvatar" />
            </div>
            <b>{{message.createdByName}}</b>
            <span style="font-size: 14px;">{{message.dateTime}}</span>
          </div>
          <div class="clearfix"></div>
          <div class="pull-left msgBoxLefttxt">
            <div *ngIf="message.active" class="msgLeftSide" [innerHtml]="message.messageText"></div>
            <div *ngIf="!message.active" class="msgLeftSide"><i style="opacity: 0.6; font-size: 16px;">This message has been removed.</i></div>
            <div *ngIf="message.active && message.createdDateTime != message.modifiedDateTime">
              <span class="iconSpanpencil"><i class="fa fa-pencil"></i></span>
            </div>
          </div>
          <div *ngIf="isEdit">
            <kendo-custom-TextEditor [inputModel]="editChatMessage" [commentButtonName]="commentButtonName" (keydown)="updateMessge($event,message)" (sendMessageToChannel)="updateMessge($event)"></kendo-custom-TextEditor>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

  </div>-->
  <!--Right-->
  <div class="row messageChannelTask" [class.messageChannelTaskShow]="message.isShow">
    <div class="first-comment-section">
      <div class="pull-left no-padding">
        <div class="row">
          <div class="pull-left text-left" style="position: relative; width: max-content;">
            <div *ngIf="message.isShow" class="pull-left no-padding" style="width: 40px; margin-right: 3px;">
              <img src="{{message.chatAvatar}}" onError="this.src = 'assets/img/no_avatar.png'"
                   class="img-reponsive img-circle img-fixed-width pull-left"/>
            </div>
            <b *ngIf="message.isShow">{{message.createdByName}}</b>
          </div>
          <div class="clearfix"></div>
          <div style="float: left; position: relative;">
            <span class="pull-left" style="font-size: 14px; position: relative; top: 4px; left: 4px;">{{message.dateTime}}</span>
            <div class="pull-left msgBoxLefttxt">
              <div *ngIf="message.active && !isEdit" class="msgLeftSide" [innerHtml]="message.messageText"></div>
              <div *ngIf="!message.active" class="msgLeftSide"><i style="opacity: 0.6; font-size: 16px;">This message
                has been removed.</i></div>
              <div class="clearfix"></div>
            </div>
            <div class="pull-left btnGrouptMessage" *ngIf="!isEdit">
              <span *ngIf="message.active">
                <button *ngIf="message.creatorEditable" class="pull-left btn btn-xs btn-primary"
                        (click)="editTextboxMessage(message)">
                  <i class="fa fa-pencil"></i>&nbsp;
                </button>
                <button *ngIf="message.createdDateTimeObj > lastMonth" class="pull-left btn btn-xs btn-danger"
                        (click)="deleteMessage(message)">
                  <i class="fa fa-times"></i>&nbsp;
                </button>
              </span>
            </div>
            <div *ngIf="isEdit" style="display: -webkit-inline-box;position: relative;top: 8px;left: 12px;">
              <kendo-custom-TextEditor [inputModel]="editChatMessage" [commentButtonName]="commentButtonName"
                                       (keydown)="updateMessge($event,message)"
                                       (sendMessageToChannel)="updateMessge($event)"></kendo-custom-TextEditor>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
