.messageChannelTask {
    background: #fff;
    margin: 3px 0;
    position: relative;
    display: block;
    padding: 2px 8px;
}

.messageChannelTaskShow {
    border-top: 1px solid #e9e9e9;
}

.messageChannelTask .btnGrouptMessage span {
    display: flex !important;
}

.messageChannelTask .btnGrouptMessage {
    margin-left: 30px;
    margin-top: 5px;
    display: none;
}

.messageChannelTask:hover .btnGrouptMessage {
    display: block !important;
}

.messageChannelTask .btnGrouptMessage button.btn {
    border: none;
    padding: 0px 7px !important;
    margin: 0 3px;
    width: 25px;
    height: 25px;
    background: none;
    border: 1px solid #ddd;
    color: #999;
}

.messageChannelTask .first-comment-section div input[disabled] {
    background: transparent !important;
    border: 1px solid transparent;
}

.messageChannelTask .first-comment-section div input {
    padding: 2px 8px;
    border: 1px solid #e9e9e9;
    font-size: 18px;
    outline: none !important;
    width: 100%;
    background: #fff;
}

.messageChannelTask .first-comment-section div input:hover {
    background: #f0f0f0;
}

.formMessageChannelTask ul.channel-list {
    margin: 8px 0 0;
    padding: 0px;
}

.formMessageChannelTask ul.channel-list li {
    background: #fff;
    padding: 0px;
}

.formMessageChannelTask ul.channel-list li a {
    display: block;
    padding: 6px 3px;
    color: #656565;
}

.formMessageChannelTask ul.channel-list li a i.fa {
    background: #002d56;
    color: #fff;
    padding: 7px;
    border-radius: 50px;
    font-size: 13px;
}

.formMessageChannelTask ul.channel-list li a.active {
    background: #3c8dbc;
    color: #fff;
    cursor: default;
}

.formMessageChannelTask ul.channel-list li a.active i.fa {
    background: #fff;
    color: #3c8dbc;
    cursor: default;
}

.formMessageChannelTask ul.channel-list li a:hover {
    background: #3c8dbc;
    color: #fff;
}

.msgLeftSide {
    width: fit-content;
    padding: 0 12px;
    background: #eee;
    border-radius: 6px;
    float: left;
    position: relative;
    top: 3px;
    left: 22px;
}

.msgRightSide {
    width: fit-content;
    padding: 0 12px;
    background: #eee;
    border-radius: 6px;
    position: relative;
    top: 3px;
    left: 0px;
    float: right;
}

.msgBoxLefttxt {
    position: relative;
    display: inline-block;
    left: 0px;
    max-width: 90%;
}

.msgBoxLefttxt .iconSpanpencil {
    position: absolute;
    left: -15px;
    top: 6px;
    font-size: 14px;
    opacity: 0.5;
    transform: rotate(316deg);
}

.msgBoxRighttxt {
    position: relative;
    display: inline-block;
    left: 22px;
}

.msgBoxRighttxt .iconSpanpencil {
    position: absolute;
    right: -15px;
    top: 6px;
    font-size: 14px;
    opacity: 0.5;
    transform: rotate(316deg);
}
