<section class="content-header" style="padding-top: 0px; ">
  <h3 class="col-md-3 pull-left" style="margin: 14px 0 17px 0;"> User Settings</h3>
</section>
<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">

        <div class="box-footer">
        </div>

        <div class="col-md-12 table-responsive" id="divManufacturerList">
          <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
            <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
            <span>&nbsp; Loading..</span>
          </div>
          <div *ngIf="loading == false">
            <div class="row">
              <div class="col-lg-12 search-text">
                <div class="pull-right">
                  <div class="funkyradio">
                    <div class="funkyradio-info">
                      <input type="checkbox" name="checkbox" id="chkshowUserSettingsActive" checked="checked">
                      <label for="chkshowUserSettingsActive" (click)="showActive()">Show Active Only</label>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="col-lg-12">
                <kendo-grid
                    [data]="gridView"
                    [filterable]="true"
                    [filter]="state.filter"
                    [pageSize]="pageSize"
                    [skip]="skip"
                    [pageable]="true"
                    [sortable]="{ mode: 'single' }"
                    (pageChange)="pageChange($event)"
                    (dataStateChange)="dataStateChange($event)"
                    (add)="addHandler($event)"
                    (edit)="editHandler($event)"
                    (cancel)="cancelHandler($event)"
                    (save)="saveHandler($event)"
                    [sort]="sort"
                    (sortChange)="sortChange($event)"
                    (search)="saveHandler($event)"
                    (remove)="removeHandler($event)"
                    scrollable="none"
                    [class.gridLoaderDiv]="gridLoading">

                  <ng-template kendoGridToolbarTemplate>
                    <div *ngIf="gridLoading == true" class="Gridloader"></div>
                    <button class="k-button k-primary" (click)="addNewUserSettings()"><i class="fa fa-plus"></i>&nbsp;
                      Add New
                    </button>
                  </ng-template>
                  <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                    <kendo-pager-info></kendo-pager-info>
                    <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                    <kendo-pager-next-buttons></kendo-pager-next-buttons>
                    <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
                  </ng-template>
                  <kendo-grid-command-column title="" width="50">
                    <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                      <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)"
                                         (itemClick)="onAction($event,dataItem)">
                        <i class="fa fa-pencil-square-o"></i>
                      </kendo-splitbutton>
                    </ng-template>
                  </kendo-grid-command-column>
                  <kendo-grid-column field="displayName" title="User Name">
                  </kendo-grid-column>
                  <kendo-grid-column field="workspaceName" title="Current Workspace Name">
                  </kendo-grid-column>
                  <kendo-grid-column field="roleName" title="Role Name">
                  </kendo-grid-column>
                  <kendo-grid-column field="active" title="Active" [filterable]="false">
                    <ng-template kendoGridCellTemplate let-dataItem>
                      <div *ngIf="dataItem.active">
                        <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                      </div>
                      <div *ngIf="!dataItem.active">
                        <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                      </div>
                    </ng-template>
                  </kendo-grid-column>
                </kendo-grid>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="close(false)" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="close(false)">No</button>
      <button kendoButton (click)="close(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

<kendo-dialog *ngIf="addUserSettingsFlag" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add New User Settings' : 'Edit User Settings' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">

    <div class=" row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field" *ngIf="!isNew">
          <span>User Name :</span> <span>{{userName}}</span>
        </label>
        <label class="k-form-field" *ngIf="isNew">
          <span>User Name</span>
          <kendo-dropdownlist formControlName="userId"
                              [data]="filteruserIDList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="userIDListHandleFilter($event)">
          </kendo-dropdownlist>
        </label>
      </div>
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Role Name <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="roleId"
                              [data]="filterroleIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              required
                              [filterable]="true"
                              (filterChange)="roleIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.roleId.valid || editForm.controls.roleId.untouched">
            Role Name is required
          </p>
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <p class="k-tooltip k-tooltip-validation" *ngIf="isDuplicateMember">
          This User Name already Exists in workspace and Role Name.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="closeAddUserSettings()">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="saveUserSettingsData()">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
