<kendo-dialog *ngIf="openUserForm" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new User Role' : 'Edit User Role' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class="row">
      <div class="col-md-6">
        <label class="k-form-field">
          <span>Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="userRoleName" />
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.userRoleName.valid || editForm.controls.userRoleName.untouched">
            User Role Name is required
          </p>
        </label>
      </div>
    </div>
    <br/>
    <div class=" row">
      <div class="col-md-6">
        <label class="k-form-field">
          <input type="checkbox" id="canAccessUserMaintenance" formControlName="canAccessUserMaintenance" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canAccessUserMaintenance">&nbsp; Access UserMaintenance</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewSysAdmin" formControlName="canViewSysAdmin" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewSysAdmin">&nbsp; View SysAdmin</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewProjects" formControlName="canViewProjects" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewProjects">&nbsp; View Projects</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewEquipmentMaintenance" formControlName="canViewEquipmentMaintenance" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewEquipmentMaintenance">&nbsp; View EquipmentMaintenance</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewProcessLog" formControlName="canViewProcessLog" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewProcessLog">&nbsp; View ProcessLog</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewToolingManagement" formControlName="canViewToolingManagement" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewToolingManagement">&nbsp; View ToolingManagement</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewReportingAndAnalytics" formControlName="canViewReportingAndAnalytics" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewReportingAndAnalytics">&nbsp; View ReportingAndAnalytics</label>
        </label>
      </div>

      <div class="col-md-6">
        <label class="k-form-field">
          <input type="checkbox" id="canViewDocumentManagement" formControlName="canViewDocumentManagement" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewDocumentManagement">&nbsp; View DocumentManagement</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewDispatch" formControlName="canViewDispatch" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewDispatch">&nbsp; View Dispatch</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewQualityManagement" formControlName="canViewQualityManagement" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewQualityManagement">&nbsp; View QualityManagement</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewWIPTracking" formControlName="canViewWIPTracking" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewWIPTracking">&nbsp; View WIPTracking</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewSuppliers" formControlName="canViewSuppliers" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewSuppliers">&nbsp; View Suppliers</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canViewProductionSupport" formControlName="canViewProductionSupport" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canViewProductionSupport">&nbsp; View ProductionSupport</label>
        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canAccessUserTypes" formControlName="canAccessUserTypes" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canAccessUserTypes">&nbsp; Access User Types</label>
        </label>
      </div>
    </div>

  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
