<section class="content-header">
  <h1> User Role </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
    <li class="active">User Role</li>
  </ol>
  <span class="helpButton"><a target="_blank" href="https://mss-help.drawform.com/articles/equipment-maintenance/master-data/user/"><i class="fa fa-question-circle"></i></a></span>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">

        <div class="box-footer">
        </div>
        <div class="col-md-12 table-responsive" id="divUserRoleList">
          <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
            <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
            <span>&nbsp; Loading..</span>
          </div>
          <div *ngIf="loading == false">
            <kendo-grid [data]="gridView"
                        [filterable]="true"
                        [filter]="state.filter"
                        [pageSize]="pageSize"
                        [skip]="skip"
                        [pageable]="true"
                        [sortable]="{ mode: 'single' }"
                        (pageChange)="pageChange($event)"
                        (dataStateChange)="dataStateChange($event)"
                        (add)="addHandler($event)"
                        (edit)="editHandler($event)"
                        (cancel)="cancelHandler($event)"
                        (save)="saveHandler($event)"
                        [sort]="sort"
                        (sortChange)="sortChange($event)"
                        (search)="saveHandler($event)"
                        (remove)="removeHandler($event)"
                        scrollable="none"
                        [class.gridLoaderDiv]="gridLoading">

              <ng-template kendoGridToolbarTemplate>
                <div *ngIf="gridLoading == true" class="Gridloader"></div>
                <button kendoGridAddCommand class="k-button k-primary"><i class="fa fa-plus"></i>&nbsp; Add New</button>
              </ng-template>

              <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                <kendo-pager-info></kendo-pager-info>
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
              </ng-template>

              <kendo-grid-command-column title="" width="50">
                <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                  <kendo-splitbutton [data]="ActionData" (buttonClick)="onAction($event,dataItem)" (itemClick)="onAction($event,dataItem)">
                    <i class="fa fa-pencil-square-o"></i>
                  </kendo-splitbutton>
                </ng-template>
              </kendo-grid-command-column>

              <kendo-grid-column field="userRoleName" title="Name">
                <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                  <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                    <kendo-filter-contains-operator></kendo-filter-contains-operator>
                    <kendo-filter-eq-operator></kendo-filter-eq-operator>
                    <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                    <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                  </kendo-grid-string-filter-cell>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column field="canAccessUserMaintenance" title="UserMaintenance" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canAccessUserMaintenance">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canAccessUserMaintenance">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewSysAdmin" title="SysAdmin" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewSysAdmin">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewSysAdmin">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewProjects" title="Projects" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewProjects">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewProjects">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewEquipmentMaintenance" title="EquipmentMaintenance" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewEquipmentMaintenance">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewEquipmentMaintenance">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewProcessLog" title="ProcessLog" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewProcessLog">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewProcessLog">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewToolingManagement" title="ToolingManagement" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewToolingManagement">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewToolingManagement">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewReportingAndAnalytics" title="ReportingAndAnalytics" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewReportingAndAnalytics">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewReportingAndAnalytics">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewDocumentManagement" title="DocumentManagement" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewDocumentManagement">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewDocumentManagement">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewDispatch" title="Dispatch" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewDispatch">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewDispatch">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewQualityManagement" title="QualityManagement" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewQualityManagement">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewQualityManagement">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewWIPTracking" title="WIPTracking" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewWIPTracking">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewWIPTracking">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewSuppliers" title="Suppliers" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewSuppliers">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewSuppliers">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canViewProductionSupport" title="ProductionSupport" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canViewProductionSupport">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canViewProductionSupport">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="canAccessUserTypes" title="AccessUserTypes" [width]="10" [filterable]="false">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div *ngIf="dataItem.canAccessUserTypes">
                    <i class="fa fa-check" aria-hidden="true" style="color: green;"></i>
                  </div>
                  <div *ngIf="!dataItem.canAccessUserTypes">
                    <i class="fa fa-times" aria-hidden="true" style="color: red;"></i>
                  </div>
                </ng-template>
              </kendo-grid-column>

            </kendo-grid>
            <kendo-grid-userrole-form [model]="editDataItem" [isNew]="isNew"
                                      (save)="saveHandler($event)"
                                      (cancel)="cancelHandler()">
            </kendo-grid-userrole-form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="example-wrapper">

  <kendo-dialog title="Please Confirm" *ngIf="opened" (close)="close(false)" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="close(false)">No</button>
      <button kendoButton (click)="close(true)" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>
