﻿<kendo-dialog *ngIf="active" (close)="closeForm()">
    <kendo-dialog-titlebar>
        {{ isNew ? 'Add new Order Type' : 'Edit Order Type' }}
    </kendo-dialog-titlebar>

    <form novalidate [formGroup]="editForm"  class="k-form">
        <div class=" row">
            <div class="col-md-12">
                <label class="k-form-field">
                    <span>OrderType Name <span class="k-required">*</span></span>
                    <input type="text" class="k-textbox" formControlName="orderTypeName" />
                    <p class="k-tooltip k-tooltip-validation"
                       [hidden]="editForm.controls.orderTypeName.valid || editForm.controls.orderTypeName.untouched">
                        OrderType Name is required
                    </p>
                </label>
                <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
                    <input type="checkbox" id="active" formControlName="active" value="false" class="k-checkbox">
                    <label class="k-checkbox-label" for="active">&nbsp; Active</label>
                </label>
            </div>
        </div>
    </form>

    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">Cancel</button>
        <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
    </kendo-dialog-actions>
</kendo-dialog>