<div class="login-page" [style.display]="pageRedirecting? 'none':''">
  <div class="boxCenter">
    <div class="login-logo"><a href="#"><b><img src="assets/img/mss-logo.png"/></b></a></div>

    <!-- Login Section-->
    <div class="login-box" id="Login-section" *ngIf="!resetPwd">
      <div class="login-box-body">
        <p class="login-box-heading">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <span>Password reset</span>
        </p>
        <form novalidate [formGroup]="editForm" class="k-form">
          <div class=" row">
            <div class="col-md-12 col-sm-12">


              <label class="k-form-field">
                <span>New Password <span class="k-required">*</span></span>
                <input type="password" class="k-textbox" formControlName="newPassword"/>
                <p class="k-tooltip k-tooltip-validation"
                   [hidden]="editForm.controls.newPassword.valid || editForm.controls.newPassword.untouched">
                  New Password is required
                </p>
              </label>
              <label class="k-form-field">
                <span>Confirm Password <span class="k-required">*</span></span>
                <input type="password" class="k-textbox" formControlName="confirmPassword"/>
                <p class="k-tooltip k-tooltip-validation"
                   [hidden]="editForm.controls.confirmPassword.valid || editForm.controls.confirmPassword.untouched">
                  Password doesn't match
                </p>
              </label>
              <label class="k-form-field" *ngIf="errormessage != ''">
                <p class="k-tooltip k-tooltip-validation">
                  {{errormessage}}
                </p>
              </label>
              <label class="k-form-field">
                <input class="btn btn-primary" [disabled]="!editForm.valid" (click)="saveHandler($event)" type="submit"
                       value="Submit"/>
              </label>
            </div>
          </div>
        </form>

      </div>

    </div>
    <!-- logo section End -->
  </div>
</div>
<div class="cube-wrapper" *ngIf="pageRedirecting">
  <div class="cube-folding">
    <span class="leaf1"></span>
    <span class="leaf2"></span>
    <span class="leaf3"></span>
    <span class="leaf4"></span>
  </div>
  <span class="loading" data-name="Loading">Loading</span>
</div>
