<kendo-dialog *ngIf="openChangePwdNextLoginDialog" [minWidth]="400" [width]="400">
  <kendo-dialog-titlebar>
    Change Password | Next Login
  </kendo-dialog-titlebar>
  <form novalidate [formGroup]="editForm" class="k-form">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <label class="k-form-field">
          <span>Current Password <span class="k-required">*</span></span>
          <input type="password" class="k-textbox" formControlName="currentPassword"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.currentPassword.valid || editForm.controls.currentPassword.untouched">
            Current Password is required
          </p>
        </label>

        <label class="k-form-field">
          <span>New Password <span class="k-required">*</span></span>
          <input type="password" class="k-textbox" formControlName="newPassword"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.newPassword.valid || editForm.controls.newPassword.untouched">
            New Password is required
          </p>
        </label>
        <label class="k-form-field">
          <span>Confirm Password <span class="k-required">*</span></span>
          <input type="password" class="k-textbox" formControlName="confirmPassword"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.confirmPassword.valid || editForm.controls.confirmPassword.untouched">
            Password doesn't match
          </p>
        </label>
        <label class="k-form-field" *ngIf="errormessage != ''">
          <p class="k-tooltip k-tooltip-validation">
            {{errormessage}}
          </p>
        </label>
      </div>
    </div>
  </form>
  <kendo-dialog-actions>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="saveHandler($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
