.text-center {
    text-align: center !important;
}

.padding-btn {
    padding: 3px 8px;
    margin: 0 2px;
}

.order-complete {
    margin-left: 5px;
    width: 41%;
}

.lbl-order-details {
    font-size: 11px;
    margin-top: 5px;
}

/*.kendoControlWidth {
  width: 100%;
}*/

.workhistory-box {
    margin-left: 6px;
    width: 49%;
}

.user-avatar {
    margin: 5px 0px 0px 10px;
}

.user-name {
    margin-bottom: 0;
    margin-top: 10px;
}

.li-icons {
    position: absolute;
    right: 3px;
}

.li-inputs {
    padding: 0 5px !important;
    height: 30px !important;
    font-size: 13px !important;
    width: 60% !important;
}

.li-input-bracket {
    margin-top: 5px;
    margin-left: -1px;
}

.partControlWidth {
    width: 100% !important;
    float: left !important
}

.qty-input {
    margin-top: 10px;
}

.disply-flex {
    display: flex !important;
}

.bulk-order-header-color {
    color: #ffffff;
    background-color: #3c8dbc;
}

.no-padding {
    padding: 0;
}

.orderdetailsrightbtn {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 9px;
    right: 38px;
    border-radius: 2px;
}

.orderdetailsrightbtn li {
    display: inline-block;
}

.orderdetailsrightbtn li a {
    display: block;
    color: #ffffff !important;
    margin: 0 5px;
}

.orderdetailsrightbtn li .btn-denger {
    background: #d9534f !important;
}

.orderdetailsrightbtn li .btn-back {
    background: #8064dc !important;
}

.exportorderwidth > .k-dialog {
    width: 98%;
}

.trv-menu-large {
    display: inline-flex !important;
    border-style: none;
}

.trv-report-page {
    height: 1059px;
    width: 100% !important;
}

.pictureBox2 {
    top: 1014px !important;
}

.btn-kendo-color {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}

.kendoControlWidth {
    width: 180px !important;
}

.minheight-800 .k-dialog-content:first-child {
    min-height: 630px;
}
