<kendo-dialog *ngIf="userSettingformFlag" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add New User Settings' : 'Edit User Settings' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class="row" *ngIf="!isNew">
      <div class="col-md-6">
        <span>Username </span>
        <span><b>{{username}}</b></span>
        <br/> <br/>
      </div>
    </div>
    <div class=" row">
      <div *ngIf="!isNew" class="col-md-6">
        <label class="k-form-field">
          <span>Site <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="currentSiteId"
                              [data]="filtercurrentSiteIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              required
                              [filterable]="true"
                              (filterChange)="currentSiteIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.currentSiteId.valid || editForm.controls.currentSiteId.untouched">
            Site is required
          </p>
        </label>
      </div>
      <div class="col-md-6">
        <label class="k-form-field">
          <span>Role Name <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="roleId"
                              [data]="filterroleIdList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              required
                              [filterable]="true"
                              (filterChange)="roleIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.roleId.valid || editForm.controls.roleId.untouched">
            Role Name is required
          </p>
        </label>

      </div>
      <div *ngIf="isNew">
        <div class="col-md-6">
          <label class="k-form-field">
            <span>User Name<span class="k-required">*</span> </span>
            <kendo-dropdownlist formControlName="userId"
                                [data]="filteruserIDList"
                                [textField]="'text'"
                                [valueField]="'value'"
                                [valuePrimitive]="true"
                                class="kendoControlWidth"
                                required
                                [filterable]="true"
                                (filterChange)="userIDListHandleFilter($event)">
            </kendo-dropdownlist>
            <p class="k-tooltip k-tooltip-validation" *ngIf="isDuplicateMember">
              This User Name already Exists in site and Role Name.
            </p>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div *ngIf="!isNew" class="col-md-8">
        <label class="k-form-field">
          <input type="checkbox" id="ShowOnlyMyAssignments" formControlName="showOnlyMyAssignments" class="k-checkbox">
          <label class="k-checkbox-label" for="ShowOnlyMyAssignments">&nbsp; Show Only My Assignments</label>
        </label>
      </div>
      <div class="col-md-4">
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
