<kendo-dialog class="formLinkDocumentSerach" title="App Tags" *ngIf="isTagOpen" (close)="closeForm()">
  <span *ngIf="!isDataLoaded" class="isDataLoaded"><i class="fa fa-refresh fa-spin" style="font-size:25px"></i></span>

  <div class="row" style="margin: 0 0 10px;">
    <div class="col-sm-3">
      <kendo-dropdownlist [(ngModel)]="addApplication"
                          [data]="application"
                          [textField]="'text'"
                          [valueField]="'value'"></kendo-dropdownlist>
    </div>
    <div class="col-sm-3">
      <kendo-dropdownlist [(ngModel)]="addObjectType"
                          [data]="objectType"
                          [textField]="'text'"
                          [valueField]="'value'"></kendo-dropdownlist>
    </div>
    <div class="col-sm-2">
      <input type="text" [(ngModel)]="addObjectId" class="k-textbox" />

    </div>
    <div class="col-sm-4">
      <button kendoButton [primary]="true" (click)="onLinkToApp()">Link to app</button>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <kendo-grid [data]="gridView"
                  [filterable]="false"
                  [class.gridLoaderDiv]="gridLoading">
        <ng-template>
          <div *ngIf="gridLoading == true" class="Gridloader"></div>
        </ng-template>

        <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
          <kendo-pager-info></kendo-pager-info>
          <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
          <kendo-pager-next-buttons></kendo-pager-next-buttons>
          <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
        </ng-template>

        <kendo-grid-command-column title="" width="50">
          <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
            <kendo-splitbutton [data]="actionData" (buttonClick)="onAction($event,dataItem)" (itemClick)="onAction($event,dataItem)">
              <i class="fa fa-trash-o"></i>
            </kendo-splitbutton>
          </ng-template>
        </kendo-grid-command-column>
        <kendo-grid-column field="localCustomProperties.relatedApplication" title="Project Name">
        </kendo-grid-column>
        <kendo-grid-column field="localCustomProperties.relatedObjectType" title="Related ObjectType">
        </kendo-grid-column>
        <kendo-grid-column field="localCustomProperties.relatedObjectId" title="RelatedObject Id">
        </kendo-grid-column>
        <kendo-grid-column field="localCustomProperties.relatedObjectAppDisplay" title="RelatedObject AppDisplay">
        </kendo-grid-column>
        <kendo-grid-column field="localCustomProperties.relatedObjectAppRelativeURL" title="RelatedObject AppRelativeURL">
        </kendo-grid-column>
        <kendo-grid-column field="localCustomProperties.linkedBy" title="Linked By">
        </kendo-grid-column>
        <kendo-grid-column field="localCustomProperties.linkedDateTime" title="Linked DateTime">
        </kendo-grid-column>
      </kendo-grid>
    </div>
  </div>
  <br />


</kendo-dialog>

