<section class="content-header" style="padding-top: 0px; ">
  <h3 class="col-md-3 pull-left" style="margin: 14px 0 17px 0;"> Manage Documents </h3>
</section>

<section class="content">
  <div class="row">
    <div class="col-lg-12">
      <div class="box box-primary box-overflow">
        <div class="box-footer">
        </div>
        <linkeddocument></linkeddocument>
      </div>
    </div>
  </div>
</section>
