<style>

</style>
<kendo-dialog [ngClass]="diologClass?'formLinkDocument':'formLinkDocumentSerach'" title="Updating Document"
              *ngIf="isDocumentOpen" (close)="closeForm()" [minWidth]="400" [minheight]="500">
  <span *ngIf="!isDataLoaded" class="isDataLoaded"><i class="fa fa-refresh fa-spin" style="font-size:25px"></i></span>

  <kendo-tabstrip (tabSelect)="onTabSelect($event)">
    <kendo-tabstrip-tab [title]="'Upload New'" [selected]="true">
      <ng-template kendoTabContent>
        <form novalidate [formGroup]="documentForm" class="k-form" style="padding: 20px 10px;">
          <div class="row">
            <div class="col-md-12">
              <!--<input type="file" kendoButton class="k-button k-upload-button" formControlName="file" (change)="getFiles($event)" />-->
              <div *ngIf="!isEditMode">
                <file-upload (onChange)="getFiles($event)" (onClick)="onClickFileUpload($event)"></file-upload>
              </div>
              <div *ngIf="isEditMode">
                <!--<div style="width: 100%; display: inline-table;"></div>-->
                <textarea class="k-textarea" style="width:100%;">{{documentFile}}</textarea>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-md-9">
              <br/>
              <div class="k-label"> Document Type</div>
              <kendo-dropdownlist formControlName="siteContentTypeId"
                                  [data]="filterdocumentTypeList"
                                  [textField]="'text'"
                                  [valueField]="'value'"
                                  [valuePrimitive]="true"
                                  [filterable]="true"
                                  class="full-width"
                                  (filterChange)="documentTypeListHandleFilter($event)"
                                  (selectionChange)="onDocumentTypeChange($event)"
                                  [restrictions]="documentUploadRestriction">
              </kendo-dropdownlist>

            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <br/>
              <br/>
              <div class="panel panel-info" *ngIf="isShowMetaData">
                <div class="panel-heading">Set Metadata:</div>
                <div class="panel-body">
                  <div class="row k-form">
                    <label class="k-form-field">
                      <span>Title</span>
                      <input class="k-textbox" placeholder="Title" [(ngModel)]="metaTitle"
                             [ngModelOptions]="{standalone: true}"/>
                    </label>
                    <label class="k-form-field" *ngIf="taxonomyFieldTypeDropdown">
                      <span>Part</span>
                      <kendo-dropdownlist [(ngModel)]="metaType"
                                          [data]="taxonomyFieldTypeList"
                                          [textField]="'text'"
                                          [valueField]="'value'"
                                          [valuePrimitive]="true"
                                          [filterable]="true"
                                          class="full-width"
                                          (filterChange)="documentTypeListHandleFilter($event)"
                                          [ngModelOptions]="{standalone: true}">
                      </kendo-dropdownlist>
                    </label>
                    <label class="k-form-field">
                      <span>Subject</span>
                      <input class="k-textbox" placeholder="Subject" [(ngModel)]="metaSubject"
                             [ngModelOptions]="{standalone: true}"/>
                    </label>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'Link Existing'">
      <ng-template kendoTabContent>
        <linkeddocument style="max-height: 650px;overflow: auto" isViewOnly="true"
                        [moduleType]="moduleType"
                        [objectType]="objectType"
                        [objectId]="objectId"
                        (closeform)="closeForm($event)"></linkeddocument>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>

  <kendo-dialog-actions *ngIf="diologClass">
    <button kendoButton (click)="closeForm()">Cancel</button>
    <button kendoButton [primary]="true" [disabled]="!isShowMetaData" (click)="onDocumentUpload()">
      {{ isEditMode?"Update":"Upload"}}
    </button>
  </kendo-dialog-actions>

</kendo-dialog>