<div class="col-md-12 table-responsive" [ngClass]="isViewOnly?'formsetmaxHeight':''">
  <div *ngIf="loading == true" class="pageLoaderMain" style="font-size: 32px;">
    <div class="k-icon k-i-loading col-md-6" style="font-size: 42px;"></div>
    <span>&nbsp; Loading..</span>
  </div>
  <span *ngIf="isPerformingOperation" class="isDataLoaded"><i class="fa fa-refresh fa-spin" style="font-size:25px"></i></span>
  <div *ngIf="loading == false">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">
          <form novalidate [formGroup]="searchDocumentForm" class="k-form">
            <div class="col-md-12">
              <div class="row">
                <div class="panel panel-info">
                  <div class="panel-heading">Search Criteria:</div>
                  <div class="panel-body" style="padding: 20px 8px 0;">
                    <div class="row">
                      <div class="col-md-10 col-sm-10">
                        <div class="row">
                          <label class="k-form-field col-sm-3 col-md-3">
                            <span> Document Type </span>
                            <kendo-dropdownlist formControlName="documentType"
                                                [data]="filterdocumentTypeList"
                                                [textField]="'text'"
                                                [valueField]="'value'"
                                                [valuePrimitive]="true"
                                                class="kendoControlWidthDoc"
                                                [filterable]="true"
                                                (filterChange)="documentTypeListHandleFilter($event)"
                                                (selectionChange)="onDocumentTypeChange($event)" required>
                            </kendo-dropdownlist>
                            <p class="k-tooltip k-tooltip-validation"
                               [hidden]="searchDocumentForm.controls.documentType.valid || searchDocumentForm.controls.documentType.untouched">
                              Document type is required
                            </p>
                          </label>

                          <label class="k-form-field col-sm-3 col-md-3">
                            <span>Search By </span>
                            <kendo-dropdownlist formControlName="searchBy"
                                                [data]="searchByList"
                                                [textField]="'text'"
                                                [valueField]="'value'"
                                                [valuePrimitive]="true"
                                                class="kendoControlWidthDoc"
                                                (selectionChange)="onSearchTypeChange($event)">
                            </kendo-dropdownlist>

                          </label>

                          <label class="k-form-field col-sm-3 col-md-3" *ngIf="choiceTextBox">
                            <span>Search value</span>
                            <input type="text" class="k-textbox" formControlName="choice"
                                   placeholder="Enter search value"/>
                          </label>

                          <label class="k-form-field col-sm-3 col-md-3" *ngIf="taxonomyFieldTypeDropdown">
                            <span>Select value</span>
                            <kendo-dropdownlist formControlName="taxonomyFieldType"
                                                [data]="taxonomyFieldTypeList"
                                                [textField]="'text'"
                                                [valueField]="'value'"
                                                [valuePrimitive]="true"
                                                class="kendoControlWidthDoc">
                            </kendo-dropdownlist>

                          </label>
                          <label class="k-form-field col-sm-3 col-md-3">
                            <span></span>
                            <button class="k-button k-primary btnAddtoSearch" [disabled]="!searchDocumentForm.valid"
                                    (click)="addSearchDocuments()">Add to search criteria
                            </button>
                          </label>

                        </div>
                      </div>
                      <div class="col-md-5 col-sm-5">
                        <label class="k-form-field">
                          <span>Selected Search criteria</span>
                          <kendo-multiselect [(ngModel)]="seachCriteriaList"
                                             [ngModelOptions]="{standalone: true}"
                                             [textField]="'searchText'"
                                             [valueField]="'searchId'"
                                             class="kendoControlWidthDoc">
                          </kendo-multiselect>
                        </label>
                      </div>
                      <div class="col-md-5 col-sm-5">
                        <button class="k-button k-primary btnSearchDock" (click)="searchDocuments()">Search</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <kendo-grid [data]="gridView"
                    [pageSize]="state.take"
                    [skip]="state.skip"
                    [sort]="state.sort"
                    [filter]="state.filter"
                    [sortable]="true"
                    [pageable]="true"
                    [filterable]="true"
                    (dataStateChange)="dataStateChange($event)">

          <ng-template kendoGridToolbarTemplate>
            <div *ngIf="gridLoading == true" class="Gridloader"></div>
            <button *ngIf="!isViewOnly" kendoGridAddCommand class="k-button k-primary" (click)="onDocumentOpen()"><i
                class="fa fa-plus"></i>&nbsp; Upload Document
            </button>

          </ng-template>

          <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
            <kendo-pager-info></kendo-pager-info>
            <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
            <kendo-pager-next-buttons></kendo-pager-next-buttons>
            <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
          </ng-template>
          <kendo-grid-command-column title="" width="80">
            <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
              <kendo-splitbutton *ngIf="!isViewOnly" [data]="actionData(dataItem)"
                                 (buttonClick)="onAction($event,dataItem)"
                                 (itemClick)="onAction($event,dataItem)">
                <i class="fa" [ngClass]="isViewOnly?'fa-link':'fa-external-link'"></i>
              </kendo-splitbutton>
              <button *ngIf="isViewOnly" kendoButton [iconClass]="'fa fa-link'"
                      (click)="onAction(undefined,dataItem)"></button>
            </ng-template>

          </kendo-grid-command-column>

          <ng-template ngFor [ngForOf]="columns" let-column>
            <!--<kendo-grid-column *ngIf="column == 'userAvatar'" title="{{column}}">
              <ng-template kendoGridHeaderTemplate let-column let-columnIndex="columnIndex">
                <img src="{{column.field}}"  (error)="updateUrl(column)"/>
              </ng-template>
            </kendo-grid-column>-->
            <kendo-grid-column *ngIf="column == 'editor'  && column != 'modifiedDate'" title="Editor" [Width]="250">
              <ng-template kendoGridCellTemplate let-dataItem let-rowIndex="rowIndex">
                <div *ngIf="dataItem.editor != null" style="width: 150px; display: inline-flex;">
                  <img src="{{dataItem.editor[0].userAvatar}}" (error)="updateUrl(dataItem)" class="useravtar"
                       style="margin-right: 10px;"/>
                  <label style="margin-top: 5px;">{{dataItem.editor[0].userName}}</label>
                </div>

              </ng-template>

            </kendo-grid-column>

            <kendo-grid-column *ngIf="column != 'editor' && column != 'modifiedDate'" field="{{column}}"
                               title="{{column}}">
              <ng-template kendoGridFilterCellTemplate let-filter let-column="column">
                <kendo-grid-string-filter-cell [column]="column" [filter]="filter">
                  <kendo-filter-contains-operator></kendo-filter-contains-operator>
                  <kendo-filter-eq-operator></kendo-filter-eq-operator>
                  <kendo-filter-startswith-operator></kendo-filter-startswith-operator>
                  <kendo-filter-endswith-operator></kendo-filter-endswith-operator>
                </kendo-grid-string-filter-cell>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column *ngIf="column != 'editor'  && column == 'modifiedDate'" field="{{column}}"
                               title="ModifiedDate" filter="date" [Width]="250">
              <ng-template kendoGridCellTemplate let-dataItem>
                <div *ngIf="dataItem.modifiedDate!=null">{{ dataItem.modifiedDate | date:"medium" }}</div>
              </ng-template>
            </kendo-grid-column>
          </ng-template>
        </kendo-grid>
      </div>
    </div>
  </div>
</div>
<kendo-dialog title="Please Confirm" *ngIf="isDeleteOpenConfirmation" (close)="deleteComfirmation(false)"
              [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center;">Are you sure you want to delete?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="deleteComfirmation(false)">No</button>
    <button kendoButton (click)="deleteComfirmation(true)" primary="true">Yes</button>
  </kendo-dialog-actions>
</kendo-dialog>


<kendo-dialog title="Please Confirm" *ngIf="isPublishConfirmation" (close)="onPublishComfirmation(false,true)"
              [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center;">Are you sure you want to publish?</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="onPublishComfirmation(false)">Reject</button>
    <button kendoButton (click)="onPublishComfirmation(true)" primary="true">Approve</button>
  </kendo-dialog-actions>
</kendo-dialog>


<kendo-linkedDocument-form [isDocumentOpen]="isOpenDocument" (cancel)="onCancelLinkedDocumentForm()"
                           [(model)]="paramUploadDocumentDTO"></kendo-linkedDocument-form>

<kendo-linkedDocument-tag-form [isTagOpen]="isFormTagOpen" (cancel)="onCancelLinkedTagForm()"
                               [(model)]="tagModel"></kendo-linkedDocument-tag-form>


<kendo-dialog title="Alert" *ngIf="isAlertOpen" (close)="onAlertClose()" [minWidth]="250" [width]="450">
  <p style="margin: 30px; text-align: center;">{{alertText}}</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="onAlertClose(true)" primary="true">Okay</button>
  </kendo-dialog-actions>
</kendo-dialog>
