<kendo-dialog class="messgingWindow" style="position: relative"
              (close)="closeForm()"
              *ngIf="messageDialogActive">
  <img class="imageloaderchat" src="assets/img/chat-loading.gif" *ngIf="chatLoading"/>
  <span class="checkboxPopuplopader" *ngIf="chatLoading"></span>
  <kendo-dialog-titlebar>
    Messaging
  </kendo-dialog-titlebar>

  <form novalidate class="k-form no-padding calibri-20 formMessageChannelTask">
    <div (click)="toggleChatPanel()" class="btnToggleMob text-right"
         style="width: 100%; background: #ddd; padding: 6px 10px; margin: 0 0 12px;">
      <span><i class="fa fa-plus"></i></span>
    </div>
    <div id="chatPannel" class="col-md-2 border-right formMessageChannelTaskCol2" style="padding-left: 0px;">
      <div class="chanels">
        <div class="pull-left" style="font-weight: bold;"> Channels</div>
        <div class="pull-right">
          <a href="javascript:void(0);" (click)="openChannelDialogForm()">
            <i class="fa fa-plus-square"></i>
          </a>
        </div>
        <br/>
        <ul class="channel-list">
          <!--<li>
            <div class="badge badge-design">G</div> General
          </li>-->
          <li *ngFor="let channel of chatChannelList">
            <a [class.active]="channel.messageContextId === selectedChnnel"
               (click)="onClickChatChannel(channel)"
               style="cursor: pointer">
                <span style="font-size: 14px;">
                  <!--<i class="fa fa-users"></i>-->
                  <img class="megUserImage" onError="this.src = 'assets/img/no_avatar.png'"
                       src="{{commonService.getChannelThumbnail(channel.messageContextId)}}"/>
                </span>&nbsp;<span>{{channel.contextName}}</span>
              <span class="badge txtbadgeMessage pull-right"
                    *ngIf="channel.unreadCount > 0">{{channel.unreadCount}}</span>
            </a>
          </li>
        </ul>
      </div>
      <br/>
      <div class="chanels">
        <div class="pull-left" style="font-weight: bold;"> Direct Messages</div>
        <div class="pull-right">
          <a href="javascript:void(0);" (click)="openDirectMessageForm()">
            <i class="fa fa-plus-square"></i>
          </a>
        </div>
        <br/>
        <ul class="channel-list">
          <li *ngFor="let channel of directMessageFollowerList">
            <a [class.active]="channel.messageContextId === selectedChnnel" (click)="onClickChatChannel(channel)"
               style="cursor: pointer">
                <span class="template">
                  <img class="megUserImage" onError="this.src = 'assets/img/no_avatar.png'"
                       src="{{commonService.getUserThumbnail(channel.displayId)}}"/>
                </span>&nbsp;<span>{{channel.displayName}}</span>
              <span class="badge txtbadgeMessage pull-right"
                    *ngIf="channel.unreadCount > 0">{{channel.unreadCount}}</span>
            </a>
          </li>
        </ul>
      </div>
      <br/>
      <!--<div class="chanels">
        <div style="font-weight: bold; padding: 0 10px;">
          <a>Browse All</a>
        </div>
      </div>-->
    </div>
    <div class="col-md-10 col-xs-12">
      <message-panel [chatChannelData]="chatChannelData" (removeChatChannel)="getAllChatChannel()"></message-panel>
    </div>
  </form>
</kendo-dialog>
<kendo-New-channels [createChannelOpen]="createChannelOpen"
                    (closeNewChannelDialog)="closeNewChannelDialog()">
</kendo-New-channels>
<kendo-directmessage [directmessageDialogActive]="directmessageDialogActive"
                     (closeDirectmessageDialog)="closeDirectmessageDialog()">

</kendo-directmessage>
