.messgingWindow .k-window {
    height: 100vh;
    width: 100% !important;
}

.messgingWindow > .k-window-content {
    padding: 8px 0px !important;
}

.messgingWindow .k-form {
    padding: 0px !important;
}

.border-right {
    border-right: 1px solid #ccc;
}

.min-height-800 {
    min-height: 800px;
}

.calibri-20 {
    font-size: 20px;
    font-family: calibri;
}

.channel-list {
    margin-top: 10px;
    padding-left: 10px;
}

.channel-list li {
    background-color: #eee;
    list-style-type: none;
    padding: 5px;
}

.badge-design {
    background: green;
    font-size: 18px;
}

.tw-date-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    margin: 10px 0;
}

.tw-date-header__divider {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 1px;
    height: 1px;
    background-color: #d4d6db;
}

.tw-date-header__text {
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0 10px;
    color: #464c59;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
}

.tw-date-header__divider {
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 1px;
    height: 1px;
    background-color: #d4d6db;
}

.first-comment-section {
    margin: 0 5px;
}

.other-comment-section {
    margin: 15px 5px;
}

.chat-box {
    /*max-height: 520px;*/
    overflow: auto;
}

.messageChannelTask {
    border: 1px solid #e9e9e9;
    padding: 8px;
    background: #f9f9f9;
    margin: 3px 0;
    position: relative;
    display: block;
}

.messageChannelTask .btnGrouptMessage {
    position: absolute;
    top: 4px;
    right: 4px;
    display: none;
}

.messageChannelTask:hover .btnGrouptMessage {
    display: block !important;
}

.messageChannelTask .btnGrouptMessage button.btn {
    border: none;
    padding: 0px 7px !important;
    margin: 0 3px;
    width: 25px;
    height: 25px;
    background: none;
    border: 1px solid #ddd;
    color: #999;
}

.messageChannelTask .first-comment-section div input[disabled] {
    background: transparent !important;
    border: 1px solid transparent;
}

.messageChannelTask .first-comment-section div input {
    padding: 2px 8px;
    border: 1px solid #e9e9e9;
    font-size: 18px;
    outline: none !important;
    width: 100%;
    background: #fff;
}

.active {
    cursor: pointer !important;
}

.active:hover {
    cursor: pointer;
}

.messageChannelTask .first-comment-section div input:hover {
    background: #f0f0f0;
}

.formMessageChannelTask ul.channel-list {
    margin: 8px 0 0;
    padding: 0px;
}

.formMessageChannelTask ul.channel-list li {
    background: #fff;
    padding: 0px;
}

.formMessageChannelTask ul.channel-list li a {
    display: block;
    padding: 6px 3px;
    color: #656565;
}

.formMessageChannelTask ul.channel-list li a i.fa {
    background: #002d56;
    color: #fff;
    padding: 7px;
    border-radius: 50px;
    font-size: 13px;
}

.formMessageChannelTask ul.channel-list li a.active {
    background: #3c8dbc;
    color: #fff;
    cursor: default;
    cursor: pointer;
}

.formMessageChannelTask ul.channel-list li a.active i.fa {
    background: #fff;
    color: #3c8dbc;
    cursor: default;
}

.formMessageChannelTask ul.channel-list li a:hover {
    background: #3c8dbc;
    color: #fff;
}

.scrollBarMeaasgeBox {
    overflow: auto;
    height: 57vh;
}

.formMessageChannelTask {
    min-height: 100% !important;
}

.btnToggleMob {
    display: none;
}

.formMessageChannelTaskCol2 {
    min-height: 100% !important;
}

@media only screen and (max-width: 992px) {
    .formMessageChannelTask {
        min-height: 100% !important;
    }

    .btnToggleMob {
        display: block;
    }

    .formMessageChannelTaskCol2 {
        min-height: 100% !important;
        display: none;
    }

    .formMessageChannelTaskCol2.toggelChatPannelActive {
        display: block !important;
    }
}

.txtbadgeMessage {
    min-width: 25px !important;
    min-height: 25px !important;
    padding: 5px 7px !important;
    font-weight: 400 !important;
    background: #eee !important;
    color: #222;
    position: relative;
    top: 3px;
    border-radius: 50px !important;
}

.megUserImage {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 3px;
    transform: scale(1.5);
}

.formMessageChannelTaskCol2 {
    min-height: 100% !important;
    height: 100vh;
}

.checkboxPopuplopader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ddd;
    opacity: 0.4;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.imageloaderchat {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    z-index: 9999 !important;
}
