/* Contains the password input and the login button */
.lockscreen-credentials {
  margin-left: 70px;
}

.lockscreen-credentials .form-control {
  border: 0;
}

.lockscreen-credentials .btn {
  background-color: #fff;
  border: 0;
  padding: 0 10px;
}

.lockscreen-footer {
  margin-top: 10px;
}
/*
        * Page: Login & Register
        * ----------------------
        */
.login-logo,
.register-logo {
  font-size: 35px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
}

.login-logo a,
.register-logo a {
  color: #444;
}

.login-page,
.register-page {
  background: #d2d6de;
}

.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}

@media (min-width: 768px) {
  .login-box,
  .register-box {
    width: 480px;
    margin: 7% auto;
  }
}

@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}

.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}

.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}

.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}

.social-auth-links {
  margin: 10px 0;
}


.login-page {
  background: url('/assets/img/login-bg.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
}
.boxCenter {
  position: relative;
  top: 40%;
  transform: translate(0,-50%);
}
.login-logo {
  margin: 0 auto 0 auto;
  color: #fff;
  width: 343px;
}

.login-logo img {
  width: 100%;
}

.login-logo a {
  color: #fff;
}

.login-box {
  padding: 0 50px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 0px 1px 0 rgba(0, 0, 0, 0.51);
  color: #464c59;
  margin: 20px auto 20px auto;
  -webkit-transition: all 0.2s ease 0s;
  -moz-transition: all 0.2s ease 0s;
  -o-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  position: relative;
  left: 0;
}

.login-box-heading {
  text-align: left;
  margin-bottom: 30px;
}

.login-box-heading i {
  font-size: 70px;
  float: left;
  padding-right: 15px;
  color: #3c8dbc;
}

.login-box-heading span {
  font-size: 24px;
  text-align: left;
  line-height: 21px;
  padding-top: 20px;
  display: block
}

.login-box-heading span small {
  display: block;
  font-size: 14px;
}

.login-box-body {
  padding: 30px 0px 50px 0px;
}

.login-text-box input {
  height: 40px;
  border: 2px solid #ccc;
  font-size: 18px;
  margin-bottom: 30px
}

.login-text-box .form-control-feedback.fa {
  line-height: 41px;
}

.Sign-in {
  background: #3c8dbc;
  color: #fff;
  padding: 8px 0;
  font-size: 18px;
}

.Sign-in:hover {
  color: #fff;
  background: #3367d6;
}

.google-login {
  background: #4285f4;
  color: #fff;
  padding: 8px 0;
  font-size: 18px;
}

.google-login i {
  float: left;
  border-right: 1px solid #fff;
  padding: 0 16px;
  font-size: 25px;
}

.google-login:hover {
  color: #fff;
  background: #3367d6;
}

.login-link a {
  font-size: 14px;
  font-weight: 600;
}

.social-auth-links {
  margin: 10px 0;
}

.social-auth-links p {
  padding-bottom: 0px;
}


.create-heading {
  line-height: 24px !important;
  padding-top: 6px !important;
  padding-bottom: 15px;
}
.textboxImg {
  position: absolute;
  top: 11px;
  right: 10px;
  font-size: 18px;
}
.diableLogin {
  cursor:not-allowed;
  pointer-events:none;
}



.pageRedirecting {
  background: #3c8dbc;
  width: 100%;
  height: 100vh;
  display: block;
}

.pageRedirectingSub {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #fff;
}

@media only screen and (max-width:450px) {
  .pageRedirectingSub {
    font-size: 20px;
  }
}
