<div class="login-page" [style.display]="pageRedirecting? 'none':''">
  <div class="boxCenter">
    <div class="login-logo"> <a href="#"><b><img src="assets/img/mss-logo.png" /></b></a></div>

    <!-- Login Section-->
    <div class="login-box" id="Login-section" *ngIf="!resetPwd">
      <div class="login-box-body">
        <p class="login-box-heading">
          <i class="fa fa-unlock-alt" aria-hidden="true"></i>
          <span>Login <small>Please enter your credentials to login.</small></span>
        </p>
        <div *ngIf="isLoginSuccess" class="alert alert-success">Login Successfully.</div>
        <div *ngIf="isLoginFailed" class="alert alert-danger">User PIN / Password is incorrect.</div>
        <div *ngIf="isUserSettingFailed" class="alert alert-danger">Conctact to System Administrator.</div>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }" style="position: relative;">
            <input type="text" class="form-control" name="username" placeholder="User PIN / Employee ID" [(ngModel)]="model.username" #username="ngModel" required />
            <i class="fa fa-user form-control-feedback textboxImg"></i>
            <div *ngIf="f.submitted && !username.valid" class="help-block text-danger">User PIN / Employee ID is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }" style="position: relative;">
            <input type="password" class="form-control" name="password" placeholder="password" [(ngModel)]="model.password" #password="ngModel" required />
            <i class="fa fa-unlock-alt form-control-feedback textboxImg"></i>
            <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Password is required</div>
          </div>
          <div class="form-group">
            <button *ngIf="!loading" class="btn  btn-block Sign-in">Login </button>
            <button *ngIf="loading" [class.diableLogin]="loading" class="btn  btn-block Sign-in">
              <img style="height: 30px; width: 35px;transform: scale(2.5);" src="assets/img/mss-loading.svg" />
            </button>
          </div>
        </form>

        <div class="login-link">
          <a href="#" class="col-xs-12" id="reset" (click)="resetPassword($event)">Reset password</a>
        </div>

      </div>

    </div>
    <!-- logo section End -->
    <!-- Reset password section-->
    <div class="login-box resetPassword" id="resetPassword" *ngIf="resetPwd">
      <div class="login-box-body">
        <p class="login-box-heading">
          <i class="fa fa-address-card" aria-hidden="true"></i>
          <span>Reset password <small>Please enter your User PIN / Employee ID to rest your password.</small></span>
        </p>
        <form novalidate [formGroup]="resetForm" class="k-form">
          <div class=" row">
            <div class="col-md-12">
              <label class="alert alert-success" *ngIf="isResetSuceess">
                sends a confirmation email containing a validation token to their email address.
              </label>
              <label class="k-form-field">
                <span>User PIN / Employee ID<span class="k-required">*</span></span>
                <input type="text" class="k-textbox" formControlName="resetUserName"/>
                <p class="k-tooltip k-tooltip-validation"
                   [hidden]="resetForm.controls.resetUserName.valid || resetForm.controls.resetUserName.untouched">
                  User PIN / Employee ID is required
                </p>
              </label>
              <label class="k-form-field" *ngIf="errormessage != ''">
                <p class="k-tooltip k-tooltip-validation">
                  {{errormessage}}
                </p>
              </label>
            </div>
            <div class="col-xs-12">
              <button type="submit" [disabled]="!resetForm.valid" (click)="resetPasswordSubmit($event)" class="btn  btn-block Sign-in">Submit</button>
            </div>
          </div>
        </form>
        <br />
        <div class="login-link">
          <a href="#" class="col-xs-12" id="login" (click)="resetPassword($event)">log in</a>
        </div>
      </div>
    </div>
    <!-- Reset password End -->
  </div>
</div>
<!--<div class="pageRedirecting" *ngIf="pageRedirecting">
  <div class="pageRedirectingSub">
    <div class="k-icon k-i-loading" style="font-size: 42px;"></div>
    Loading...
  </div>
</div>-->

<div class="cube-wrapper" *ngIf="pageRedirecting">
  <div class="cube-folding">
    <span class="leaf1"></span>
    <span class="leaf2"></span>
    <span class="leaf3"></span>
    <span class="leaf4"></span>
  </div>
  <span class="loading" data-name="Loading">Loading</span>
</div>
