.projectfromdetails .k-window {
    width: 600px !important;
    height: auto !important;
}

.permission i {
    color: red !important;
}

.kendoControlWidth {
    width: 180px !important;
}

.taskListMultiSelect {
    width: auto;
    min-width: 200px;
}

.template {
    display: inline-block;
    color: #fff;
    border-radius: 50%;
    margin-right: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 3px;
}

.dropdown-img {
    display: inline-block;
    background: #333;
    color: #fff;
    border-radius: 50%;
    margin: 8px;
    width: 40px;
    height: 40px;
    text-align: center;
}

.dotTask {
    display: inline-block;
    background: green;
    color: #fff;
    border-radius: 50%;
    margin-right: 2px;
    width: 6px;
    height: 6px;
    text-align: center;
}

.bg-lightgreyTask {
    background: lightgrey;
}
