<style>
  .btnCustomTxtEdit {
    font-size: 16px;
    border: none;
    border-radius: 0px;
    padding: 6px 15px;
    margin: 6px 0;
  }

  .btnCustomTxtEdit.cancelBtn {
    background: tomato;
    margin-left: 6px;
  }
</style>

<ckeditor #chatckeditor [(ngModel)]="ckeditorContent"
          [config]="{
           'toolbar': [
                      { name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline' ] },
                      { name: 'paragraph',   items: [ 'NumberedList', 'BulletedList' ] },
                      { name: 'links' , items: [ 'Link','Image','Smiley' ]},
                      { name: 'colors' , items: [ 'TextColor', 'BGColor' ]},
                      '/'],
                    'removePlugins': 'elementspath',
                    'resize_enabled': false,
                    'height' : '7vh',
          'startupFocus' : true
         }"

          [readonly]="false"
>
</ckeditor>
<!--<app-demo-tinymce></app-demo-tinymce>
<editor apiKey="test" [init]="{plugins: 'link'}"></editor>  -->
<!--<textarea type="text" [(ngModel)]="ckeditorContent" [mention]="projectUserList" rows="6" [mentionConfig]="{triggerChar:'@',maxItems:10,labelKey:'name'}" style="width: 100%; resize: vertical;"></textarea>-->

<!--<button class="pull-left btn btn-xs btn-primary btnCustomTxtEdit" (click)="sendMessage()">{{buttonName}}</button>-->
<button *ngIf="isCloseHide" class="pull-left btn btn-xs btn-primary btnCustomTxtEdit cancelBtn"
        (click)="closeMessage(message)">Cancel
</button>

<!--(change)="onChange($event)"
(editorChange)="onEditorChange($event)"
(ready)="onReady($event)"
(focus)="onFocus($event)"
(blur)="onBlur($event)"
(contentDom)="onContentDom($event)"
(fileUploadRequest)="onFileUploadRequest($event)"-->
