<kendo-dialog *ngIf="isNew" (close)="closeProjectGroupForm()">
  <kendo-dialog-titlebar>
    {{ addNewProjectGroupForm ? 'Add New Project Groups' : 'Edit Project Groups' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-12">
        <label class="k-form-field">
          <span>Project Group Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="projectGroupName"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.projectGroupName.valid || editForm.controls.projectGroupName.untouched">
            Project Group Name is required
          </p>
        </label>
        <label class="k-form-field" [style.display]="addNewProjectGroupForm ? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>
  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="closeProjectGroupForm()">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="saveProjectGroupData()">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
