<style>
  .txtRole {
    font-weight: bold;
    color: #3c8dbc;
  }

  .helpButton {
    top: 0px !important;
  }

  @media only screen and (min-width: 1730px) {
    .siteSelectBox {
      position: relative;
      left: 0;
      z-index: 111;
    }
  }
</style>



<div>
  <div class="col-md-6 col-xs-12">
    <h3 style="margin: 0;"> {{page}} </h3>
  </div>

  <div class="col-md-6 col-sm-6 col-xs-8 siteSelectBox">
    <div style="float: right;position: relative">
      <div *ngIf="siteSaving == true" style="position: absolute; top: 4px; left: -80px;">
        <a style="">Updating...</a>
      </div>
      <div class="">
        <label class="" style="font-weight: bold; margin-top: 5px; float: left;">Site: </label>
        <kendo-dropdownlist name="currentSiteId"
                            [(ngModel)]="currentSiteId"
                            [ngModelOptions]="{standalone: true}"
                            [data]="siteList"
                            [textField]="'text'"
                            [valueField]="'value'"
                            required
                            [valuePrimitive]="true"
                            class="kendoControlWidth pull-left"
                            [filterable]="true"
                            (selectionChange)="onSiteSelectionChange($event)"
                            [disabled]="!currentToolUserSetting?.canToggleSites"
                            >
        </kendo-dropdownlist>

      </div>
    </div>
  </div>
   
</div>

<div class="clearfix"></div>
