.k-checkbox-group {
    border: 1px solid #eeeeee;
    padding: 8px 10px !important;
}
.k-checkbox-m-l {
    margin-left: 6px;
}

.k-grid .k-grid-aria-root {
  overflow-x: scroll !important;
}
.k-dialog {
  min-width: 600px !important;
}
