<kendo-dialog *ngIf="openInputDialog" (close)="closeForm()">
  <kendo-dialog-titlebar>
    Add Record
  </kendo-dialog-titlebar>
  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-6 col-sm-12">
        <label class="k-form-field">
          <span>Labor Item <span class="k-required">*</span></span>
          <kendo-dropdownlist class="col-sm-4" [data]="laborTypeList"
                              (valueChange)="showLaborTypeDropdown($event)"
                              formControlName="laborType"
                              [valuePrimitive]="true"
                              [textField]="'text'"
                              required
                              class="kendoControlWidth"
                              [valueField]="'value'">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.laborType.valid || editForm.controls.laborType.untouched">
            Labor Item is required
          </p>
        </label>
        <label class="k-form-field">
          <span>Department <span class="k-required">*</span></span>
          <kendo-dropdownlist class="col-sm-4" [data]="deptList"
                              formControlName="department"
                              [valuePrimitive]="true"
                              [textField]="'text'"
                              class="kendoControlWidth"
                              (valueChange)="loadDataOnDeptChange($event)"
                              [valueField]="'value'">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.department.valid || editForm.controls.department.untouched">
            Department is required
          </p>
        </label>

        <label class="k-form-field">
          <span>Labor Station</span>
          <input type="text" class="k-textbox" formControlName="station"/>
        </label>

        <label class="k-form-field">
          <span>Hours <span class="k-required">*</span></span>
          <input type="number" class="k-textbox" formControlName="hours"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.hours.valid || editForm.controls.hours.untouched">
            Labor Hours are required
          </p>
        </label>
        <label class="k-form-field">
          <span>Confirmed</span>
          <kendo-switch formControlName="confirmed">
          </kendo-switch>
        </label>

      </div>
      <div class="col-md-6 col-sm-12">
        <label *ngIf="showToolDropdown" class="k-form-field">
          <span>Tool <span class="k-required">*</span></span>
          <kendo-dropdownlist class="col-sm-4" [data]="toolList"
                              formControlName="toolId"
                              [valuePrimitive]="true"
                              [textField]="'text'"
                              class="kendoControlWidth"
                              [valueField]="'value'">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.toolId.valid || editForm.controls.toolId.untouched">
            Tool is required
          </p>
        </label>
        <label *ngIf="showPartDropdown" class="k-form-field">
          <span>Part <span class="k-required">*</span></span>
          <kendo-dropdownlist class="col-sm-4" [data]="partList"
                              formControlName="partId"
                              [valuePrimitive]="true"
                              [textField]="'text'"
                              class="kendoControlWidth"
                              [valueField]="'value'">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.partId.valid || editForm.controls.partId.untouched">
            Part is required
          </p>
        </label>
        <label class="k-form-field">
          <span>Process</span>
          <kendo-dropdownlist class="col-sm-4" [data]="processList"
                              formControlName="processId"
                              [valuePrimitive]="true"
                              [textField]="'processName'"
                              class="kendoControlWidth"
                              [valueField]="'processId'">
          </kendo-dropdownlist>
        </label>

        <label class="k-form-field">
          <span>Labor Detail</span>
          <input type="text" class="k-textbox" formControlName="detail"/>
        </label>
        <label class="k-form-field">
          <span>Labor Requisition</span>
          <input type="text" class="k-textbox" formControlName="requisition"/>
        </label>

        <label class="k-form-field">
          <span>Work Date <span class="k-required">*</span></span>
          <kendo-datepicker formControlName="workDate"
                            [format]="'dd-MMM-yyyy'"
                            [(value)]="currentDate"
                            class="kendoControlWidth"></kendo-datepicker>

        </label>
      </div>
    </div>
  </form>
  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button *ngIf="!exclusionLoading" class="k-button k-primary" [disabled]="!editForm.valid"
            (click)="saveHandler($event)">Save
    </button>
    <button *ngIf="exclusionLoading" class="btn btn-primary Sign-in" style="width: 50%;">
      <img style="height: 30px; width: 35px; transform: scale(2.5);" src="assets/img/mss-loading.svg"/>
    </button>
  </kendo-dialog-actions>

</kendo-dialog>