<kendo-dialog *ngIf="openLaborDialog" (close)="closeForm()">
  <kendo-dialog-titlebar>
    Labor Reporting
  </kendo-dialog-titlebar>

  <div class="row">
    <div class="col-xs-12">
      <div class="table-responsive" id="divManufacturerList">
        <div class="">
          <div class="col-lg-12" style="padding: 0px;">

            <kendo-grid [data]="gridView" [filterable]="true" [filter]="state.filter" [pageSize]="pageSize"
                        [skip]="skip" [pageable]="true"
                        [sortable]="{ mode: 'single' }" (pageChange)="pageChange($event)" (add)="addHandler($event)"
                        (edit)="editHandler($event)"
                        (cancel)="cancelHandler($event)" (save)="saveHandler($event)" [sort]="sort"
                        (sortChange)="sortChange($event)"
                        (search)="saveHandler($event)" (remove)="removeHandler($event)" scrollable="true"
                        [class.gridLoaderDiv]="gridLoading">

              <ng-template kendoGridToolbarTemplate>
                <div *ngIf="gridLoading == true" class="Gridloader"></div>

                <div class="row">
                  <div class="col-md-6">
                    <button kendoGridAddCommand>Add new</button>
                  </div>
                  <div class="col-md-6">
                    <label class="k-form-field pull-right">
                        <span>Work Date
                          <span class="k-required">*</span>
                        </span>
                      <kendo-datepicker [format]="'dd-MMM-yyyy'" [(value)]="selectedWorkDate"
                                        (valueChange)="onWorkDateChange($event)"
                                        class="kendoControlWidth"></kendo-datepicker>
                    </label>
                  </div>
                </div>
                <div class="row">

                </div>

              </ng-template>

              <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                <kendo-pager-info></kendo-pager-info>
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
              </ng-template>
              <kendo-grid-column [filterable]="false" field="laborType" title="Type">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    {{dataItem.laborType}}
                  </div>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                             let-formGroup="formGroup">
                  <div *ngIf="!isNew">
                    {{dataItem.laborType}}
                  </div>
                  <kendo-dropdownlist *ngIf="isNew" class="col-sm-4"

                                      [data]="laborTypeList" (valueChange)="showLaborTypeDropdown($event)"
                                      [formControl]="formGroup.get('laborType')"
                                      [valuePrimitive]="true" [textField]="'text'" class="kendoControlWidth"
                                      [valueField]="'value'">
                  </kendo-dropdownlist>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column [filterable]="false" field="itemId" title="Item">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    {{dataItem.item}}
                  </div>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                             let-formGroup="formGroup">
                  <div *ngIf="showPartDropdown">
                    <kendo-dropdownlist [data]="partList" [valuePrimitive]="true" [textField]="'text'" required
                                        class="kendoControlWidth"
                                        [valueField]="'value'" [formControl]="formGroup.get('itemId')">
                    </kendo-dropdownlist>
                  </div>
                  <div *ngIf="showToolDropdown">
                    <kendo-dropdownlist [data]="toolList" [valuePrimitive]="true" [textField]="'text'" required
                                        class="kendoControlWidth" [valueField]="'value'"
                                        [formControl]="formGroup.get('itemId')">
                    </kendo-dropdownlist>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column [filterable]="false" field="departmentId" title="Department">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    {{dataItem.departmentName}}
                  </div>

                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                             let-formGroup="formGroup">
                  <kendo-dropdownlist #ddl="popupAnchor" popupAnchor [data]="deptList"
                                      (valueChange)="loadDataOnDeptChange($event)" [valuePrimitive]="true"
                                      [textField]="'text'" required class="kendoControlWidth" [valueField]="'value'"
                                      [formControl]="formGroup.get('departmentId')">
                  </kendo-dropdownlist>
                  <kendo-popup [anchor]="ddl.element"
                               *ngIf="formGroup.get(column.field).invalid && !(isNew && formGroup.get(column.field).untouched)"
                               popupClass="k-widget k-tooltip k-tooltip-validation k-invalid-msg">
                    <span class="k-icon k-i-warning"></span>
                    Department is required
                  </kendo-popup>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="processId" [filterable]="false" title="Prcoess">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    {{dataItem.processName}}
                  </div>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                             let-formGroup="formGroup">
                  <kendo-dropdownlist [data]="processList" [valuePrimitive]="true" [textField]="'processName'"
                                      class="kendoControlWidth"
                                      [valueField]="'processId'" [formControl]="formGroup.get('processId')">
                  </kendo-dropdownlist>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="station" title="Station" [filterable]="false" width="80%">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    <span>{{dataItem.station}}</span>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="detail" title="Detail" [filterable]="false" width="80%">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    {{dataItem.detail}}
                  </div>

                </ng-template>
                <ng-template kendoGridEditTemplate let-column="column" let-formGroup="formGroup" let-isNew="isNew">
                  <input class="k-textbox" [formControl]="formGroup.get(column.field)">
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="requisition" title="Requisition" [filterable]="false" width="80%">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    <span>{{dataItem.requisition}}</span>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="hours" title="Hours" [filterable]="false" width="80%">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    <span>{{dataItem.hours}}</span>
                  </div>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column field="confirmed" title="Confirmed" [filterable]="false" width="80%">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    <i aria-hidden="true" *ngIf="!dataItem.confirmed" class="fa fa-times" style="color: red;"></i>
                    <i aria-hidden="true" *ngIf="dataItem.confirmed" class="fa fa-check" style="color: green;"></i>
                  </div>
                </ng-template>
                <ng-template kendoGridEditTemplate let-dataItem="dataItem" let-column="column"
                             let-formGroup="formGroup">
                  <kendo-switch [formControl]="formGroup.get(column.field)"></kendo-switch>
                </ng-template>
              </kendo-grid-column>
              <kendo-grid-command-column title="" width="220">
                <ng-template kendoGridCellTemplate let-isNew="isNew">
                  <button kendoGridEditCommand>Edit</button>
                  <button kendoGridRemoveCommand>Remove</button>
                  <button *ngIf="!savingData" kendoGridSaveCommand [disabled]="formGroup?.invalid">{{ isNew ? 'Add' :
                    'Update' }}
                  </button>
                  <button class="btn btn-primary" *ngIf="savingData" kendoGridSaveCommand [disabled]="true">Saving
                  </button>
                  <button kendoGridCancelCommand>{{ isNew ? 'Discard changes' : 'Cancel' }}</button>
                </ng-template>
              </kendo-grid-command-column>
            </kendo-grid>


          </div>
        </div>
      </div>
    </div>
  </div>

  <kendo-input-labor-form [openInputDialog]="openInputDialog" (cancel)="closeLaborInputDialog()">
  </kendo-input-labor-form>
  <div class="example-wrapper">

    <kendo-dialog title="Please Confirm" *ngIf="openDeleteDialog" (close)="close(false)" [minWidth]="250" [width]="450">
      <p style="margin: 30px; text-align: center;">Are you sure you want to delete ?</p>
      <kendo-dialog-actions>
        <button kendoButton (click)="close(false)">No</button>
        <button *ngIf="!showLoadingSpinner" kendoButton (click)="close(true)" primary="true">Yes</button>
        <button *ngIf="showLoadingSpinner" class="btn btn-primary Sign-in" style="width: 50%;">
          <img style="height: 30px; width: 35px; transform: scale(2.5);" src="assets/img/mss-loading.svg"/>
        </button>
      </kendo-dialog-actions>
    </kendo-dialog>
  </div>