<kendo-dialog [width]="850" *ngIf="openRequisitionWorkDialog" (close)="closeForm()">
  <kendo-dialog-titlebar>
    Requisition work
  </kendo-dialog-titlebar>
  <form style="padding-bottom:0;padding-top: 0;" novalidate [formGroup]="editForm" class="k-form">
    <div class="row">
      <div style="padding:0px;" class="panel panel-info col-md-7 col-sm-12 no-padding">
        <div class="panel-heading">Tool Building Tracking</div>

        <div class="panel-body">
          <div class="col-md-12 col-sm-12">
            <table class="col-md-12 col-sm-12">
              <tr>
                <td>
                  <b>Req#: </b>{{requisitionDetailDto.requisitionId}}
                </td>
                <td></td>
                <td></td>
                <td>
                  <b>Tool: </b>{{requisitionDetailDto.toolNumber}}
                </td>
                <td></td>
                <td></td>
                <td>
                  <b>Station: </b>{{requisitionDetailDto.station}}
                </td>
                <td></td>
                <td></td>
                <td>
                  <b>Detail: </b>{{requisitionDetailDto.detail}}
                </td>
              </tr>
            </table>
          </div>
          <hr/>
          <div style="margin-top:5px;padding:0px;" class="col-md-12">
            <kendo-grid [data]="gridView" [filterable]="false" [filter]="state.filter" [pageSize]="pageSize"
                        [skip]="skip" [pageable]="true"
                        [sortable]="{ mode: 'single' }" (pageChange)="pageChange($event)" (add)="addHandler($event)"
                        (edit)="editHandler($event)"
                        (cancel)="cancelHandler($event)" (save)="saveHandler($event)" [sort]="sort"
                        (sortChange)="sortChange($event)"
                        (search)="saveHandler($event)" (remove)="removeHandler($event)" scrollable="true"
                        [class.gridLoaderDiv]="gridLoading">

              <ng-template>
                <div *ngIf="gridLoading == true" class="Gridloader"></div>
              </ng-template>

              <ng-template kendoPagerTemplate let-totalPages="totalPages" let-currentPage="currentPage">
                <kendo-pager-info></kendo-pager-info>
                <kendo-pager-prev-buttons></kendo-pager-prev-buttons>
                <kendo-pager-next-buttons></kendo-pager-next-buttons>
                <kendo-pager-page-sizes [pageSizes]="[5, 10,20, 40]"></kendo-pager-page-sizes>
              </ng-template>

              <kendo-grid-column [filterable]="false" field="processName" title="Process">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    {{dataItem.processName}}
                  </div>

                </ng-template>
              </kendo-grid-column>
              <kendo-grid-column [filterable]="false" field="quantityInProcess" title="Quantity at Process">
                <ng-template kendoGridCellTemplate let-dataItem>
                  <div>
                    {{dataItem.quantityInProcess}}
                  </div>

                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
          </div>
        </div>
      </div>
      <div style="padding:0px;margin-left:12px;width:40%;" class="col-md-5">
        <div class="panel panel-info">
          <div class="panel-heading">Quantity</div>
          <div class="panel-body">
            <table class="col-md-12 col-sm-12">
              <td>
                <b>Ordered: </b>{{requisitionDetailDto.quantityOrdered}}
              </td>
              <td></td>
              <td></td>
              <td>
                <b>Completed: </b>{{requisitionDetailDto.quantityCompleted}}
              </td>
              <td></td>
              <td></td>
              <td>
                <b>Open: </b>{{requisitionDetailDto.quantityOrdered - requisitionDetailDto.quantityCompleted}}
              </td>
            </table>
          </div>
        </div>
        <div class="panel panel-info">
          <div class="panel-heading">Operation</div>
          <div class="panel-body">
            <div class="col-md-12">
              <form [formGroup]="editForm" class="k-form">
                <label>
                            <span>
                                Quantity:
                                    <span class="k-required">*</span>

                                <input type="number" formControlName="quantity"/>
                                <p class="k-tooltip k-tooltip-validation"
                                   [hidden]="editForm.controls.quantity.valid || editForm.controls.quantity.untouched">
                                    Trans Type is required
                                </p>
                            </span>
                </label>
                <label class="k-form-field">
                            <span>Trans Type
                                <span class="k-required">*</span>
                            </span>
                  <kendo-dropdownlist class="col-sm-4"
                                      [data]="transactionTypeFilterList"
                                      (valueChange)="loadXferTo($event)"
                                      formControlName="transactionType"
                                      [valuePrimitive]="true"
                                      [textField]="'text'" required class="kendoControlWidth" [valueField]="'value'"
                                      [filterable]="true" (filterChange)="transtypeHandleFilter($event)">
                  </kendo-dropdownlist>
                  <p class="k-tooltip k-tooltip-validation"
                     [hidden]="editForm.controls.transactionType.valid || editForm.controls.transactionType.untouched">
                    Trans Type is required
                  </p>
                </label>
                <label class="k-form-field">
                  <span>Process</span>
                  <kendo-dropdownlist class="col-sm-4" [data]="processFilterList" formControlName="processId"
                                      [valuePrimitive]="true" [textField]="'text'"
                                      class="kendoControlWidth" [valueField]="'value'"
                                      [filterable]="true" (filterChange)="processHandleFilter($event)">
                  </kendo-dropdownlist>

                </label>
                <label *ngIf="showXferTo" class="k-form-field">
                  <span>Xfer to</span>
                  <kendo-dropdownlist class="col-sm-4" [data]="xferToFilterList" formControlName="transferToProcessId"
                                      [valuePrimitive]="true" [textField]="'text'"
                                      class="kendoControlWidth" [valueField]="'value'"
                                      [filterable]="true" (filterChange)="xferToHandleFilter($event)">
                  </kendo-dropdownlist>

                </label>
                <button class="k-button" (click)="cancelForm($event)">Reset</button>
                <button *ngIf="!isSubmitted" class="k-button k-primary" [disabled]="!editForm.valid"
                        (click)="saveHandler($event)">Save
                </button>
                <button *ngIf="isSubmitted" disabled class="k-button k-primary">Saving</button>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


</kendo-dialog>
