<aside class="main-sidebar">
  <div class="EQM_logo">EQM</div>
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar left-sidebar">

    <ul class="sidebar-menu" data-widget="tree">
      <!--<shared-nav-menu>Loading....</shared-nav-menu>-->
      <li>
        <a href="javascript:void(0);">
          <i class="fa fa-bell"></i> <span>Notifications</span>
        </a>
      </li>
      <li>
        <a href="javascript:void(0);">
          <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
      </li>

      <li class="treeview" [class.active]="treeViewActive">
        <a href="javascript:void(0);">
          <i class="fa fa-table"></i> <span style="top: 5px">SysAdmin</span>

        </a>
        <ul class="treeview-menu">
          <li ><a [routerLink]="['/sysadmin/user']" (click)="activeMenu('user')"><i class="fa fa-circle-o"></i> Manage Users</a></li>
          <li ><a [routerLink]="['/sysadmin/userrole']" (click)="activeMenu('userrole')"><i class="fa fa-circle-o"></i> Manage Roles</a></li>
          <li ><a [routerLink]="['/sysadmin/usertype']" (click)="activeMenu('usertype')"><i class="fa fa-circle-o"></i> Manage User Types</a></li>
        </ul>
      </li>
    </ul>

  </section>
  <!-- /.sidebar -->
</aside>
