.treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}

.treeview-menu {
  padding: 0px 5px !important;
}

/*.k-dialog {
  min-width: 600px !important;
}*/

/*.content-wrapper {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
  height: 93.8vh;
  padding: 15px;
  overflow: auto;
  padding-bottom: 50px;
}*/
