<div class="skin-blue sidebar-mini" [ngClass]="{'sidebar-collapse':globals.toogleMenu}">
  <div class='wrapper' style="height: auto; min-height: 100%;" id="contentWrapperDiv">

    <app-header id="headerHeight"></app-header>
    <app-sysadmin-navmenu (click)="hideRightMenu()"></app-sysadmin-navmenu>

    <div class="content-wrapper" id="contentWrapper" (click)="hideRightMenu()">
      <toaster-container [toasterconfig]="toasterconfig"></toaster-container>
      <router-outlet></router-outlet>
    </div>

    <app-footer ></app-footer>

  </div>
   
</div>
