﻿<kendo-dialog *ngIf="active" (close)="closeForm()">
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new Status' : 'Edit Status' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-12">
        <label class="k-form-field">
          <span>Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="name"/>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.name.valid || editForm.controls.name.untouched">
            Name is required
          </p>
        </label>
        <label class="k-form-field">
          <span>Description</span>
          <input type="text" class="k-textbox" formControlName="description"/>
        </label>
        <label class="k-form-field">
          <span>Origination Status for</span>
          <span class="k-checkbox-group">
            <input type="checkbox" id="Internal" formControlName="isInternal" value="false"
                   class="k-checkbox">
            <label class="k-checkbox-label" for="Internal">&nbsp; Internal</label>
            <input type="checkbox" id="External" formControlName="isExternal" value="false"
                   class="k-checkbox">
            <label class="k-checkbox-label k-checkbox-m-l" for="External">&nbsp; External</label>
            <input type="checkbox" id="PMS" formControlName="isPMS" value="false" class="k-checkbox">
            <label class="k-checkbox-label" for="PMS">&nbsp; PMS</label>
                    </span>

        </label>
        <label class="k-form-field">
          <input type="checkbox" id="canClose" formControlName="canClose" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="canClose">&nbsp; Can Close</label>
          <input type="checkbox" id="Assigned" formControlName="isAssigned" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="Assigned">&nbsp; Assigned</label>
        </label>
        <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
          <input type="checkbox" id="active" formControlName="active" value="false" class="k-checkbox">
          <label class="k-checkbox-label" for="active">&nbsp; Active</label>
        </label>
      </div>
    </div>

  </form>

  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>