/* You can add global styles to this file, and also import other style files */

//@import "~@progress/kendo-theme-default/scss/all";

@import 'variables';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import 'assets/css/variables.scss';
@import 'assets/css/kendoStyle.css';
@import '../node_modules/font-awesome/scss/font-awesome';
@import '../node_modules/angular2-toaster/toaster.css';
@import 'assets/css/site.css';
.treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
}

.treeview-menu {
  padding: 0px 5px !important;
}

.kendoControlWidth {
  width: 180px !important;
}


.content-wrapper {
  min-height: 100%;
  background-color: #ecf0f5;
  z-index: 800;
  height: 93.8vh;
  padding: 15px;
  overflow: auto;
  padding-bottom: 50px;
}

li {
  .glyphicon {
    margin-right: 10px;
  }

  &.link-active a {
    /*background-color: none;*/
    background-color: #4189C7;
    color: white;

    &:hover, &:focus {
      background-color: #4189C7;
      color: white;
    }
  }
}

/* Highlighting rules for nav menu items */
/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

@media (min-width: 768px) {
  /* On small screens, convert the nav menu to a vertical sidebar */
  .main-nav {
    height: 100%;
    width: calc(25% - 20px);
  }

  .navbar {
    border-radius: 0px;
    border-width: 0px;
    height: 100%;
  }

  .navbar-header {
    float: none;
  }

  .navbar-collapse {
    border-top: 1px solid #444;
    padding: 0px;
  }

  .navbar {
    ul {
      float: none;
    }

    li {
      float: none;
      font-size: 15px;
      /*margin: 3px;*/
      a {
        padding: 10px 16px;
        border-radius: 4px;
        cursor: pointer;
      }
    }

    a {
      /* If a menu item's text is too long, truncate it */
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.EQM_logo {
  color: white;
  font-size: 18px;
  padding: 15px 4px;
  height: 50px;
}

/*
   * Component: Sidebar
   * ------------------
   */

.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  width: 230px;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

@media (max-width: 767px) {
  .main-sidebar {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .main-sidebar {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}

@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}

@media (max-width: 767px) {
  .sidebar-open .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.sidebar {
  padding-bottom: 10px;
}

.sidebar-form input:focus {
  border-color: transparent;
}

@media (min-width: 768px) {
  .sidebar-collapse {
    .content-wrapper, .main-footer {
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .sidebar-open {
    .content-wrapper, .main-footer {
      -webkit-transform: translate(230px, 0);
      -ms-transform: translate(230px, 0);
      -o-transform: translate(230px, 0);
      transform: translate(230px, 0);
    }
  }
}

.main-header .sidebar-toggle {
  float: left;
  background-color: transparent;
  background-image: none;
  padding: 20px 15px;
  font-family: fontAwesome;

  &:before {
    content: "\f0c9";
  }

  &:hover {
    color: #fff;
  }

  &:focus, &:active {
    background: transparent;
  }

  .icon-bar {
    display: none;
  }
}

@media (max-width: 767px) {
  .main-sidebar {
    padding-top: 100px;
  }
}

@media (max-width: 767px) {
  .main-sidebar {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;

  > li {
    position: relative;
    margin: 0;
    padding: 0;

    > a {
      padding: 12px 5px 12px 15px;
      display: block;

      > {
        .fa, .glyphicon, .ion {
          width: 20px;
        }
      }
    }

    .label {
      margin-right: 5px;
    }

    .badge {
      margin-right: 5px;
      margin-top: 3px;
    }
  }

  li {
    &.header {
      padding: 10px 25px 10px 15px;
      font-size: 12px;
    }

    > a > {
      .fa-angle-left, .pull-right-container > .fa-angle-left {
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 10px;
        -webkit-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
      }

      .fa-angle-left {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -8px;
      }
    }
  }

  .menu-open > a > {
    .fa-angle-left, .pull-right-container > .fa-angle-left {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }

  .active > .treeview-menu {
    display: block;
  }
}

/*
   * Component: Sidebar Mini
   */
@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse {
    .content-wrapper, .right-side, .main-footer {
      margin-left: 50px !important;
      z-index: 840;
    }

    .main-sidebar {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      width: 50px !important;
      z-index: 850;
    }

    .sidebar-menu > li {
      position: relative;

      > a {
        margin-right: 0;

        > span {
          border-top-right-radius: 4px;
        }
      }

      &:not(.treeview) > a > span {
        border-bottom-right-radius: 4px;
      }

      > .treeview-menu {
        padding-top: 5px;
        padding-bottom: 5px;
        border-bottom-right-radius: 4px;
      }
    }

    .main-sidebar .user-panel > .info, .sidebar-form {
      display: none !important;
      -webkit-transform: translateZ(0);
    }

    .sidebar-menu {
      > li > {
        a > span, .treeview-menu, a > .pull-right {
          display: none !important;
          -webkit-transform: translateZ(0);
        }
      }

      li.header {
        display: none !important;
        -webkit-transform: translateZ(0);
      }
    }

    .main-header {
      .logo {
        width: 50px;

        > {
          .logo-mini {
            display: block;
            margin-left: -15px;
            margin-right: -15px;
            font-size: 18px;
          }

          .logo-lg {
            display: none;
          }
        }
      }

      .navbar {
        margin-left: 50px;
      }
    }
  }
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > {
  a > {
    span {
      top: 0;
      margin-left: -3px;
      padding: 12px 5px 12px 20px;
      background-color: inherit;
    }

    .pull-right-container > .label:not(:first-of-type) {
      display: none;
    }
  }

  .treeview-menu {
    top: 42px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > li:hover > {
    a > span:not(.pull-right), .treeview-menu {
      display: block !important;
      position: absolute;
      width: 210px;
      left: 50px;
    }

    a > .pull-right-container {
      position: relative !important;
      float: right;
      width: auto !important;
      left: 180px !important;
      top: -22px !important;
      z-index: 900;
    }
  }
}

.sidebar-expanded-on-hover {
  .main-footer, .content-wrapper {
    margin-left: 50px;
  }

  .main-sidebar {
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.125);
  }
}

.sidebar-menu, .main-sidebar .user-panel {
  white-space: nowrap;
  overflow: hidden;
}

.sidebar-menu {
  > li.header {
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    overflow: visible;
  }
}

.sidebar-form {
  overflow: hidden;
  text-overflow: clip;
}

.sidebar-menu {
  > li.header {
    overflow: hidden;
    text-overflow: clip;
  }

  li > a {
    position: relative;

    > .pull-right-container {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -7px;
    }
  }
}

/*
   * Component: Control sidebar. By default, this is the right sidebar.
   */

.control-sidebar-bg {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  top: 0;
  right: -230px;
  width: 230px;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}

.control-sidebar {
  top: 0;
  right: -230px;
  width: 230px;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  position: absolute;
  padding-top: 50px;
  z-index: 1010;

  > .tab-content {
    padding: 10px 15px;
  }

  &.control-sidebar-open {
    right: 0;

    + .control-sidebar-bg {
      right: 0;
    }
  }
}

@media (max-width: 768px) {
  .control-sidebar {
    padding-top: 100px;
  }
}

.control-sidebar-open {
  .control-sidebar-bg, .control-sidebar {
    right: 0;
  }
}

@media (min-width: 768px) {
  .control-sidebar-open {
    .content-wrapper, .right-side, .main-footer {
      margin-right: 230px;
    }
  }
}

.fixed .control-sidebar {
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 50px;
}

.nav-tabs.control-sidebar-tabs > li {
  &:first-of-type > a {
    border-left-width: 0;

    &:hover, &:focus {
      border-left-width: 0;
    }
  }

  > a {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &:hover {
      border-top: none;
      border-right: none;
      border-left: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }

    .icon {
      font-size: 16px;
    }
  }

  &.active > a {
    border-top: none;
    border-right: none;
    border-bottom: none;

    &:hover, &:focus, &:active {
      border-top: none;
      border-right: none;
      border-bottom: none;
    }
  }
}

@media (max-width: 768px) {
  .nav-tabs.control-sidebar-tabs {
    display: table;

    > li {
      display: table-cell;
    }
  }
}

.control-sidebar-heading {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.control-sidebar-subheading {
  display: block;
  font-weight: 400;
  font-size: 14px;
}

.control-sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0 -15px;

  > li > a {
    display: block;
    padding: 10px 15px;

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    > .control-sidebar-subheading {
      margin-top: 0;
    }
  }

  .menu-icon {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
  }

  .menu-info {
    margin-left: 45px;
    margin-top: 3px;

    > {
      .control-sidebar-subheading {
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 11px;
      }
    }
  }

  .progress {
    margin: 0;
  }
}

.control-sidebar-dark {
  color: #b8c7ce;
  background: #222d32;

  + .control-sidebar-bg {
    background: #222d32;
  }

  .nav-tabs.control-sidebar-tabs {
    border-bottom: #1c2529;

    > li {
      > a {
        background: #181f23;
        color: #b8c7ce;
        border-left-color: #141a1d;
        border-bottom-color: #141a1d;

        &:hover, &:focus {
          border-left-color: #141a1d;
          border-bottom-color: #141a1d;
        }

        &:hover, &:focus, &:active {
          background: #1c2529;
        }

        &:hover {
          color: #fff;
        }
      }

      &.active > a {
        background: #222d32;
        color: #fff;

        &:hover, &:focus, &:active {
          background: #222d32;
          color: #fff;
        }
      }
    }
  }

  .control-sidebar-heading, .control-sidebar-subheading {
    color: #fff;
  }

  .control-sidebar-menu > li > a {
    &:hover {
      background: #1e282c;
    }

    .menu-info > p {
      color: #b8c7ce;
    }
  }
}

.control-sidebar-light {
  color: #5e5e5e;
  background: #f9fafc;
  border-left: 1px solid #d2d6de;

  + .control-sidebar-bg {
    background: #f9fafc;
    border-left: 1px solid #d2d6de;
  }

  .nav-tabs.control-sidebar-tabs {
    border-bottom: #d2d6de;

    > li {
      > a {
        background: #e8ecf4;
        color: #444444;
        border-left-color: #d2d6de;
        border-bottom-color: #d2d6de;

        &:hover, &:focus {
          border-left-color: #d2d6de;
          border-bottom-color: #d2d6de;
        }

        &:hover, &:focus, &:active {
          background: #eff1f7;
        }
      }

      &.active > a {
        background: #f9fafc;
        color: #111;

        &:hover, &:focus, &:active {
          background: #f9fafc;
          color: #111;
        }
      }
    }
  }

  .control-sidebar-heading, .control-sidebar-subheading {
    color: #111;
  }

  .control-sidebar-menu {
    margin-left: -14px;

    > li > a {
      &:hover {
        background: #f4f4f5;
      }

      .menu-info > p {
        color: #5e5e5e;
      }
    }
  }
}

@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}

@media (max-width: 767px) {
  .sidebar-open .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

.sidebar {
  padding-bottom: 10px;
}

.sidebar-form input:focus {
  border-color: transparent;
}

.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  > {
    .image > img {
      width: 100%;
      max-width: 45px;
      height: auto;
    }

    .info {
      padding: 5px 5px 5px 15px;
      line-height: 1;
      position: absolute;
      left: 55px;

      > {
        p {
          font-weight: 600;
          margin-bottom: 9px;
        }

        a {
          text-decoration: none;
          padding-right: 5px;
          margin-top: 3px;
          font-size: 11px;

          > {
            .fa, .ion, .glyphicon {
              margin-right: 3px;
            }
          }
        }
      }
    }
  }
}

/*Header Menu*/

body {
}

.heading {
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  margin-left: -35px;
  background-color: #3c8dbc;
  padding-left: 9px;
  color: white;
}

.tag-line {
  font-size: 25px;
  line-height: 60px;
  color: #fff;
}

/*
   * Component: Main Header
   * ----------------------
   */

.main-header {
  position: relative;
  max-height: 100px;
  z-index: 1030;

  .navbar {
    -webkit-transition: margin-left 0.3s ease-in-out;
    -o-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 60px;
    border-radius: 0;
  }
}

.layout-top-nav .main-header .navbar {
  margin-left: 0;
}

.main-header {
  #navbar-search-input.form-control {
    background: rgba(255, 255, 255, 0.2);
    border-color: transparent;

    &:focus, &:active {
      border-color: rgba(0, 0, 0, 0.1);
      background: rgba(255, 255, 255, 0.9);
    }

    &::-moz-placeholder {
      color: #ccc;
      opacity: 1;
    }

    &:-ms-input-placeholder, &::-webkit-input-placeholder {
      color: #ccc;
    }
  }

  .navbar-custom-menu, .navbar-right {
    float: right;
  }

  .sidebar-toggle {
    &:before {
      content: "\f0c9";
    }

    &:hover {
      color: #fff;
    }

    &:focus, &:active {
      background: transparent;
    }

    .icon-bar {
      display: none;
    }
  }

  .navbar .nav > li {
    &.user > a > {
      .fa, .glyphicon, .ion {
        margin-right: 5px;
      }
    }

    > a > .label {
      position: absolute;
      top: 9px;
      right: 7px;
      text-align: center;
      font-size: 9px;
      padding: 2px 3px;
      line-height: .9;
    }
  }

  .logo {
    -webkit-transition: width 0.3s ease-in-out;
    -o-transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    display: block;
    float: left;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    width: 230px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 6px 15px;
    font-weight: 300;
    overflow: hidden;

    .logo-lg {
      display: block;
    }

    .logo-mini {
      display: none;
    }
  }

  .navbar-brand {
    color: #fff;
  }
}

@media (max-width: 767px) {
  .main-header .navbar-right {
    float: none;
  }

  .navbar-collapse .main-header .navbar-right {
    margin: 7.5px -15px;
  }

  .main-header .navbar-right > li {
    color: inherit;
    border: 0;
  }
}

.content-header {
  position: relative;
  padding: 15px 15px 0 15px;

  > {
    h1 {
      margin: 0;
      font-size: 24px;

      > small {
        font-size: 15px;
        display: inline-block;
        padding-left: 4px;
        font-weight: 300;
      }
    }

    .breadcrumb {
      float: right;
      background: transparent;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 12px;
      padding: 7px 5px;
      position: absolute;
      top: 15px;
      right: 35px;
      border-radius: 2px;

      > li {
        > a {
          color: #444;
          text-decoration: none;
          display: inline-block;
          font-size: 14px;
          position: relative;
          right: 4px;

          > {
            .fa, .glyphicon, .ion {
              margin-right: 5px;
            }
          }
        }

        + li:before {
          content: '>\00a0';
        }
      }
    }
  }
}

.breadcrumb > .active {
  color: #777;
}

@media (max-width: 991px) {
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #d2d6de;
    padding-left: 10px;

    li:before {
      color: #97a0b3;
    }
  }
}

.navbar-toggle {
  color: #fff;
  border: 0;
  margin: 0;
  padding: 15px 15px;
}

@media (max-width: 991px) {
  .navbar-custom-menu .navbar-nav {
    > li {
      float: left;

      > a {
        padding-top: 15px;
        padding-bottom: 15px;
        line-height: 20px;
      }
    }

    margin: 0;
    float: left;
  }
}

@media (max-width: 767px) {
  .main-header {
    position: relative;

    .logo {
      width: 100%;
      float: none;
    }

    .navbar {
      width: 100%;
      float: none;
      margin: 0;
    }

    .navbar-custom-menu {
      float: right;
    }
  }
}

@media (max-width: 991px) {
  .navbar-collapse.pull-left {
    float: none !important;

    + .navbar-custom-menu {
      display: block;
      position: absolute;
      top: 0;
      right: 40px;
    }
  }
}

@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

/* Layout */

.wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  &:before {
    content: " ";
    display: table;
  }

  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.layout-boxed .wrapper {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: relative;
}

/*
   * Content Wrapper - contains the main content
   */

.content-wrapper, .main-footer {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 230px;
  z-index: 820;
}

.layout-top-nav {
  .content-wrapper, .main-footer {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .content-wrapper, .main-footer {
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .sidebar-collapse {
    .content-wrapper, .main-footer {
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .sidebar-open {
    .content-wrapper, .main-footer {
      -webkit-transform: translate(230px, 0);
      -ms-transform: translate(230px, 0);
      -o-transform: translate(230px, 0);
      transform: translate(230px, 0);
    }
  }
}

/*.content-wrapper {
      min-height: 100%;
      background-color: #ecf0f5;
      z-index: 800;
      min-height: 1000px;
      padding: 15px;
  }*/

.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}

/* Fixed layout */

.fixed {
  .main-header, .main-sidebar, .left-side {
    position: fixed;
  }

  .main-header {
    top: 0;
    right: 0;
    left: 0;
  }

  .content-wrapper, .right-side {
    padding-top: 50px;
  }

  &.layout-boxed .wrapper {
    max-width: 100%;
  }

  .wrapper {
    overflow: hidden;
  }
}

@media (max-width: 767px) {
  .fixed {
    .content-wrapper, .right-side {
      padding-top: 100px;
    }
  }
}

.hold-transition {
  .content-wrapper, .right-side, .main-footer, .main-sidebar, .left-side {
    /* Fix for IE */
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .main-header {
    .navbar, .logo {
      /* Fix for IE */
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }

  .menu-open .fa-angle-left {
    /* Fix for IE */
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

/* Content */

.content {
  min-height: 250px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* H1 - H6 font */

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

/* General Links */

a {
  color: #337ab7;

  &:hover, &:active, &:focus {
    outline: none;
    text-decoration: none;
    color: #23527c;
  }
}

/* Page Header */

.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;

  > small {
    color: #666;
    display: block;
    margin-top: 5px;
  }
}

/*
   * Skin: Blue
   * ----------
   */

.skin-blue {
  .main-header {
    .navbar {
      background-color: #3c8dbc;

      .nav {
        > li > a {
          color: #ffffff;

          &:hover, &:active, &:focus {
            background: rgba(0, 0, 0, 0.1);
            color: #f6f6f6;
          }
        }

        .open > a {
          background: rgba(0, 0, 0, 0.1);
          color: #f6f6f6;

          &:hover, &:focus {
            background: rgba(0, 0, 0, 0.1);
            color: #f6f6f6;
          }
        }

        > .active > a {
          background: rgba(0, 0, 0, 0.1);
          color: #f6f6f6;
        }
      }

      .sidebar-toggle {
        color: #ffffff;

        &:hover {
          color: #f6f6f6;
          background: rgba(0, 0, 0, 0.1);
          background-color: #367fa9;
        }

        color: #fff;
      }
    }

    .logo {
      background-color: #3c8dbc;
      color: #ffffff;
      border-bottom: 0 solid transparent;
      height: 61px;
      margin-bottom: 0px;

      &:hover {
        background-color: #357ca5;
      }
    }

    li.user-header {
      background-color: #3c8dbc;
    }
  }

  .content-header {
    background: transparent;
  }

  .wrapper, .main-sidebar, .left-side {
    background-color: #222d32;
  }

  .user-panel > .info {
    color: #fff;

    > a {
      color: #fff;
    }
  }

  .sidebar-menu > li {
    &.header {
      color: #4b646f;
      background: #1a2226;
    }

    > a {
      border-left: 3px solid transparent;
    }

    &:hover > a, &.active > a, &.menu-open > a {
      color: #ffffff;
      background: #1e282c;
    }

    &.active > a {
      border-left-color: #3c8dbc;
    }

    > .treeview-menu {
      margin: 0 1px;
      background: #2c3b41;
      padding-bottom: 5px !important;
    }
  }

  .sidebar a {
    color: #b8c7ce;

    &:hover {
      text-decoration: none;
    }
  }

  .sidebar-menu .treeview-menu > li {
    > a {
      color: #8aa4af;
    }

    &.active > a, > a:hover {
      color: #ffffff;
    }
  }

  .sidebar-form {
    border-radius: 3px;
    border: 1px solid #374850;
    margin: 10px 10px;

    input[type="text"], .btn {
      box-shadow: none;
      background-color: #374850;
      border: 1px solid transparent;
      height: 35px;
    }

    input[type="text"] {
      color: #666;
      border-top-left-radius: 2px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 2px;

      &:focus {
        background-color: #fff;
        color: #666;

        + .input-group-btn .btn {
          background-color: #fff;
          color: #666;
          border-left-color: #fff;
        }
      }
    }

    .btn {
      color: #999;
      border-top-left-radius: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 0;
    }
  }

  &.layout-top-nav .main-header > .logo {
    background-color: #3c8dbc;
    color: #ffffff;
    border-bottom: 0 solid transparent;

    &:hover {
      background-color: #3b8ab8;
    }
  }
}

@media (max-width: 767px) {
  .skin-blue .main-header .navbar .dropdown-menu li {
    &.divider {
      background-color: rgba(255, 255, 255, 0.1);
    }

    a {
      color: #fff;

      &:hover {
        background: #367fa9;
      }
    }
  }
}

/*
   * Component: Control sidebar. By default, this is the right sidebar.
   */

.control-sidebar-bg {
  position: fixed;
  z-index: 1000;
  bottom: 0;
  top: 0;
  right: -230px;
  width: 230px;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
}

.control-sidebar {
  top: 0;
  right: -230px;
  width: 230px;
  -webkit-transition: right 0.3s ease-in-out;
  -o-transition: right 0.3s ease-in-out;
  transition: right 0.3s ease-in-out;
  position: absolute;
  padding-top: 50px;
  z-index: 1010;

  > .tab-content {
    padding: 10px 15px;
  }

  &.control-sidebar-open {
    right: 0;

    + .control-sidebar-bg {
      right: 0;
    }
  }
}

@media (max-width: 768px) {
  .control-sidebar {
    padding-top: 100px;
  }
}

.control-sidebar-open {
  .control-sidebar-bg, .control-sidebar {
    right: 0;
  }
}

@media (min-width: 768px) {
  .control-sidebar-open {
    .content-wrapper, .right-side, .main-footer {
      margin-right: 230px;
    }
  }
}

.fixed .control-sidebar {
  position: fixed;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 50px;
}

.nav-tabs.control-sidebar-tabs > li {
  &:first-of-type > a {
    border-left-width: 0;

    &:hover, &:focus {
      border-left-width: 0;
    }
  }

  > a {
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;

    &:hover {
      border-top: none;
      border-right: none;
      border-left: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }

    .icon {
      font-size: 16px;
    }
  }

  &.active > a {
    border-top: none;
    border-right: none;
    border-bottom: none;

    &:hover, &:focus, &:active {
      border-top: none;
      border-right: none;
      border-bottom: none;
    }
  }
}

@media (max-width: 768px) {
  .nav-tabs.control-sidebar-tabs {
    display: table;

    > li {
      display: table-cell;
    }
  }
}

.control-sidebar-heading {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.control-sidebar-subheading {
  display: block;
  font-weight: 400;
  font-size: 14px;
}

.control-sidebar-menu {
  list-style: none;
  padding: 0;
  margin: 0 -15px;

  > li > a {
    display: block;
    padding: 10px 15px;

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    &:before {
      content: " ";
      display: table;
    }

    &:after {
      content: " ";
      display: table;
      clear: both;
    }

    > .control-sidebar-subheading {
      margin-top: 0;
    }
  }

  .menu-icon {
    float: left;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
  }

  .menu-info {
    margin-left: 45px;
    margin-top: 3px;

    > {
      .control-sidebar-subheading {
        margin: 0;
      }

      p {
        margin: 0;
        font-size: 11px;
      }
    }
  }

  .progress {
    margin: 0;
  }
}

.control-sidebar-dark {
  color: #b8c7ce;
  background: #222d32;

  + .control-sidebar-bg {
    background: #222d32;
  }

  .nav-tabs.control-sidebar-tabs {
    border-bottom: #1c2529;

    > li {
      > a {
        background: #181f23;
        color: #b8c7ce;
        border-left-color: #141a1d;
        border-bottom-color: #141a1d;

        &:hover, &:focus {
          border-left-color: #141a1d;
          border-bottom-color: #141a1d;
        }

        &:hover, &:focus, &:active {
          background: #1c2529;
        }

        &:hover {
          color: #fff;
        }
      }

      &.active > a {
        background: #222d32;
        color: #fff;

        &:hover, &:focus, &:active {
          background: #222d32;
          color: #fff;
        }
      }
    }
  }

  .control-sidebar-heading, .control-sidebar-subheading {
    color: #fff;
  }

  .control-sidebar-menu > li > a {
    &:hover {
      background: #1e282c;
    }

    .menu-info > p {
      color: #b8c7ce;
    }
  }
}

.control-sidebar-light {
  color: #5e5e5e;
  background: #f9fafc;
  border-left: 1px solid #d2d6de;

  + .control-sidebar-bg {
    background: #f9fafc;
    border-left: 1px solid #d2d6de;
  }

  .nav-tabs.control-sidebar-tabs {
    border-bottom: #d2d6de;

    > li {
      > a {
        background: #e8ecf4;
        color: #444444;
        border-left-color: #d2d6de;
        border-bottom-color: #d2d6de;

        &:hover, &:focus {
          border-left-color: #d2d6de;
          border-bottom-color: #d2d6de;
        }

        &:hover, &:focus, &:active {
          background: #eff1f7;
        }
      }

      &.active > a {
        background: #f9fafc;
        color: #111;

        &:hover, &:focus, &:active {
          background: #f9fafc;
          color: #111;
        }
      }
    }
  }

  .control-sidebar-heading, .control-sidebar-subheading {
    color: #111;
  }

  .control-sidebar-menu {
    margin-left: -14px;

    > li > a {
      &:hover {
        background: #f4f4f5;
      }

      .menu-info > p {
        color: #5e5e5e;
      }
    }
  }
}

.hold-transition {
  .content-wrapper, .right-side, .main-footer, .main-sidebar, .left-side {
    /* Fix for IE */
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }

  .main-header {
    .navbar, .logo {
      /* Fix for IE */
      -webkit-transition: none;
      -o-transition: none;
      transition: none;
    }
  }

  .menu-open .fa-angle-left {
    /* Fix for IE */
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}

@media (max-width: 767px) {
  .left-sidebar > .treeview-menu {
    position: initial;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sidebar-collapse .main-sidebar {
    position: absolute;
    left: 230px !important;
    top: -100px;
  }
}

/* gxridLoader css */

.Gridloader {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 90px;
  height: 90px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  z-index: 9999;
}

.gridLoaderDiv {
  background-color: rgba(115, 188, 230, 0.25882352941176473) !important;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


label {
  font-weight: normal !important;
}

/* Custom css */

/*.fa-home:before {
  font-size: 16px !important;
}*/

.box {
  font-size: 14px;
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  &.box-primary {
    border-top-color: #3c8dbc;
  }
}

.box-overflow {
  overflow: hidden;
  padding-bottom: 10px;
}

.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #f4f4f4;
  padding: 10px;
  background-color: #ffffff;
}

.funkyradio-info input {
  &[type="radio"]:checked ~ label:before, &[type="checkbox"]:checked ~ label:before {
    color: #fff;
    background-color: #3c8dbc;
  }
}

.funkyradio {
  input {
    &[type="radio"]:checked ~ label:before {
      content: '\2714';
      font-family: FontAwesome;
      text-indent: .9em;
      color: #fff;
      background-color: #3c8dbc;
    }

    &[type="checkbox"] {
      &:checked ~ label:before {
        content: '\2714';
        font-family: FontAwesome;
        text-indent: .9em;
        color: #fff;
        background-color: #3c8dbc;
      }

      &:empty {
        ~ label {
          position: relative;
          line-height: 2.28em;
          text-indent: 2.75em;
          padding-right: 10px;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }

        display: none;
      }
    }
  }

  label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #3c8dbc;
    font-weight: normal;
  }
}

.funkyradio-info label {
  &:before {
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    content: '';
    width: 2.5em;
    background: #3c8dbc;
    border-radius: 3px 0 0 3px;
  }

  position: relative;
  line-height: 2.28em;
  text-indent: 2.75em;
  padding-right: 4px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 10px;
}

.funkyradio-info-check {
  height: 28px;
  width: 28px;
  background-color: #3c8dbc;
  float: left;
  color: white;
}

.searchdiv {
  margin-right: 10px;
}

.search-text {
  padding-right: 16px;
}

.search-text-width label {
  margin: 5px;
}

.checkbox .control-label {
  font-weight: bold;

  input[type="checkbox"] {
    margin-top: 2.4px;
    margin-left: -19px;
  }
}

.k-autocomplete, .k-combobox, .k-dateinput, .k-datepicker, .k-datetimepicker, .k-dropdown, .k-multiselect, .k-numerictextbox, .k-maskedtextbox, .k-timepicker {
  width: 100%;
}

.helpButton {
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 20px;
}

@media screen and (min-width: 280px) and (max-width: 767px) {
  .helpButton {
    position: absolute;
    top: 45px;
    right: 21px;
    font-size: 20px;
  }

  .skin-blue .main-header .logo {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 3500px) {
  .breadcrumb {
    right: 35px;
  }
}

@media screen and (max-width: 992px) {
  .helpButton {
    top: 47px;
    right: 22px;
  }
}

@media screen and (max-width: 650px) {
  .skin-blue .main-header {
    .HeaderTEquipment {
      display: none;
    }

    .tag-line img {
      width: 150px;
    }
  }
}

@media screen and (max-width: 450px) {
  .skin-blue .main-header {
    .tag-line img {
      width: 150px;
      display:none;
    }
  }
}

@media screen and (max-width: 500px) {
  .searchdiv .input-sm {
    width: 230px;
  }
}

.form-control-static.input-lg,
.form-control-static.input-sm {
  padding-right: 0;
  padding-left: 0;
}

.input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

select.input-sm {
  height: 30px;
  line-height: 30px;
}

textarea.input-sm,
select[multiple].input-sm {
  height: auto;
}

.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(60, 141, 188,.2);
  box-shadow: 0 0 0 0.2rem rgba(60, 141, 188,.2);
}


// Shared-nav-bar Sidebar

.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 20px;

  > shared-nav-menu > li {
    position: relative;
    margin: 0;
    padding: 0;

    > a {
      padding: 12px 5px 12px 15px;
      display: block;

      > {
        .fa, .glyphicon, .ion {
          width: 20px;
        }
      }
    }

    .label {
      margin-right: 5px;
    }

    .badge {
      margin-right: 5px;
      margin-top: 3px;
    }
  }

  > shared-nav-menu > li {
    &.header {
      padding: 10px 25px 10px 15px;
      font-size: 12px;
    }

    > a > {
      .fa-angle-left, .pull-right-container > .fa-angle-left {
        width: auto;
        height: auto;
        padding: 0;
        margin-right: 10px;
        -webkit-transition: transform 0.5s ease;
        -o-transition: transform 0.5s ease;
        transition: transform 0.5s ease;
      }

      .fa-angle-left {
        position: absolute;
        top: 50%;
        right: 10px;
        margin-top: -8px;
      }
    }
  }

  .menu-open > a > {
    .fa-angle-left, .pull-right-container > .fa-angle-left {
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }

  .active > .treeview-menu {
    display: block;
  }
}


.sidebar-menu > shared-nav-menu > li {
  position: relative;

  > a {
    margin-right: 0;

    > span {
      border-top-right-radius: 4px;
      //display: inline-block !important;
    }
  }

  &:not(.treeview) > a > span {
    border-bottom-right-radius: 4px;
    //display: inline-block !important;
  }

  > .treeview-menu {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom-right-radius: 4px;
  }
}

.sidebar-menu {
  > shared-nav-menu > li > {
    a > span, .treeview-menu, a > .pull-right {
      display: none !important;
      -webkit-transform: translateZ(0);
    }
  }

  > shared-nav-menu > li.header {
    display: none !important;
    -webkit-transform: translateZ(0);
  }
}

.sidebar-menu > shared-nav-menu > li:not(.treeview) > a > span {
  display: inline-block !important;
}

.sidebar-collapse .sidebar-menu > shared-nav-menu > li:not(.treeview) > a > span {
  display: none !important;
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > shared-nav-menu > li:hover > {
  a > {
    span {
      top: 0;
      margin-left: -3px;
      padding: 12px 5px 12px 20px;
      background-color: inherit;
      display: inline-block !important;
    }

    .pull-right-container > .label:not(:first-of-type) {
      display: none;
    }
  }

  .treeview-menu {
    top: 44px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > shared-nav-menu > li:hover > {
    a > span:not(.pull-right), .treeview-menu {
      display: block !important;
      position: absolute;
      width: 180px;
      left: 50px;
    }

    a > .pull-right-container {
      position: relative !important;
      float: right;
      width: auto !important;
      left: 180px !important;
      top: -22px !important;
      z-index: 900;
    }
  }
}

.sidebar-menu {
  > shared-nav-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    overflow: visible;
  }
}

.sidebar-menu {
  > shared-nav-menu > li.header {
    overflow: hidden;
    text-overflow: clip;
  }

  > shared-nav-menu > li > a {
    position: relative;

    > .pull-right-container {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -7px;
    }
  }
}

.sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > shared-nav-menu > li:hover > {
  a > {
    span {
      top: 0;
      margin-left: -3px;
      padding: 12px 5px 12px 20px;
      background-color: #222d32 !important;
    }

    .pull-right-container > .label:not(:first-of-type) {
      display: none;
    }
  }

  .treeview-menu {
    top: 44px;
    margin-left: 0;
  }
}

@media (min-width: 768px) {
  .sidebar-mini:not(.sidebar-mini-expand-feature).sidebar-collapse .sidebar-menu > shared-nav-menu > li:hover > {
    a > span:not(.pull-right), .treeview-menu {
      display: block !important;
      position: absolute;
      width: 180px;
      left: 50px;
    }

    a > .pull-right-container {
      position: relative !important;
      float: right;
      width: auto !important;
      left: 180px !important;
      top: -22px !important;
      z-index: 900;
    }
  }
}

.sidebar-menu {
  > shared-nav-menu > li.header {
    white-space: nowrap;
    overflow: hidden;
  }

  &:hover {
    overflow: visible;
  }
}

.sidebar-menu {
  > shared-nav-menu > li.header {
    overflow: hidden;
    text-overflow: clip;
  }

  > shared-nav-menu > li > a {
    position: relative;

    > .pull-right-container {
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -7px;
    }
  }
}

.pageLoaderMain {
  min-height: 55px;
}
