<section *ngIf="groups && !showHide">
  <ng-template ngFor let-item [ngForOf]="groups" let-i="index" [ngForTrackBy]="trackByFn">
    <div class="boxPanel" *ngIf="countNotificationSection(notifications[item] ,'active')">
      <div class="row PanelContent">
        <div class="col-sm-6">
          <div class="timeBox">

            <p>{{item | date:'MMMM y'}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="rightMenu">
            <ul class="pull-right">
              <li>
                <a (click)="restoreAllNotification(notifications[item],item)" style="cursor:pointer">Restore all</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row detailTable" *ngFor="let notification of notifications[item]; let idx = index"
           [ngClass]="{ 'notification-isRead': notification.isRead}" [hidden]="notification.active">
        <div class="col-sm-4">
          <div class="txt imgBox text-left">
            <div class="pull-left" *ngIf="notification.notificationUserAvatar">
              <img src="{{notification.notificationUserAvatar}}" (error)="updateUrl(notification)"/>
            </div>
            <div class="pull-left" *ngIf="!notification.notificationUserAvatar">
              <img src="assets/img/no_avatar.png"/>
            </div>
            <p style="margin-top: 8px;">{{notification.createdByName}}  <!-- {{notification.active}} --></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="txt text-left">
            <a href="javascript:void(0);" (click)="navigateToPage(notification)">
              <p>{{notification.DisplayNotificationText}}</p><br/>
              <span><i class="fa fa-folder-open">{{notification.parentObjectDisplay}}</i></span>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="txt text-right">
            <p>{{notification.createdDateTime | date:'MMMM d,h:mm a'}}</p>
            <span class="newUpdateBtn">
              <i (click)="restoreNotification(notification,idx, item)" class="restoreIcon fa fa-refresh"
                 aria-hidden="true" title="Restore"></i>
            </span>
          </div>
        </div>
      </div>

    </div>

  </ng-template>
</section>
