<kendo-dialog *ngIf="active" (close)="closeForm()" >
    <kendo-dialog-titlebar>
        {{ isNew ? 'Add new PM Schedule' : 'Edit PM Schedule' }}
    </kendo-dialog-titlebar>

    <form novalidate [formGroup]="editForm" class="k-form">
        <div class=" row">
            <div class="col-md-6 col-sm-12">
                <label class="k-form-field">
                    <span>Equipment Name <span class="k-required">*</span></span>
                    <kendo-dropdownlist formControlName="equipmentId"
                                        [data]="filterEquipmentList"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        required
                                        [valuePrimitive]="true"
                                        class="kendoControlWidth"
                                        [filterable]="true"
                                        (filterChange)="EquipmentListHandleFilter($event)">
                    </kendo-dropdownlist>
                    <p class="k-tooltip k-tooltip-validation"
                          [hidden]="editForm.controls.equipmentId.valid || editForm.controls.equipmentId.untouched">
                        Equipment Name is required
                    </p>
                </label>
                <label class="k-form-field">
                    <span>Order Type <span class="k-required">*</span> </span>
                    <kendo-dropdownlist formControlName="orderTypeId"
                                        [data]="filterOrderTypeList"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        required
                                        [valuePrimitive]="true"
                                        class="kendoControlWidth"
                                        [filterable]="true"
                                        (filterChange)="OrderTypeListHandleFilter($event)">
                    </kendo-dropdownlist>
                    <p class="k-tooltip k-tooltip-validation"
                          [hidden]="editForm.controls.orderTypeId.valid || editForm.controls.orderTypeId.untouched">
                        OrderType is required
                    </p>
                </label>
                <label class="k-form-field">
                    <span>Assign To <span class="k-required">*</span></span>
                    <kendo-dropdownlist formControlName="assignTo"
                                        [data]="filterAssignedToList"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        required
                                        [valuePrimitive]="true"
                                        class="kendoControlWidth"
                                        [filterable]="true"
                                        (filterChange)="AssignedToListHandleFilter($event)">
                    </kendo-dropdownlist>
                    <p class="k-tooltip k-tooltip-validation"
                          [hidden]="editForm.controls.assignTo.valid || editForm.controls.assignTo.untouched">
                        Assign To is required
                    </p>
                </label>
                <label class="k-form-field">
                    <span>Due Days <span class="k-required">*</span></span>
                    <input type="number" class="k-textbox" formControlName="dueDays" />
                    <p class="k-tooltip k-tooltip-validation"
                          [hidden]="editForm.controls.dueDays.valid || editForm.controls.dueDays.untouched">
                        DueDays is required
                    </p>
                </label>
                
                <label class="k-form-field" *ngIf ="!this.editForm.controls.active.value">
                    <span>PM Inactive Reason <span class="k-required">*</span></span>
                    <kendo-dropdownlist formControlName="pmInactiveReasonId"
                                        [data]="filterpmInactiveReasonList"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        [valuePrimitive]="true"
                                        class="kendoControlWidth"
                                        [filterable]="true"
                                        (filterChange)="pmInactiveReasonListHandleFilter($event)"
                                        (valueChange)="pmInactiveReasonHandler($event)">
                    </kendo-dropdownlist>
                    <p class="k-tooltip k-tooltip-validation"
                       [hidden]="!pmInResoneRequired">
                        PM Inactive Reason is required
                    </p>
                </label>
            </div>
            <div class="col-md-6 col-sm-12">
                <label class="k-form-field">
                    <span>Schedule Type <span class="k-required">*</span></span>
                    <kendo-dropdownlist formControlName="scheduleTypeId"
                                        [data]="filterScheduleList"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        required
                                        [valuePrimitive]="true"
                                        class="kendoControlWidth"
                                        [filterable]="true"
                                        (filterChange)="ScheduleListHandleFilter($event)">
                    </kendo-dropdownlist>
                    <p class="k-tooltip k-tooltip-validation"
                       [hidden]="editForm.controls.scheduleTypeId.valid || editForm.controls.scheduleTypeId.untouched">
                        ScheduleType is required
                    </p>
                </label>
                <label class="k-form-field">
                    <span>Priority <span class="k-required">*</span></span>
                    <kendo-dropdownlist formControlName="priorityId"
                                        [data]="filterPriorityList"
                                        [textField]="'text'"
                                        [valueField]="'value'"
                                        required
                                        [valuePrimitive]="true"
                                        class="kendoControlWidth"
                                        [filterable]="true"
                                        (filterChange)="PriorityListHandleFilter($event)">
                    </kendo-dropdownlist>
                    <p class="k-tooltip k-tooltip-validation"
                       [hidden]="editForm.controls.priorityId.valid || editForm.controls.priorityId.untouched">
                        Priority is required
                    </p>
                </label>
                <label class="k-form-field">
                    <span>Start Date <span class="k-required">*</span></span>
                    <kendo-datepicker formControlName="startDate"
                                      [format]="'dd-MMM-yyyy'"
                                      required
                                      class="kendoControlWidth"></kendo-datepicker>

                    <p class="k-tooltip k-tooltip-validation"
                       [hidden]="editForm.controls.startDate.valid || editForm.controls.startDate.untouched">
                        StartDate is required
                    </p>
                </label>
                <label class="k-form-field" [style.display]="isNew? 'none': 'block'">
                    <br />
                    <input type="checkbox" id="active" formControlName="active" class="k-checkbox">
                    <label class="k-checkbox-label" for="active" style="margin-top: 10px">&nbsp; Active</label>
                </label>
            </div>
        </div>
    </form>

    <kendo-dialog-actions>
        <button class="k-button" (click)="onCancel($event)">Cancel</button>
        <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
    </kendo-dialog-actions>
</kendo-dialog>
