<kendo-dialog *ngIf="openUserForm" (close)="closeForm()">
  <div *ngIf="userFormLoading" class="Gridloader"></div>
  <kendo-dialog-titlebar>
    {{ isNew ? 'Add new User' : 'Edit User' }}
  </kendo-dialog-titlebar>

  <form novalidate [formGroup]="editForm" class="k-form">
    <div class=" row">
      <div class="col-md-6">
        <label class="k-form-field update-image">
          <img id="userImage" class="userimage" src="{{base64ImgFile}}" />
          <span><i class="fa fa-camera"></i> Update Photo</span>
          <input type="file" id="uploadUserImg" class="filebutton" value='choose' size="3" (change)="onFileChange($event)" #fileInput>
        </label>
        <label class="k-form-field">
          <span>First Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="firstName" />
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.firstName.valid || editForm.controls.firstName.untouched">
            First Name is required
          </p>
        </label>
        <label class="k-form-field">
          <span>Last Name <span class="k-required">*</span></span>
          <input type="text" class="k-textbox" formControlName="lastName" />
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.lastName.valid || editForm.controls.lastName.untouched">
            Last Name is required
          </p>
        </label>
        <label class="k-form-field"></label>
        <span>PIN <span class="k-required">*</span></span>
        <div class="row">
          <div class="col-md-6">
            <input type="text" class="k-textbox user-pin" formControlName="userPIN" (blur)="validateUserPin()" />
          </div>
          <div class="col-md-6">
            <button class="btn btn-success" (click)="findNextPin($event)">Find Next</button>
          </div>
        </div>
        <p class="k-tooltip k-tooltip-validation"
           [hidden]="editForm.controls.userPIN.valid || editForm.controls.userPIN.untouched">
          PIN is required
        </p>
        <p *ngIf="invalidPin" class="k-tooltip k-tooltip-validation">
          Please Enter only digits!
        </p>
        <p *ngIf="isDuplicateUserPinErrorMsg" class="k-tooltip k-tooltip-validation">
          Pin already exist! Find next pin.
        </p>

        <label class="k-form-field" *ngIf="isNew">
          <br />
          <span>Password </span>
          <input type="password" class="k-textbox" formControlName="password" (blur)="validatePassword()" />
          <p *ngIf="invalidPass" class="k-tooltip k-tooltip-validation password-validation-msg">
            Password must be of 8 to 12 characters long,
            contain at least one upper case, one lowercase,
            and one number or special character.
          </p>
        </label>
        
        <label class="k-form-field" *ngIf="!isNew">
          <br />
          <span>Password </span>
          <show-hide-password size="sm" class="col-sm-12 show-hide-password" icon="fontawesome" *ngIf="!isNew">
            <input id="userPassword" class="pull-left" type="password" formControlName="password" (blur)="validatePassword()" />
          </show-hide-password>
          <p *ngIf="invalidPass" class="k-tooltip k-tooltip-validation password-validation-msg">
            Password must be of 8 to 12 characters long,
            contain at least one upper case, one lowercase,
            and one number or special character.
          </p>
        </label>
        
        <label class="k-form-field">
          <span>Email</span>
          <input type="text" class="k-textbox" formControlName="email" />
          <p [hidden]="(editForm.controls.email.valid || editForm.controls.email.untouched) && !invalidateEmail" class="k-tooltip k-tooltip-validation">
            Please Enter a valid Email address!
          </p>
        </label>
        <label class="k-form-field">
          <span>Type <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="userTypeId"
                              [data]="filterUserTypeList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              required
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="userTypeListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.userTypeId.valid || editForm.controls.userTypeId.untouched">
            Type is required
          </p>
        </label>
        <label class="k-form-field">
          <span>Site <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="siteId"
                              [data]="filterSiteList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              required
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="siteListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.siteId.valid || editForm.controls.siteId.untouched">
            Site is required
          </p>
        </label>
      </div>

      <div class="col-md-6">
        <label class="k-form-field">
          <span>Mobile Phone</span>
          <kendo-maskedtextbox [mask]="mask" formControlName="mobilePhone"></kendo-maskedtextbox>
          <!--<p class="k-tooltip k-tooltip-validation"
                 [hidden]="editForm.controls.mobilePhone.valid || editForm.controls.mobilePhone.untouched">
            Please Enter a valid Mobile Number!
          </p>-->
        </label>
       
        <label class="k-form-field">
          <span>Office 365 UserId</span>
          <input type="text" class="k-textbox" formControlName="o365user" />
        </label>
        <label class="k-form-field">
          <span>Office 365 Password</span>
          <input type="password" class="k-textbox" formControlName="o365pw" />
        </label>
        <label class="k-form-field">
          <span>Prox Card Code</span>
          <input type="text" class="k-textbox" formControlName="proxCardCode" />
        </label>
        <label class="k-form-field">
          <span>Supervisor <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="supervisorUserId"
                              [data]="filterUsersList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              required
                              [defaultItem]="{'text':'','value':''}"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="supervisorUserIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.supervisorUserId.valid || editForm.controls.supervisorUserId.untouched">
            Supervisor is required
          </p>
        </label>
        <label class="k-form-field">
          <span>Role <span class="k-required">*</span></span>
          <kendo-dropdownlist formControlName="userRoleId"
                              [data]="filterUserRoleList"
                              [textField]="'text'"
                              [valueField]="'value'"
                              required
                              [defaultItem]="{'text':'','value':''}"
                              [valuePrimitive]="true"
                              class="kendoControlWidth"
                              [filterable]="true"
                              (filterChange)="userRoleIdListHandleFilter($event)">
          </kendo-dropdownlist>
          <p class="k-tooltip k-tooltip-validation"
             [hidden]="editForm.controls.userRoleId.valid || editForm.controls.userRoleId.untouched">
            User Role is required
          </p>
        </label>
        <label class="k-form-field">
            <kendo-switch class="pull-left" formControlName="receiveEmailNotifications" ></kendo-switch> <span>&nbsp; Receive Email Notifications</span>
        </label>
        <label class="k-form-field">
            <kendo-switch class="pull-left" formControlName="receiveSMSNotifications" ></kendo-switch> <span>&nbsp; Receive SMS Notifications</span>
 </label>
        <label class="k-form-field">
            <kendo-switch class="pull-left" formControlName="laborReporting" ></kendo-switch> <span>&nbsp; Labor Reporting</span>
        </label>
        <label class="k-form-field">
            <kendo-switch class="pull-left" formControlName="active" ></kendo-switch> <span>&nbsp; Active</span>
        </label>
        <label class="k-form-field">
          <kendo-switch class="pull-left" formControlName="chgPWDNextLogin" ></kendo-switch> <span>&nbsp; ChangePasswordNextLogin</span>
      </label>
      </div>
    </div>
  </form>
  <kendo-dialog-actions>
    <button class="k-button" (click)="onCancel($event)">Cancel</button>
    <button class="k-button k-primary" [disabled]="!editForm.valid" (click)="onSave($event)">Save</button>
  </kendo-dialog-actions>
</kendo-dialog>
