<section *ngIf="groups && showHide">
  <ng-template ngFor let-item [ngForOf]="groups" let-i="index" [ngForTrackBy]="trackByFn">
    <div class="boxPanel" *ngIf="countNotificationActive(notifications[item] ,'active')">
      <div class="row PanelContent">
        <div class="col-sm-6">
          <div class="timeBox">

            <p>{{item | date:'MMMM y'}}</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="rightMenu">
            <ul class="pull-right">
              <li>
                <a (click)="markAsAllReadNotification(notifications[item],item)" style="cursor:pointer">Mark all as
                  read</a>
                <span><i class="fa fa-circle" style="font-size: 9px;"></i></span>
                <a (click)="clearAllNotification(notifications[item],item)" style="cursor:pointer">Clear all</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row detailTable" *ngFor="let notification of notifications[item]; let idx = index"
           [ngClass]="{ 'notification-isRead': notification.isRead}" [hidden]="!notification.active">
        <div class="col-sm-4">
          <div class="txt imgBox text-left">
            <div class="pull-left" *ngIf="notification.notificationUserAvatar">
              <img src="{{notification.notificationUserAvatar}}" (error)="updateUrl(notification)"/>
            </div>
            <div class="pull-left" *ngIf="!notification.notificationUserAvatar">
              <img src="assets/img/no_avatar.png"/>
            </div>
            <p style="margin-top: 8px;">{{notification.createdByName}}  <!-- {{notification.isPinned}} --></p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="txt text-left">
            <a href="javascript:void(0);" (click)="navigateToPage(notification)">
              <p>{{notification.DisplayNotificationText}}</p><br/>
              <span><i class="fa fa-folder-open">{{notification.parentObjectDisplay}}</i></span>
            </a>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="txt text-right">
            <p>{{notification.createdDateTime | date:'MMMM d,h:mm a'}}</p>
            <span class="newUpdateBtn">
              <i (click)="exclusionOptions(notification,idx, item)" class="fa fa-envelope fa-6 transfom-section"
                 aria-hidden="true" title="Notification Options"></i>
              <i (click)="markAsReadNotification(notification,idx, item)"
                 class="fa fa-long-arrow-down fa-6 transfom-section" aria-hidden="true" title="Mark As Read"></i>
              <i (click)="pinNotification(notification,idx, item,true)" class="restoreIcon fa fa-thumb-tack"
                 aria-hidden="true" title="Pin"></i>
              <i (click)="clearNotification(notification,idx, item)" class="deleteIcon fa fa-times" aria-hidden="true"
                 title="Clear"></i>
            </span>
          </div>
        </div>
      </div>

    </div>

  </ng-template>
</section>
