/*.laburdialog .k-window  {
  max-width: 800px !important;
  max-height: 600px !important;
}*/

legend {
    margin-bottom: 12px !important;
    font-size: 20px !important;
}

div.minheight {
    min-height: 445px;
}

.kendoControlWidth {
    width: 180px !important;
}
